<div class="container">
  <div class="row">
    <div class="col-sm-12">

      <h3>{{'All dates from activity' | translate}}</h3>

      <div ng-controller="ActivityCtrl"
           class="activity-detail detail-category-{{vm.activity.category.main}}">

        <h5 class="category">
          {{vm.activity.category.main | translate}}
          <span class="category-sub"
                ng-repeat="subcat in vm.activity.category.subs">
            / {{subcat.key | translate}}
          </span>
        </h5>

        <h4>
          {{vm.activity.name | languageselect}}
        </h4>

        <!--<h6 class="no-margin-top">-->
        <!--{{'Offered by' | translate}} {{vm.activity.company}}-->
        <!--</h6>-->

        

        <div class="location">
          <div class="input-label">{{'Location' | translate}}:</div>

          <google-map
              center='vm.map.center'
              zoom='vm.map.zoom'
              draggable='true'
              options='vm.map.options'
              >
            <marker
                coords='vm.map.markercoords'
                icon='getMarkerIcon()'
                >
              <marker-label content="vm.activity.name[getAvailableTranslationLanguageKey(vm.activity.name)]"
                            anchor="22 0"
                            class="marker-labels marker-label-category-{{vm.activity.category.main}}"
                  />
            </marker>

          </google-map>

        </div>

        <div class="img-block img-block-right"
             ng-show="vm.activity.images.length > 0"
            >
          <cloudinaryimage ng-repeat="image in vm.activity.images"
                           data-publicid="{{image.public_id}}"
                           data-format="{{image.format}}"
                           data-width="375"
                           data-height="225"
              >
          </cloudinaryimage>
        </div>

        <div class="description">
          <div ta-bind
               ng-model="vm.activity.description[getAvailableTranslationLanguageKey(vm.activity.description)]">
          </div>
        </div>

        <div class="availability">
          <div class="input-label">{{'Availability' | translate}}</div>

          <div class="availability-filter">
            <div class="form-group-inline form-group-inline-5050">
              <div class="form-group date-from">
                <label>{{'from' | translate}}</label>
                <input type="text"
                       class="form-control"
                       ng-model="frontendmap.map.searchStartDate"
                       data-min-date="{{search.minDate}}"
                       placeholder="{{'From' | translate}}"
                       bs-datepicker
                       autoclose="false"
                    >
              </div>
              <div class="form-group date-until">
                <label>{{'until' | translate}}</label>
                <input type="text"
                       class="form-control"
                       ng-model="frontendmap.map.searchEndDate"
                       data-min-date="{{frontendmap.map.searchStartDate}}"
                       data-max-date="{{search.maxDate}}"
                       placeholder="{{'Until' | translate}}"
                       bs-datepicker
                       autoclose="false"
                    >
              </div>
            </div>

            <div class="bookableitem-tags">
              <a class="bookableitem-tag"
                 ng-click="selected1 = !selected1"
                 ng-class="{selected: selected1}"
                  >
                <span class="checkbox-tag"></span>
                Show all
                <span class="numberofitems">1</span>
              </a>

              <a class="bookableitem-tag"
                 ng-click="selected2 = !selected2"
                 ng-class="{selected: selected2}"
                  >
                <span class="checkbox-tag"></span>
                Bookable Item A
                <span class="numberofitems">1</span>
              </a>
            </div>
          </div>

          <div class="divider">
            <span>
              <strong>Today</strong>
              (Tue, May 13 2014)
            </span>
          </div>

          <bookableitemlist data-activity="vm.activity">
          </bookableitemlist>

        </div>

      </div>

    </div>
  </div>
</div>