<div class="event-row"
     ng-repeat="(idx,event) in bookableItem.ref().events | filter:{mode:'!edit'}">
  <div class="event-date cell first">{{moment(event.start).format("ddd, MMM Do YY")}}</div>
  <div class="event-time cell">{{moment(event.start).format("h:mm a")}}</div>
  <!--<div class="event-duration cell">{{event.duration}}h</div>-->
  <div class="event-quantity cell">{{event.quantity}}x</div>
  <div class="listaction cell last">
    <a class="edit"
       ng-click="event.mode = 'edit'">
      <span>edit</span>
    </a>
    <a class="delete"
       ng-click="removeEvent(bookableItem.ref(), idx)">
      <span>delete</span>
    </a>
  </div>
</div>