<div class="newparticipant" data-ng-controller="ParticipantsNewCtrl">

  <div class="new_participant_detail">

    <div class="new_participant_form_wrap">
      <form name="valFormInvite"
            novalidate
            ui-keyup="{27: 'cancelInvitation()'}">

        <!--Participantname-->

        <div class="detail_header edit_detail_header">
          <label for="email">E-Mail:</label>
          <input type="email" name="email" id="email" ng-model="newparticipant.email" placeholder="E-Mail Adresse" required email-not-in-project-already>
          <span ng-show="showError('email', 'email')" class="alert alert-error">Bitte geben Sie eine gültige E-Mail Adresse ein.</span>
          <span ng-show="showError('email', 'notInProject')" class="alert alert-error">Es wurde bereits ein Beteiligter mit dieser E-Mail Adresse zu diesem Projekt eingeladen.</span>
          <span ng-show="showError('email', 'required') || (invitestates.submitted && valFormInvite['email'].$pristine)" class="alert">Bitte füllen Sie dieses Feld aus.</span>
        </div>
        <!--Participantname Ende-->

        <div class="participant_info detail_body">

          <div class="detail_body_innerwrap">
            <div class="table detail_body_content">
              <div class="table_cell left">

                <div class="input_toggle">
                  <p>
                    <label>Vorname:</label>
                    <input type="text" ng-model="newparticipant.firstname" name="firstname" placeholder="Vorname">
                    <!--<span ng-show="showError('firstName') || (invitestates.submitted && valFormInvite['firstName'].$pristine)" class="alert">Bitte geben Sie den Vornamen des Beteiligten an.</span>-->
                  </p>
                  <p>
                    <label>Nachname:</label>
                    <input type="text" ng-model="newparticipant.lastname" name="lastname" placeholder="Nachname">
                    <!--<span ng-show="showError('lastName') || (invitestates.submitted && valFormInvite['lastName'].$pristine)" class="alert">Bitte geben Sie den Nachnamen des Beteiligten an.</span>-->
                  </p>
                </div>
                <span class="divider"></span>
                <div class="input_toggle">
                  <p>
                    <label>Firma:</label>
                    <input type="text" ng-model="newparticipant.company" name="company" placeholder="Firma">
                    <!--<span ng-show="showError('company') || (invitestates.submitted && valFormInvite['company'].$pristine)" class="alert">Bitte geben Sie die Firma des Beteiligten an.</span>-->
                  </p>
                </div>

                <div class="role">
                  <div class="input_label">Rolle:</div>
                  <div roleselector rolesinproject="rolesinproject" participantroles="participantroles" onselect="onRoleSelect(selectionresults)" multiselect="false"></div>
                  <span class="alert" ng-show="invitestates.submitted && invitestates.noroleselected">Bitte wählen Sie eine Rolle aus oder fügen Sie eine neue passende Rolle hinzu</span>
                </div>

              </div>

              <div class="table_cell right">
                <div class="alert alert-info">Der neue Beteiligte bekommt per E-Mail seine Zugangsdaten und hat somit
                  Zugriff auf das Projekt „{{currentProject.title}}“.
                </div>
              </div>

            </div>

          </div>
        </div>

        <div class="buttonbar">

          <a class="button button-spinner"
             ng-class="{disabled: valFormInvite.$invalid || invitestates.noroleselected || invitestates.requestInProgress}"
             ng-click="inviteParticipant(valFormInvite.$valid)"
              >

            <div ng-hide="invitestates.requestInProgress">zum Projekt einladen</div>
            <div class="spinner-wrap" ng-show="invitestates.requestInProgress">
              <div spinner spinnertext="Beteiligter wird zum Projekt eingeladen …" spinnercolor="#ffffff"></div>
            </div>
          </a>

          <a class="cancel"
             data-ng-click="navigateToParticipantsList()"
             ng-hide="invitestates.requestInProgress"
              >
            abbrechen
          </a>

        </div>

      </form>

    </div>

  </div>

  <div data-ng-show="invitestates.onsuccess">
    <p class="alert alert-success alert-large">
      Die Projekteinladung wurde erfolgreich an {{lastinvitedparticipant.email}} versendet.
    </p>
  </div>

  <div class="alert alert-error alert-large" data-ng-show="invitestates.onerror" data-ng-switch="invite.error">
    <div ng-switch-when="userExists">Dieser Beteiligte existiert bereits.</div>
    <div ng-switch-default>Es ist ein Fehler aufgetreten. Der Beteiligte konnte nicht eingeladen werden.</div>
  </div>

</div>




