<div class="headerbar">
  <div class="textsearch">
    <form method="get">
      <label for="id_q">Suche:</label>
      <input type="text" name="q" id="id_q" ng-model="query.searchText" required/>
      <a class="delete" ng-click="query.searchText = '' "><span>Suchfeld löschen</span></a>
    </form>

  </div>
  <div class="searchhits">
    {{ (participantslist | filter:silentParticipant | filter: query.searchText).length }} Treffer
  </div>
</div>

<div class="result">

  <div ng-show="isUserAllowedToAddParticipants">
    <button ng-click="gotoNewParticipantsPage()" class="btn_add_participant">Neuen
      Beteiligten einladen
    </button>
  </div>
  <div ng-hide="isUserAllowedToAddParticipants">
    <p class="alert alert-large block">Sie sind nicht berechtigt neue Beteiligte einzuladen!</p>
  </div>

  <div class="participantlistheader sortable">
    <div class="participantlist_email cell first" ng-class="{active: orderField == 'email', desc: orderField == 'email' && orderReverse}" ng-click="setOrderField('email')">E-Mail</div>
    <div class="participantlist_name cell" ng-class="{active: orderField == 'lastName', desc: orderField == 'lastName' && orderReverse}" ng-click="setOrderField('lastName')">Name</div>
    <div class="participantlist_company cell" ng-class="{active: orderField == 'company', desc: orderField == 'company' && orderReverse}" ng-click="setOrderField('company')">Firma</div>
    <div class="participantlist_role cell last" ng-class="{active: orderField == 'role', desc: orderField == 'role' && orderReverse}" ng-click="setOrderField('role')">Rolle (z.B. Architekt, Statiker, …)</div>
  </div>

  <div class="participantslisting enable_hover"
       ng-repeat="participant in participantslist | filter:silentParticipant | filter:query.searchText | orderBy:orderByField:orderReverse"
       ng-animate="{enter: 'repeat-enter', leave: 'repeat-leave', move: 'repeat-move'}">

    <div class="participant" ng-class="{disabled: !participant.enabled, owner: participant.permission === 'owner'}" data-ng-click="navigateToParticipantDetailPage(participant._id)">
      <div class="email cell first"><span class="icon_state"></span>{{participant.user.email}}</div>
      <div class="name cell even">{{participant.firstname}} {{participant.lastname}}</div>
      <div class="company cell">{{participant.company}}</div>
      <div class="role cell even last">
        <span class="role_tag" ng-repeat="role in participant.roles"> {{role.role}} </span>
      </div>
    </div>
  </div>
</div>
