<div class="col-left-fixed">
  <div data-ng-include="'_language-select.html'"></div>
  <div data-ng-include="'_logo.html'"></div>
  <nav
      data-ng-show="currentUser.authenticated"
      >
    <ul>
      <!--<li>-->
        <!--<a href="#/admin/">Administration overview</a>-->
      <!--</li>-->
      <li>
        <a href="#/admin/myactivities">My Activities</a>
      </li>

      <li ng-show="currentUser.user.userType == 'admin'">
        <a href="#/admin/allActivities">Admin all Activities</a>
      </li>

    </ul>
    <loginstatus></loginstatus>
  </nav>

</div>
<div class="col-right">
  <div data-ng-include="getPagePartial()"></div>
</div>
