<div class="container">
  <div class="row">
    <div class="col-sm-12">

      <h2>{{'Bookings' | translate}}</h2>

      <div class="bookings-list enable_hover">
        <div class="listheader">
          <div class="activity cell first">
            {{'Booked Activity' | translate}}
          </div>
          <div class="category-main cell">
            {{'Booked Item' | translate}}
          </div>
          <div class="category-sub cell">
            {{'Sub Category' | translate}}
          </div>
          <div class="location cell">
            {{'Booked Time' | translate}}
          </div>
          <div class="edit cell last">

          </div>
        </div>

        <div class="listbody">

          <div class="listrow"
               ng-repeat="bookedEvent in bookedEvents"
              >

            <div class="category-sub cell">
              Gebucht am:
              {{bookedEvent.date | momentjs:{format: "ddd, MMM Do YY"} }}
            </div>
            <div class="activity cell first">
              Name der Aktivität:
              {{bookedEvent.activityCopy.name | languageselect}}
            </div>
            <div class="category-sub cell">
              Wann fängt die Aktivität an
              {{bookedEvent.event.start | momentjs:{format: "ddd, MMM Do YY"} }}
            </div>

            <div class="location cell">
              Buchungs Nummer:
              {{ bookedEvent.booking_id }}
            </div>

            <div class="cell whom">
              {{ bookedEvent.quantity }}
            </div>

            <div class="edit cell last align-right">
                {{ bookedEvent.bookingProfile.lastName }}, {{ bookedEvent.bookingProfile.lastName }}
            </div>

            <div class="edit cell last align-right">
              {{ bookedEvent.bookingProfile.email }}
            </div>

            <div class="edit cell last align-right">
              {{ bookedEvent.bookingProfile.tel }}
            </div>

            <div class="edit cell last align-right">
              <a href="#/activities/{{bookedEvent.activity._reference}}/">link</a>
            </div>

          </div>
        </div>


    </div>
  </div>
</div>