<div class="container">
  <div class="row">
    <div class="col-sm-12">

      <h2>{{'Bookings' | translate}}</h2>

      <div class="bookings-list">
        <div class="listheader">
          <div class="bookingdate cell first">
            {{'Booking date' | translate}}
          </div>
          <div class="bookingnumber cell">
            {{'#' | translate}}
          </div>
          <div class="activity cell">
            {{'Activity' | translate}}
          </div>
          <div class="profile cell last">
            {{'Profile' | translate}}
          </div>
        </div>

        <div class="listbody">

          <div class="listrow"
               ng-repeat="bookedEvent in bookedEvents"
              >

            <div class="bookingdate cell first">
              {{bookedEvent.date | momentjs:{format: "ddd, MMM Do YY"} }}
            </div>
            <div class="bookingnumber cell">
              {{ bookedEvent.booking_id }}
            </div>
            <div class="activity cell">
              <span class="activityname">
                <a href="#/activities/{{bookedEvent.activity._reference}}/">
                  {{bookedEvent.activityCopy.name | languageselect}}
                </a>
              </span>
              <span class="activitystart">
                {{bookedEvent.event.start | momentjs:{format: "ddd, MMM Do YY"} }}
              </span>
              <span class="activityquantity">
                {{ 'Quantity' | translate }}:
                {{ bookedEvent.quantity }}
              </span>
            </div>

            <div class="profile cell last">
              <span class="profilename">
                {{ bookedEvent.bookingProfile.firstName }} {{ bookedEvent.bookingProfile.lastName }}
              </span>
              <span class="profileemail">
                {{ bookedEvent.bookingProfile.email }}
              </span>
              <span class="profilephone">
                {{ bookedEvent.bookingProfile.tel }}
              </span>
            </div>

          </div>
        </div>

      </div>
    </div>
  </div>