<div class="container">
  <div class="row">
    <div class="col-sm-12">

      <h2>{{'Activity Providers Overview' | translate}}</h2>

      <filterbar>
        <div class="textsearch">
          <label for="filterbarquery">
            {{'Full text search' | translate }}:
          </label>
          <div class="input-group">
            <span class="input-group-addon">
              <i class="fa fa-search"></i>
            </span>
            <input type="text"
                   ng-model="query"
                   id="filterbarquery"
                   class="form-control"
              >
          </div>
        </div>
      </filterbar>

      <div class="providers-list enable_hover">
        <div class="listheader">

          <div class="company cell first">
            Company
          </div>
          <div class="firstname cell">
            First name
          </div>
          <div class="lastname cell last">
            Last name
          </div>

        </div>

        <div class="listbody">

          <div class="listrow"
               ng-repeat="provider in providers | filter:query"
               ng-click="handleItemClick(provider)"
            >

            <div class="company cell first">
              {{provider.profile.company}}
            </div>
            <div class="firstname cell">
              {{provider.profile.firstName}}
            </div>
            <div class="lastname cell last">
              {{provider.profile.lastName}}
            </div>
          </div>
        </div>

      </div>

    </div>
  </div>
</div>
