<div ng-controller="RegisterCtrl">
  <form class="standardform registerform"
        name="valForm"
        novalidate
      >

    <h2>{{ 'Account' | translate }}</h2>

    <h3>{{ 'Registration' | translate }}</h3>

    <div class="form-group">
      <label for="email">E-mail</label>
      <input name="email"
             ng-model="registrant.email"
             class="input-block-level"
             required
             autofocus
             ng-pattern="/^[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,4}$/"
             placeholder="{{'Your e-mail address' | translate}}"
          >

      <span ng-show="showError('email', 'required')"
            class="alert">{{ 'Please enter your e-mail address.' | translate }}
      </span>
      <span ng-show="showError('email', 'pattern')"
            class="alert alert-error">{{ 'Please enter a valid e-mail address.' | translate }}
      </span>

    </div>
    <div class="form-group">
      <label for="password">{{ 'Password' | translate }}</label>
      <input name="password"
             id="password"
             type="password"
             ng-model="registrant.password"
             required
             password-validate
             class="input-block-level"
             placeholder="{{'Define your password' | translate}}"
          >
      <div class="contentbox pwdvalidation">
        <h6>{{ 'Password must meet the following requirements:' | translate }}</h6>
        <ul>
          <li ng-class="pwdHasUppercaseLetter">
            <span class="icon"></span>
            {{pwdHasUppercaseLetter}} {{ 'At least' | translate }}
            <strong>{{ 'one uppercase letter' | translate }}</strong>
          </li>
          <li ng-class="pwdHasNumber">
            <span class="icon"></span>
            {{pwdHasNumber}} {{ 'At least' | translate }}
            <strong>{{ 'one number' | translate }}</strong>
          </li>
          <li ng-class="pwdValidLength">
            <span class="icon"></span>
            {{pwdValidLength}} {{ 'At least' | translate }}
            <strong>{{ '8 characters long' | translate }}</strong>
          </li>
        </ul>
      </div>
    </div>

    <div class="form-group">
      <label for="passwordRepeat">{{ 'Retype Password' | translate }}</label>
      <input name="passwordRepeat"
             id="passwordRepeat"
             type="password"
             ng-model="registrant.passwordRepeat"
             class="input-block-level"
             repeat-password="password"
             required
             placeholder="{{'Retype your password' | translate}}"
          >

      <span ng-show="showError('passwordRepeat', 'required')"
            class="alert">{{ 'Please retype the password.' | translate }}
      </span>

      <span ng-show="showError('passwordRepeat', 'repeat')"
            class="alert alert-error">{{ 'The passwords have to match.' | translate }}
      </span>

    </div>
    <div>
      <button class="btn"
              ng-class="{disabled: valForm.$invalid}"
              type="submit"
              ng-click="register()">{{ 'Register' | translate }}
      </button>

      <a class="space-left"
         ng-click="gotoLogin()">{{ 'back to login' | translate }}
      </a>
    </div>

    <div class="alert alert-error"
         ng-show="state.registrationfailed"
        >
      {{state.errormessage}}
    </div>

  </form>

</div>
