<div ng-controller="RegisterCtrl">
  <form class="registerform"
        name="valForm"
        novalidate
      >

    <h2>Account</h2>

    <h3>Register</h3>

    <p>
      <label for="email">E-mail</label>
      <input name="email"
             ng-model="registrant.email"
             class="input-block-level"
             required
             autofocus
             ng-pattern="/^[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,4}$/"
          >

      <span ng-show="showError('email', 'required')"
            class="alert">Please enter your email address.
      </span>
      <span ng-show="showError('email', 'pattern')"
            class="alert alert-error">Please enter a valid email address.
      </span>

    </p>
    <p>
      <label for="password">Password</label>
      <input name="password"
             id="password"
             type="password"
             ng-model="registrant.password"
             required
             class="input-block-level"
             password-validate
          >
    <h4>Password must meet the following requirements:</h4>
    <ul>
      <li ng-class="pwdHasUppercaseLetter">{{pwdHasUppercaseLetter}} At least
        <strong>one uppercase letter</strong>
      </li>
      <li ng-class="pwdHasLetter">{{pwdHasLetter}} At least
        <strong>one letter</strong>
      </li>
      <li ng-class="pwdHasNumber">{{pwdHasNumber}} At least
        <strong>one number</strong>
      </li>
      <li ng-class="pwdValidLength">{{pwdValidLength}} At least
        <strong>8 characters long</strong>
      </li>
    </ul>

    </p>

    <p>
      <label for="passwordRepeat">Retype Password</label>
      <input name="passwordRepeat"
             id="passwordRepeat"
             type="password"
             ng-model="registrant.passwordRepeat"
             required
             class="input-block-level"
             validate-equals="registrant.password"
          >

      <span ng-show="showError('passwordRepeat', 'required')"
            class="alert">Please retype the password.
      </span>

      <span ng-show="showError('passwordRepeat', 'equal')"
            class="alert alert-error">The passwords have to match.
      </span>

    </p>

    <button class="btn"
            ng-class="{disabled: valForm.$invalid}"
            type="submit"
            ng-click="register()">Register
    </button>

  </form>

</div>
