<div ng-controller="RegisterCtrl">
  <form class="standardform registerform"
        name="valForm"
        novalidate
      >

    <h2>Account</h2>

    <h3>Registration</h3>

    <div class="form-group">
      <label for="email">E-mail</label>
      <input name="email"
             ng-model="registrant.email"
             class="input-block-level"
             required
             autofocus
             ng-pattern="/^[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,4}$/"
             placeholder="Your e-mail address"
          >

      <span ng-show="showError('email', 'required')"
            class="alert">Please enter your e-mail address.
      </span>
      <span ng-show="showError('email', 'pattern')"
            class="alert alert-error">Please enter a valid e-mail address.
      </span>

    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input name="password"
             id="password"
             type="password"
             ng-model="registrant.password"
             required
             class="input-block-level"
             password-validate
             placeholder="Define your password"
          >
      <div class="contentbox pwdvalidation">
        <h6>Password must meet the following requirements:</h6>
        <ul>
          <li ng-class="pwdHasUppercaseLetter">
            <span class="icon"></span>
            {{pwdHasUppercaseLetter}} At least
            <strong>one uppercase letter</strong>
          </li>
          <li ng-class="pwdHasLetter">
            <span class="icon"></span>
            {{pwdHasLetter}} At least
            <strong>one letter</strong>
          </li>
          <li ng-class="pwdHasNumber">
            <span class="icon"></span>
            {{pwdHasNumber}} At least
            <strong>one number</strong>
          </li>
          <li ng-class="pwdValidLength">
            <span class="icon"></span>
            {{pwdValidLength}} At least
            <strong>8 characters long</strong>
          </li>
        </ul>
      </div>
    </div>

    <div class="form-group">
      <label for="passwordRepeat">Retype Password</label>
      <input name="passwordRepeat"
             id="passwordRepeat"
             type="password"
             ng-model="registrant.passwordRepeat"
             required
             class="input-block-level"
             validate-equals="registrant.password"
             placeholder="Retype your password"
          >

      <span ng-show="showError('passwordRepeat', 'required')"
            class="alert">Please retype the password.
      </span>

      <span ng-show="showError('passwordRepeat', 'equal')"
            class="alert alert-error">The passwords have to match.
      </span>

    </div>

    <button class="btn"
            ng-class="{disabled: valForm.$invalid}"
            type="submit"
            ng-click="register()">Register
    </button>

    <div class="alert alert-error"
         ng-show="state.registrationfailed"
        >
      {{state.errormessage}}
    </div>

  </form>

</div>
