<div ng-controller="RegistrationRegistrationforprovidersCtrl">
  <form class="standardform registerform"
        name="valForm"
        novalidate
      >

    <h2>{{'Account' | translate}}</h2>

    <h3>{{ 'Registration for Activity Providers' | translate }}</h3>

    <div class="form-group">
      <label for="email">{{'E-mail' | translate}}</label>
      <input name="email"
             id="email"
             ng-model="registrant.email"
             class="input-block-level"
             required
             autofocus
             ng-pattern="/^[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,4}$/"
             placeholder="{{'Your e-mail address' | translate}}"
          >

      <span ng-show="showError('email', 'required')"
            class="alert">{{'Please enter your e-mail address.' | translate}}
      </span>
      <span ng-show="showError('email', 'pattern')"
            class="alert alert-error">{{'Please enter a valid e-mail address.' | translate}}
      </span>

    </div>

    <div class="form-group">
      <label for="password">{{'Password' | translate}}</label>
      <input name="password"
             id="password"
             type="password"
             ng-model="registrant.password"
             required
             password-validate
             class="input-block-level"
             placeholder="{{'Define your password' | translate}}"
          >
      <div class="contentbox pwdvalidation">
        <h6>{{'Password must meet the following requirements:' | translate}}</h6>
        <ul>
          <li ng-class="pwdHasUppercaseLetter">
            <span class="icon"></span>
            {{'At least' | translate}}
            <strong>{{'one uppercase letter' | translate}}</strong>
          </li>
          <li ng-class="pwdHasNumber">
            <span class="icon"></span>
            {{'At least' | translate}}
            <strong>{{'one number' | translate}}</strong>
          </li>
          <li ng-class="pwdValidLength">
            <span class="icon"></span>
            {{'At least' | translate}}
            <strong>{{'8 characters long' | translate}}</strong>
          </li>
        </ul>
      </div>
    </div>

    <div class="form-group">
      <label for="passwordRepeat">{{'Retype Password' | translate}}</label>
      <input name="passwordRepeat"
             id="passwordRepeat"
             type="password"
             ng-model="registrant.passwordRepeat"
             class="input-block-level"
             repeat-password="password"
             required
             placeholder="{{'Retype your password' | translate}}"
          >

      <span ng-show="showError('passwordRepeat', 'required')"
            class="alert">{{'Please retype the password.' | translate}}
      </span>

      <span ng-show="showError('passwordRepeat', 'repeat')"
            class="alert alert-error">{{'The passwords have to match.' | translate}}
      </span>

    </div>

    <div class="divider"></div>

    <div class="form-group">
      <label for="company">{{'Company' | translate}}</label>
      <input name="company"
             id="company"
             ng-model="registrant.profile.company"
             class="input-block-level"
             required
             placeholder="{{ 'Your company' | translate }}"
          >

      <span ng-show="showError('company', 'required')"
            class="alert">{{'Please enter your company' | translate}}
      </span>

    </div>
    <div class="form-group-inline form-group-inline-5050">
      <div class="form-group">
        <label for="firstname">{{'First name' | translate}}</label>
        <input name="firstname"
               id="firstname"
               ng-model="registrant.profile.firstName"
               class="input-block-level"
               required
               placeholder="{{ 'Your first name' | translate }}"
            >

        <span ng-show="showError('firstname', 'required')"
              class="alert">{{'Please enter your first name' | translate}}
        </span>

      </div>

      <div class="form-group">
        <label for="lastname">{{'Last name' | translate}}</label>
        <input name="lastname"
               id="lastname"
               ng-model="registrant.profile.lastName"
               class="input-block-level"
               required
               placeholder="{{ 'Your last name' | translate }}"
            >

        <span ng-show="showError('lastname', 'required')"
              class="alert">{{'Please enter your last name' | translate}}
        </span>

      </div>
    </div>

    <div class="form-group">
      <label for="tel">{{'Telephone' | translate}}</label>
      <input name="tel"
             id="tel"
             ng-model="registrant.profile.tel"
             class="input-block-level"
             required
             placeholder="{{ 'Your telephone number' | translate }}"
          >

      <span ng-show="showError('tel', 'required')"
            class="alert">{{'Please enter your telephone number' | translate}}
      </span>

    </div>

    <div class="form-group">
      <label for="fax">{{'Fax' | translate}}</label>
      <input name="fax"
             id="fax"
             ng-model="registrant.profile.fax"
             class="input-block-level"
             placeholder="{{ 'Your fax number' | translate }}"
          >
    </div>


    <div class="form-group">
      <label for="contactpersonname">{{'Name of contact person' | translate}}</label>
      <input name="contactpersonname"
             id="contactpersonname"
             ng-model="registrant.profile.contactperson.name"
             class="input-block-level"
             placeholder="{{ 'Name of contact person' | translate }}"
             required
          >

      <span ng-show="showError('contactpersonname', 'required')"
            class="alert">{{'Please enter the name of the contact person' | translate}}
      </span>
    </div>

    <div class="form-group">
      <label for="uid">{{'UID optional' | translate}}</label>
      <input name="uid"
             id="uid"
             ng-model="registrant.profile.uid"
             class="input-block-level"
             placeholder="{{ 'Your UID number' | translate }}"
          >
    </div>

    <div class="divider">
      <span>{{'Address' | translate}}</span>
    </div>

    <div class="form-group">
      <label for="address">{{'Address' | translate}}</label>
      <input name="address"
             id="address"
             ng-model="registrant.profile.address"
             class="input-block-level"
             required
             placeholder="{{ 'Your address' | translate }}"
          >

      <span ng-show="showError('address', 'required')"
            class="alert">{{'Please enter your address' | translate}}
      </span>

    </div>

    <div class="form-group-inline form-group-inline-2575">
      <div class="form-group">
        <label for="zip">{{'Zip' | translate}}</label>
        <input name="zip"
               id="zip"
               ng-model="registrant.profile.zip"
               class="input-block-level"
               required
               placeholder="{{ 'Your zip code' | translate }}"
            >

        <span ng-show="showError('zip', 'required')"
              class="alert">{{'Please enter your zip code' | translate}}
        </span>

      </div>

      <div class="form-group">
        <label for="city">{{'City' | translate}}</label>
        <input name="city"
               id="city"
               ng-model="registrant.profile.city"
               class="input-block-level"
               required
               placeholder="{{ 'Your city' | translate }}"
            >

        <span ng-show="showError('city', 'required')"
              class="alert">{{'Please enter your city' | translate}}
        </span>

      </div>
    </div>

    <div class="form-group">
      <label for="country">{{'Country' | translate}}</label>
      <input name="country"
             id="country"
             ng-model="registrant.profile.country"
             class="input-block-level"
             required
             placeholder="{{ 'Your country' | translate }}"
          >

      <span ng-show="showError('country', 'required')"
            class="alert">{{'Please enter your country' | translate}}
      </span>

    </div>

    <div class="divider">
      <span>{{'Bank account' | translate}}</span>
    </div>

    <div class="form-group">
      <label for="bank">{{'Bank' | translate}}</label>
      <input name="bank"
             id="bank"
             ng-model="registrant.profile.bankaccount.bank"
             class="input-block-level"
             placeholder="{{ 'Name of your Bank' | translate }}"
             required
          >

      <span ng-show="showError('bank', 'required')"
            class="alert">{{'Please enter the name of your Bank' | translate}}
      </span>
    </div>

    <div class="form-group">
      <label for="iban">{{'IBAN' | translate}}</label>
      <input name="iban"
             id="iban"
             ng-model="registrant.profile.bankaccount.iban"
             class="input-block-level"
             placeholder="{{ 'Your IBAN' | translate }}"
             required
          >

      <span ng-show="showError('iban', 'required')"
            class="alert">{{'Please enter your IBAN' | translate}}
      </span>
    </div>

    <div class="form-group">
      <label for="bic">{{'BIC' | translate}}</label>
      <input name="bic"
             id="bic"
             ng-model="registrant.bankaccount.bic"
             class="input-block-level"
             placeholder="{{ 'Your BIC' | translate }}"
             required
          >

      <span ng-show="showError('bic', 'required')"
            class="alert">{{'Please enter your BIC' | translate}}
      </span>
    </div>

    <div class="form-group">
      <label for="nameofaccountowner">{{'Account owner' | translate}}</label>
      <input name="nameofaccountowner"
             id="nameofaccountowner"
             ng-model="registrant.profile.bankaccount.nameofaccountowner"
             class="input-block-level"
             placeholder="{{ 'Name of account owner' | translate }}"
             required
          >

      <span ng-show="showError('nameofaccountowner', 'required')"
            class="alert">{{'Please enter the name of the account owner' | translate}}
      </span>
    </div>

    <div class="divider"></div>

    <div>
      <button class="btn"
              ng-class="{disabled: valForm.$invalid}"
              type="submit"
              ng-click="register()">{{'Register' | translate}}
      </button>

      <a class="space-left"
         ng-click="gotoLogin()">{{'back to login' | translate}}
      </a>
    </div>

    <div class="alert alert-error"
         ng-show="state.registrationfailed"
        >
      {{state.errormessage | translate}}
    </div>


  </form>

</div>
