<div ng-controller="AdminProfileEditCtrl">

  <h2>{{'Profile' | translate}}</h2>

  <h3>{{'Edit Profile' | translate}}</h3>

  <form name="valForm"
        class="activity-edit"
        novalidate
      >

    <fieldset>
      <legend>{{'Personal data' | translate}}:</legend>
      <div class="form-group">
        <label for="firstname">{{'First name' | translate}}</label>
        <input type="text"
               class="form-control"
               id="firstname"
               name="firstname"
               placeholder="userprofile.firstName"
               ng-model="userprofile.firstName"
               required
            >
        <span ng-show="showError('firstname', 'required')"
              class="alert">{{'Please enter your first name' | translate}}
        </span>
      </div>

      <div class="form-group">
        <label for="lastname">{{'Last name' | translate}}</label>
        <input type="text"
               class="form-control"
               id="lastname"
               name="lastname"
               placeholder="userprofile.lastName"
               ng-model="userprofile.lastName"
               required
            >
        <span ng-show="showError('lastname', 'required')"
              class="alert">{{'Please enter your last name' | translate}}
        </span>
      </div>
    </fieldset>

    <fieldset>
      <legend>{{'Company data' | translate}}:</legend>
      <div class="form-group">
        <label for="company">{{'Company' | translate}}</label>
        <input type="text"
               class="form-control"
               id="company"
               name="company"
               placeholder="userprofile.company"
               ng-model="userprofile.company"
               required
            >
        <span ng-show="showError('company', 'required')"
              class="alert">{{'Please enter your company' | translate}}
        </span>
      </div>

      <div class="form-group">
        <label for="address">{{'Address' | translate}}</label>
        <input type="text"
               class="form-control"
               id="address"
               name="address"
               placeholder="{{'Please enter your address' | translate}}"
               ng-model="userprofile.address"
               required
            >
        <span ng-show="showError('address', 'required')"
              class="alert">{{'Please enter the address of your company.' | translate}}
        </span>
      </div>

      <div class="form-group">
        <label for="city">{{'City' | translate}}</label>
        <input type="text"
               class="form-control"
               id="city"
               name="city"
               placeholder="userprofile.city"
               ng-model="userprofile.city"
               required
            >
        <span ng-show="showError('city', 'required')"
              class="alert">{{'Please enter your city' | translate}}
        </span>
      </div>

      <div class="form-group">
        <label for="zip">{{'Zip' | translate}}</label>
        <input type="text"
               class="form-control"
               id="zip"
               name="zip"
               placeholder="userprofile.zip"
               ng-model="userprofile.zip"
               required
            >
        <span ng-show="showError('zip', 'required')"
              class="alert">{{'Please enter your zip code' | translate}}
        </span>
      </div>

      <div class="form-group">
        <label for="tel">{{'Telephone' | translate}}</label>
        <input type="text"
               class="form-control"
               id="tel"
               name="tel"
               placeholder="userprofile.tel"
               ng-model="userprofile.tel"
               required
            >
        <span ng-show="showError('tel', 'required')"
              class="alert">{{'Please enter your telephone number' | translate}}
        </span>
      </div>

      <div class="form-group">
        <label for="fax">{{'Fax' | translate}}</label>
        <input type="text"
               class="form-control"
               id="fax"
               name="fax"
               placeholder="userprofile.fax"
               ng-model="userprofile.fax"
            >
      </div>

      <div class="form-group">
        <label for="uid">{{'UID optional' | translate}}</label>
        <input type="text"
               class="form-control"
               id="uid"
               name="uid"
               placeholder="userprofile.uid"
               ng-model="userprofile.uid"
            >
      </div>

      <div class="form-group">
        <label for="tel">{{'Country' | translate}}</label>
        <input type="text"
               class="form-control"
               id="country"
               name="country"
               placeholder="userprofile.country"
               ng-model="userprofile.country"
               required
            >
        <span ng-show="showError('country', 'required')"
              class="alert">{{'Please enter your country' | translate}}
        </span>
      </div>

      <div class="form-group">
        <label for="contactpersonname">{{'Name of contact person' | translate}}</label>
        <input type="text"
               class="form-control"
               id="contactpersonname"
               name="contactpersonname"
               placeholder="userprofile.contactperson.name"
               ng-model="userprofile.contactperson.name"
               required
            >
        <span ng-show="showError('contactpersonname', 'required')"
              class="alert">{{'Please enter the name of the contact person' | translate}}
        </span>
      </div>

    </fieldset>

    <div class="buttonbar">
      <a class="btn btn-small"
         ng-click="saveUserProfile()"
          >{{'save user data' | translate}}
      </a>

      <a class="space-left"
         href="#/admin/profile">
        {{'cancel' | translate}}
      </a>

    </div>

  </form>

</div>
