<div ng-controller="AdminProfileEditCtrl">

  <div class="container">
    <div class="row">
      <div class="col-sm-12">

        <h2>{{'Profile' | translate}}</h2>

        <h3>{{'Edit Profile' | translate}}</h3>

        <form name="valForm"
              class="standardform activity-edit"
              novalidate
            >

          <div class="formdata-display">
            <div class="input-label">
              {{'E-mail' | translate}}
            </div>
            <div class="input-content">
              {{user.email}}
            </div>
          </div>

          <div class="form-group-inline form-group-inline-5050">
            <div class="form-group">
              <label for="firstname">{{'First name' | translate}}</label>
              <input name="firstname"
                     id="firstname"
                     ng-model="user.profile.firstName"
                     class="input-block-level"
                     required
                     placeholder="{{ 'Your first name' | translate }}"
                  >

              <span ng-show="showError('firstname', 'required')"
                    class="alert">{{'Please enter your first name' | translate}}
              </span>

            </div>

            <div class="form-group">
              <label for="lastname">{{'Last name' | translate}}</label>
              <input name="lastname"
                     id="lastname"
                     ng-model="user.profile.lastName"
                     class="input-block-level"
                     required
                     placeholder="{{ 'Your last name' | translate }}"
                  >

              <span ng-show="showError('lastname', 'required')"
                    class="alert">{{'Please enter your last name' | translate}}
              </span>

            </div>
          </div>

          <div class="divider">
            <span>{{'Company data' | translate}}</span>
          </div>

          <div class="form-group">
            <label for="company">{{'Company' | translate}}</label>
            <input name="company"
                   id="company"
                   ng-model="user.profile.company"
                   class="input-block-level"
                   required
                   placeholder="{{ 'Your company' | translate }}"
                >

            <span ng-show="showError('company', 'required')"
                  class="alert">{{'Please enter your company' | translate}}
            </span>

          </div>

          <div class="form-group">
            <label for="tel">{{'Telephone' | translate}}</label>
            <input name="tel"
                   id="tel"
                   ng-model="user.profile.tel"
                   class="input-block-level"
                   required
                   placeholder="{{ 'Your telephone number' | translate }}"
                >

            <span ng-show="showError('tel', 'required')"
                  class="alert">{{'Please enter your telephone number' | translate}}
            </span>

          </div>

          <div class="form-group">
            <label for="fax">{{'Fax' | translate}}</label>
            <input name="fax"
                   id="fax"
                   ng-model="user.profile.fax"
                   class="input-block-level"
                   placeholder="{{ 'Your fax number' | translate }}"
                >
          </div>

          <div class="form-group">
            <label for="contactpersonname">{{'Name of contact person' | translate}}</label>
            <input name="contactpersonname"
                   id="contactpersonname"
                   ng-model="user.profile.contactperson.name"
                   class="input-block-level"
                   placeholder="{{ 'Name of contact person' | translate }}"
                   required
                >

            <span ng-show="showError('contactpersonname', 'required')"
                  class="alert">{{'Please enter the name of the contact person' | translate}}
            </span>
          </div>

          <div class="form-group">
            <label for="uid">{{'UID optional' | translate}}</label>
            <input name="uid"
                   id="uid"
                   ng-model="user.profile.uid"
                   class="input-block-level"
                   placeholder="{{ 'Your UID number' | translate }}"
                >
          </div>

          <div class="divider">
            <span>{{'Address' | translate}}</span>
          </div>

          <div class="form-group">
            <label for="address">{{'Address' | translate}}</label>
            <input name="address"
                   id="address"
                   ng-model="user.profile.address"
                   class="input-block-level"
                   required
                   placeholder="{{ 'Your address' | translate }}"
                >

            <span ng-show="showError('address', 'required')"
                  class="alert">{{'Please enter your address' | translate}}
            </span>

          </div>

          <div class="form-group-inline form-group-inline-2575">
            <div class="form-group">
              <label for="zip">{{'Zip' | translate}}</label>
              <input name="zip"
                     id="zip"
                     ng-model="user.profile.zip"
                     class="input-block-level"
                     required
                     placeholder="{{ 'Your zip code' | translate }}"
                  >

              <span ng-show="showError('zip', 'required')"
                    class="alert">{{'Please enter your zip code' | translate}}
              </span>

            </div>

            <div class="form-group">
              <label for="city">{{'City' | translate}}</label>
              <input name="city"
                     id="city"
                     ng-model="user.profile.city"
                     class="input-block-level"
                     required
                     placeholder="{{ 'Your city' | translate }}"
                  >

              <span ng-show="showError('city', 'required')"
                    class="alert">{{'Please enter your city' | translate}}
              </span>

            </div>
          </div>

          <div class="form-group">
            <label for="country">{{'Country' | translate}}</label>
            <input name="country"
                   id="country"
                   ng-model="user.profile.country"
                   class="input-block-level"
                   required
                   placeholder="{{ 'Your country' | translate }}"

                   ng-options="country as country.name for country in Countrylist.get()"
                   value="{{user.profile.country.name}}"
                   bs-typeahead
                >

            <span ng-show="showError('country', 'required')"
                  class="alert">{{'Please enter your country' | translate}}
            </span>

          </div>

          <!--
                    <fieldset>
                      <legend>{{'Personal data' | translate}}:</legend>
                      <div class="form-group">
                        <label for="firstname">{{'First name' | translate}}</label>
                        <input type="text"
                               class="form-control"
                               id="firstname"
                               name="firstname"
                               placeholder="{{'First name' | translate}}"
                               ng-model="user.profile.firstName"
                               required
                            >
                        <span ng-show="showError('firstname', 'required')"
                              class="alert">{{'Please enter your first name' | translate}}
                        </span>
                      </div>

                      <div class="form-group">
                        <label for="lastname">{{'Last name' | translate}}</label>
                        <input type="text"
                               class="form-control"
                               id="lastname"
                               name="lastname"
                               placeholder="{{'Last name' | translate}}"
                               ng-model="user.profile.lastName"
                               required
                            >
                        <span ng-show="showError('lastname', 'required')"
                              class="alert">{{'Please enter your last name' | translate}}
                        </span>
                      </div>
                    </fieldset>

                    <fieldset>
                      <legend>{{'Company data' | translate}}:</legend>
                      <div class="form-group">
                        <label for="company">{{'Company' | translate}}</label>
                        <input type="text"
                               class="form-control"
                               id="company"
                               name="company"
                               placeholder="{{'Company' | translate}}"
                               ng-model="user.profile.company"
                               required
                            >
                        <span ng-show="showError('company', 'required')"
                              class="alert">{{'Please enter your company' | translate}}
                        </span>
                      </div>

                      <div class="form-group">
                        <label for="address">{{'Address' | translate}}</label>
                        <input type="text"
                               class="form-control"
                               id="address"
                               name="address"
                               placeholder="{{'Address' | translate}}"
                               ng-model="user.profile.address"
                               required
                            >
                        <span ng-show="showError('address', 'required')"
                              class="alert">{{'Please enter the address of your company.' | translate}}
                        </span>
                      </div>

                      <div class="form-group">
                        <label for="city">{{'City' | translate}}</label>
                        <input type="text"
                               class="form-control"
                               id="city"
                               name="city"
                               placeholder="{{'City' | translate}}"
                               ng-model="user.profile.city"
                               required
                            >
                        <span ng-show="showError('city', 'required')"
                              class="alert">{{'Please enter your city' | translate}}
                        </span>
                      </div>

                      <div class="form-group">
                        <label for="zip">{{'Zip' | translate}}</label>
                        <input type="text"
                               class="form-control"
                               id="zip"
                               name="zip"
                               placeholder="{{'Zip' | translate}}"
                               ng-model="user.profile.zip"
                               required
                            >
                        <span ng-show="showError('zip', 'required')"
                              class="alert">{{'Please enter your zip code' | translate}}
                        </span>
                      </div>

                      <div class="form-group">
                        <label for="tel">{{'Telephone' | translate}}</label>
                        <input type="text"
                               class="form-control"
                               id="tel"
                               name="tel"
                               placeholder="{{'Telephone' | translate}}"
                               ng-model="user.profile.tel"
                               required
                            >
                        <span ng-show="showError('tel', 'required')"
                              class="alert">{{'Please enter your telephone number' | translate}}
                        </span>
                      </div>

                      <div class="form-group">
                        <label for="fax">{{'Fax' | translate}}</label>
                        <input type="text"
                               class="form-control"
                               id="fax"
                               name="fax"
                               placeholder="{{'Fax' | translate}}"
                               ng-model="user.profile.fax"
                            >
                      </div>

                      <div class="form-group">
                        <label for="uid">{{'UID optional' | translate}}</label>
                        <input type="text"
                               class="form-control"
                               id="uid"
                               name="uid"
                               placeholder="{{'UID optional' | translate}}"
                               ng-model="user.profile.uid"
                            >
                      </div>

                      <div class="form-group">
                        <label for="tel">{{'Country' | translate}}</label>
                        <input type="text"
                               class="form-control"
                               id="country"
                               name="country"
                               placeholder="{{'Country' | translate}}"
                               ng-model="user.profile.country"
                               required
                            >
                        <span ng-show="showError('country', 'required')"
                              class="alert">{{'Please enter your country' | translate}}
                        </span>
                      </div>

                      <div class="form-group">
                        <label for="contactpersonname">{{'Name of contact person' | translate}}</label>
                        <input type="text"
                               class="form-control"
                               id="contactpersonname"
                               name="contactpersonname"
                               placeholder="{{'Name of contact person' | translate}}"
                               ng-model="user.profile.contactperson.name"
                               placeholder="{{'Please enter the name of the contact person' | translate}}"
                               required
                            >

                        <span ng-show="showError('contactpersonname', 'required')"
                              class="alert">{{'Please enter the name of the contact person' | translate}}
                        </span>
                      </div>

                    </fieldset>
          -->

          <p class="alert alert-large alert-error"
             ng-if="valForm.$valid === false">
            <b>{{'Please fill out the form correctly' | translate}}</b>
          </p>
          <p class="alert alert-large alert-error"
             ng-if="state.savesuccess === false">
            <b>{{'Your changes could not be saved, there was an error' | translate}}</b>
          </p>

          <div class="buttonbar">
            <a class="btn btn-small"
               ng-class="{disabled: valForm.$invalid}"
               ng-click="saveUserProfile()"
                >
              {{'save user data' | translate}}
            </a>

            <a class="space-left"
               href="#/admin/profile">
              {{'cancel' | translate}}
            </a>

          </div>

        </form>

      </div>
    </div>
  </div>

</div>
