<div class="container">
  <div class="row">
    <div class="col-sm-12">

      <h2>{{'Profile' | translate}}</h2>

      <h3>{{'Edit Profile' | translate}}</h3>

      <h4>{{'Personal data' | translate}}:</h4>

      <div class="formdata-display">
        <div class="input-label">
          {{'Name' | translate}}
        </div>
        <div class="input-content">
          {{user.profile.firstName}}
          {{user.profile.lastName}}
        </div>
      </div>

      <div ng-show="user.userType === 'provider' || user.userType === 'admin'"> REMOVE ADMIN AFTER TESTING

        <h4>{{'Company data' | translate}}:</h4>

        <div class="formdata-display">
          <div class="input-label">
            {{'Company' | translate}}
          </div>
          <div class="input-content">
            {{user.profile.company}}
          </div>
        </div>
        <div class="formdata-display">

          <div class="input-label">
            {{'Address' | translate}}
          </div>
          <div class="input-content">
            {{user.profile.address}}
          </div>
        </div>
        <div class="formdata-display">

          <div class="input-label">
            {{'City' | translate}}
          </div>
          <div class="input-content">
            {{user.profile.city}}
          </div>
        </div>
        <div class="formdata-display">

          <div class="input-label">
            {{'Zip' | translate}}
          </div>
          <div class="input-content">
            {{user.profile.zip}}
          </div>
        </div>
        <div class="formdata-display">

          <div class="input-label">
            {{'Telephone' | translate}}
          </div>
          <div class="input-content">
            {{user.profile.tel}}
          </div>
        </div>
        <div class="formdata-display">

          <div class="input-label">
            {{'Fax' | translate}}
          </div>
          <div class="input-content">
            {{user.profile.fax}}
          </div>
        </div>
        <div class="formdata-display">

          <div class="input-label">
            {{'UID optional' | translate}}
          </div>
          <div class="input-content">
            {{user.profile.uid}}
          </div>
        </div>
        <div class="formdata-display">

          <div class="input-label">
            {{'Country' | translate}}
          </div>
          <div class="input-content">
            {{user.profile.country}}
          </div>
        </div>
        <div class="formdata-display">

          <div class="input-label">
            {{'Name of contact person' | translate}}
          </div>
          <div class="input-content">
            {{user.profile.contactperson.name}}
          </div>
        </div>
        <div class="buttonbar buttonbar-top">
          <a class="btn btn-small"
             href="#/admin/profile/edit/">{{'edit' | translate}}
          </a>
        </div>

      </div>

    </div>
  </div>
</div>
