<div class="container">
  <div class="row">
    <div class="col-sm-12">

      <h2>{{'Profile' | translate}}</h2>


      <h4>{{'Personal data' | translate}}:</h4>

      <div class="formdata-display">
        <div class="input-label">
          {{'E-mail' | translate}}
        </div>
        <div class="input-content">
          {{user.email}}
        </div>
      </div>

      <div class="formdata-display">
        <div class="input-label">
          {{'Name' | translate}}
        </div>
        <div class="input-content">
          {{user.profile.firstName}}
          {{user.profile.lastName}}
        </div>
      </div>


<!--      <div class="formdata-display">
        <div class="input-label">
          {{'language' | translate}}
        </div>
        <div class="input-content">
          {{user.language}}
        </div>
      </div>
      <div class="formdata-display">
        <div class="input-label">
          {{'currency' | translate}}
        </div>
        <div class="input-content">
          {{user.currency}}
        </div>
      </div>-->

      <div ng-show="user.userType === 'provider' || user.userType === 'admin'">

        <h4>{{'Company data' | translate}}:</h4>

        <div class="formdata-display">
          <div class="input-label">
            {{'Company' | translate}}
          </div>
          <div class="input-content">
            {{user.profile.company}}
          </div>
        </div>
        <div class="formdata-display">

          <div class="input-label">
            {{'Address' | translate}}
          </div>
          <div class="input-content">
            {{user.profile.address}}
            <br/>
            {{user.profile.zip}} {{user.profile.city}}
            <br/>
            {{user.profile.country.name}}, {{user.profile.country.code}}
          </div>
        </div>
        <div class="formdata-display">

          <div class="input-label">
            {{'Telephone' | translate}}
          </div>
          <div class="input-content">
            {{user.profile.tel}}
          </div>
        </div>
        <div class="formdata-display">

          <div class="input-label">
            {{'Fax' | translate}}
          </div>
          <div class="input-content">
            {{user.profile.fax}}
          </div>
        </div>
        <div class="formdata-display">

          <div class="input-label">
            {{'UID optional' | translate}}
          </div>
          <div class="input-content">
            {{user.profile.uid}}
          </div>
        </div>
        <div class="formdata-display">

          <div class="input-label">
            {{'Name of contact person' | translate}}
          </div>
          <div class="input-content">
            {{user.profile.contactperson.name}}
          </div>
        </div>

        <div class="buttonbar buttonbar-default">
          <a class="btn"
             href="#/admin/profile/edit/">
            {{'Edit your Profile' | translate}}
          </a>
        </div>

      </div>

    </div>
  </div>
</div>
