<h4>{{'Personal data' | translate}}:</h4>

<div class="formdata-display">
  <div class="input-label">
    {{'E-mail' | translate}}
  </div>
  <div class="input-content">
    {{user.email}}
  </div>
</div>

w
<div class="formdata-display">

  <div class="input-label">
    {{'Promotioncode' | translate}}
  </div>
  <div class="input-content promocode">
    {{user.promotion.promocode}}
  </div>
</div>

<div class="formdata-display"
     ng-show="user.acl.sales"
  >

  <div class="input-label">
    {{'Userrole' | translate}}
  </div>
  <div class="input-content">
    <h5 class="no-margin-top">
      <span class="label label-info label-lg">
        {{'Salesman' | translate}}
      </span>
    </h5>
  </div>
</div>

<!--      <div class="formdata-display">
        <div class="input-label">
          {{'language' | translate}}
        </div>
        <div class="input-content">
          {{user.language}}
        </div>
      </div>
      <div class="formdata-display">
        <div class="input-label">
          {{'currency' | translate}}
        </div>
        <div class="input-content">
          {{user.currency}}
        </div>
      </div>-->

<div ng-show="user.userType === 'provider' || user.userType === 'admin'">

  <h4>{{'Company data' | translate}}:</h4>

  <div class="formdata-display">
    <div class="input-label">
      {{'Company' | translate}}
    </div>
    <div class="input-content">
      {{user.profile.company}}
    </div>
  </div>
  <div class="formdata-display">

    <div class="input-label">
      {{'Address' | translate}}
    </div>
    <div class="input-content">
      {{user.profile.address}}
      <br/>
      {{user.profile.zip}} {{user.profile.city}}
      <br/>
      {{user.profile.country.name}}, {{user.profile.country.code}}
    </div>
  </div>
  <div class="formdata-display">

    <div class="input-label">
      {{'Telephone' | translate}}
    </div>
    <div class="input-content">
      {{user.profile.tel}}
    </div>
  </div>
  <div class="formdata-display">

    <div class="input-label">
      {{'Fax' | translate}}
    </div>
    <div class="input-content">
      {{user.profile.fax}}
    </div>
  </div>
  <div class="formdata-display">

    <div class="input-label">
      {{'UID optional' | translate}}
    </div>
    <div class="input-content">
      {{user.profile.uid}}
    </div>
  </div>
  <div class="formdata-display">

    <div class="input-label">
      {{'Name of contact person' | translate}}
    </div>
    <div class="input-content">
      {{user.profile.contactperson.name}}
    </div>
  </div>

</div>
