<div class="page" ng-show="!isAuthenticated">
  <div class="authpage">
    <div class="innerwrap">
      <h1>Passwort vergessen?</h1>

      <div ng-hide="passwordrequestsuccess">
        <form name="valForm"
              novalidate
              class="registrationform"
              ui-keyup="{27: 'cancel()'}">

          <label>E-Mail</label>

          <p>
            <input type="email" name="email" ng-model="user.email" required>
            <span ng-show="showError('email', 'required')" class="alert">Bitte füllen Sie dieses Feld aus.</span>
            <span ng-show="showError('email', 'email')" class="alert alert-error">Bitte geben Sie eine gültige E-Mail Adresse ein.</span>
          </p>
          <div class="buttonbar">
            <button ng-click="send()" ng-disabled="!canSave()">Neues Passwort zusenden</button>
            <a class="cancel" ng-click="cancel()">zurück zum Login</a>
          </div>

        </form>

      </div>

      <div ng-show="passwordrequestsuccess">
        <p class="alert alert-success">Das neue Passwort wurde an {{user.email}} versendet.</p>

        <div class="buttonbar backto">
          <a ng-click="gotoLogin()">zurück zum Login</a>
        </div>
      </div>

      <div ng-show="passwordrequestsuccess === false">
        <p class="alert alert-error">Es ist ein Fehler aufgetreten. Das Passwort konnte nicht zugesendet werden.</p>
      </div>

    </div>
  </div>

</div>
