<div class="page"
     ng-show="!isAuthenticated">
  <div class="authpage">
    <div class="innerwrap">
      <h1>Passwort vergessen?</h1>

      <form name="valForm"
            novalidate
            class="registrationform"
            ui-keyup="{27: 'cancel()'}">
        <div ng-hide="passwordrequestsuccess">

          <label>E-Mail</label>

          <p>
            <input ng-pattern="/^[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,4}$/"
                   name="email"
                   id="email"
                   placeholder="E-Mail Adresse"
                   ng-model="user.email"
                   required
                >
            <span ng-show="showError('valForm', 'email', 'pattern')"
                  class="alert alert-error">Bitte geben Sie eine gültige E-Mail Adresse ein.
            </span>
            <span ng-show="showError('valForm', 'email', 'required')"
                  class="alert">Bitte füllen Sie dieses Feld aus.
            </span>
          </p>
          <div class="buttonbar">
            <button ng-click="send()"
                    ng-disabled="!canSave()">Neues Passwort zusenden
            </button>
            <a class="cancel"
               ng-click="cancel()">zurück zum Login
            </a>
          </div>
        </div>

        <!--<div ng-show="passwordrequestsuccess">-->
          <!--<p class="alert alert-success">Das neue Passwort wurde an {{user.email}} versendet.</p>-->

          <!--<div class="buttonbar backto">-->
            <!--<a ng-click="gotoLogin()">zurück zum Login</a>-->
          <!--</div>-->
        <!--</div>-->

        <div ng-show="passwordrequestsuccess === false">
          <p class="alert alert-error">Es ist ein Fehler aufgetreten.
                                       Das Email zum Zurücksetzen des Passworts konnte nicht verschickt werden.
                                       Bitte wenden Sie sich an das Planfred Support Team.</p>
        </div>
      </form>
    </div>

    <div>                       <!-- ng-show="passwordrequestsuccess" -->
      <form name="newPasswordForm">
        <p>Geben Sie Ihr neues Passwort hier ein</p>

        <p>
          <label for="password">Passwort</label>
          <input name="password"
                 id="password"
                 type="password"
                 ng-model="settingnew.password"
                 required
                 class="input-block-level">
          <span ng-show="showError('newPasswordForm', 'password', 'required')"
                class="alert">Bitte füllen Sie dieses Feld aus.
          </span>
        </p>

        <p>
          <label for="passwordrepeat">Passwort wiederholen</label>
          <input name="passwordrepeat"
                 id="passwordrepeat"
                 type="password"
                 ng-model="settingnew.passwordrepeat"
                 required
                 class="input-block-level"
                 validate-equals="settingnew.password"
              >

          <span ng-show="showError('newPasswordForm', 'passwordrepeat', 'equal')"
                class="alert alert-error">Die Passwörter stimmen nicht überein.
          </span>
          <span ng-show="showError('newPasswordForm', 'passwordrepeat', 'required')"
                class="alert">Bitte füllen Sie dieses Feld aus.
          </span>

        </p>

        <button class="btn"
                type="submit"
                ng-click="setNewPassword()">Neues Passwort speichern
        </button>
      </form>
    </div>

  </div>

</div>
