<div data-ng-controller="ForgotPasswordSetPasswordCtrl">
  <h2>Account</h2>

  <form name="valForm"
        class="standardform newpasswordform"
        novalidate
        ng-hide="status.setnewpasswordsuccess === true"
      >
    <h3>Enter your new password</h3>

    <div class="form-group">
      <label for="password">New Password</label>
      <input name="password"
             id="password"
             type="password"
             ng-model="userdata.password"
             required
             password-validate
             placeholder="Your new password"
             class="input-block-level"
          >
    </div>

    <passwordvalidation class="contentbox pwdvalidation">
      <h6>Password must meet the following requirements:</h6>
      <ul>
        <li ng-class="pwdHasUppercaseLetter">
          <span class="icon"></span>
          {{pwdHasUppercaseLetter}} At least
          <strong>one uppercase letter</strong>
        </li>
        <li ng-class="pwdHasNumber">
          <span class="icon"></span>
          {{pwdHasNumber}} At least
          <strong>one number</strong>
        </li>
        <li ng-class="pwdValidLength">
          <span class="icon"></span>
          {{pwdValidLength}} At least
          <strong>8 characters long</strong>
        </li>
      </ul>
    </passwordvalidation>

    <div class="form-group">
      <label for="passwordrepeat">Repeat new password</label>
      <input name="passwordrepeat"
             id="passwordrepeat"
             type="password"
             ng-model="userdata.passwordrepeat"
             placeholder="Retype your new password"
             class="input-block-level"
             repeat-password="password"
             required
          >

      <span ng-show="showError('passwordrepeat', 'repeat')"
            class="alert alert-error">Passwords don't match.
      </span>

      <span ng-show="showError('passwordrepeat', 'required')"
            class="alert">Please fill out this field.
      </span>

    </div>

    <button class="btn"
            type="submit"
            ng-click="setNewPassword()"
            ng-class="{disabled: valForm.$invalid}"
        >
      Save new password
    </button>
  </form>

  <div ng-show="status.setnewpasswordsuccess === true">
    <p class="alert alert-success">The new password was successfully saved.</p>

    <div class="buttonbar backto">
      <a ng-click="gotoLogin()">back to login</a>
    </div>
  </div>

  <div ng-show="status.setnewpasswordsuccess === false">
    <p class="alert alert-error">
      An error happened. The new password could not be saved.
    </p>

    <div ng-show="status.savepwderror === 'invalidPwd'">
      <p class="alert alert-error">
        The password has to contain at least one capital letter,
        one number and has to have a minimum length of 8.
      </p>
    </div>

  </div>
</div>