<div data-ng-controller="ForgotPasswordSetPasswordCtrl">
  <h2>{{'Account' | translate }}</h2>

  <form name="valForm"
        class="standardform newpasswordform"
        novalidate
        ng-hide="status.setnewpasswordsuccess === true"
      >
    <h3>{{'Enter your new password' | translate }}</h3>

    <div class="form-group">
      <label for="password">New Password' | translate }}</label>
      <input name="password"
             id="password"
             type="password"
             ng-model="userdata.password"
             required
             password-validate
             placeholder="{{'Your new password' | translate}}"
             class="input-block-level"
          >
    </div>

    <passwordvalidation class="contentbox pwdvalidation">
      <h6>{{'Password must meet the following requirements' | translate }}</h6>
      <ul>
        <li ng-class="pwdHasUppercaseLetter">
          <span class="icon"></span>
          {{pwdHasUppercaseLetter}} {{'At least' | translate }}
          <strong>{{'one uppercase letter' | translate }}</strong>
        </li>
        <li ng-class="pwdHasNumber">
          <span class="icon"></span>
          {{pwdHasNumber}} {{'At least' | translate }}
          <strong>{{'one number' | translate }}</strong>
        </li>
        <li ng-class="pwdValidLength">
          <span class="icon"></span>
          {{pwdValidLength}} {{'At least' | translate }}
          <strong>{{'8 characters long' | translate }}</strong>
        </li>
      </ul>
    </passwordvalidation>

    <div class="form-group">
      <label for="passwordrepeat">{{'Repeat new password' | translate }}</label>
      <input name="passwordrepeat"
             id="passwordrepeat"
             type="password"
             ng-model="userdata.passwordrepeat"
             placeholder="{{'Retype your new password' | translate}}"
             class="input-block-level"
             repeat-password="password"
             required
          >

      <span ng-show="showError('passwordrepeat', 'repeat')"
            class="alert alert-error">{{'Passwords dont match' | translate }}
      </span>

      <span ng-show="showError('passwordrepeat', 'required')"
            class="alert">{{'Please fill out this field' | translate }}
      </span>

    </div>

    <button class="btn"
            type="submit"
            ng-click="setNewPassword()"
            ng-class="{disabled: valForm.$invalid}"
        >
      {{'Save new password
    </button>
  </form>

  <div ng-show="status.setnewpasswordsuccess === true">
    <p class="alert alert-success">{{'The new password was successfully saved' | translate }}</p>

    <div class="buttonbar backto">
      <a ng-click="gotoLogin()">{{'back to login' | translate }}</a>
    </div>
  </div>

  <div ng-show="status.setnewpasswordsuccess === false">
    <p class="alert alert-error">
      {{'An error happened. The new password could not be saved' | translate }}
    </p>

    <div ng-show="status.savepwderror === 'invalidPwd'">
      <p class="alert alert-error">
        {{'password requirements'' | translate }}
      </p>
    </div>

  </div>
</div>