<div class="page">
<div class="authpage">
  <div class="innerwrap">

    <div ng-hide="onsuccess">
      <form name="valForm"
            novalidate
            class="registrationform"
            ui-keyup="{27: 'cancel()'}">

        <h1>Passwort ändern</h1>

        <p>
          <label>Neues Passwort</label>
          <input type="password" name="password" ng-model="user.password" required>
          <span ng-show="showError('password', 'required')" class="alert">Bitte füllen Sie dieses Feld aus.</span>
        </p>

        <p>
          <label>Neues Passwort wiederholen</label>
          <input type="password" name="passwordRepeat" ng-model="password" required
                 validate-equals="user.password">
          <span ng-show="showError('passwordRepeat', 'equal')" class="alert alert-error">Die Passwörter stimmen nicht überein.</span>
          <span ng-show="showError('passwordRepeat', 'required')" class="alert">Bitte füllen Sie dieses Feld aus.</span>
        </p>
        <div class="buttonbar">
          <button ng-click="state.requestInProgress || save()" ng-disabled="state.requestInProgress || !canSave()">
            Passwort aktualisieren
          </button>
          <a class="cancel" data-ng-click="gotoAccountPage()">abbrechen</a>
        </div>

      </form>
    </div>

    <div ng-show="state.onsuccess">
      <h1>Passwort ändern</h1>

      <p class="alert alert-success">Ihr Passwort wurde erfolgreich aktualisiert.</p>

      <div class="buttonbar backto">
        <a data-ng-click="gotoAccountPage()">zurück zu meinen Benutzerdaten</a>
      </div>
    </div>

    <div ng-show="state.onfail">
      <h1>Passwort ändern</h1>

      <p class="alert alert-error">Es ist ein Fehler aufgetreten. Das Passwort konnte nicht aktualisiert
        werden. Versuchen Sie es bitte noch einmal!</p>
    </div>

  </div>
</div>
</div>