<div class="container">
  <div class="row">
    <div class="col-sm-12">

      <!--<h3>{{'All dates from activity' | translate}}</h3>-->

      <div ng-controller="ActivityCtrl"
           class="activity-detail detail-category-{{vm.activity.category.main}}">

        <!-- ## TITLE & DESCRIPTION ################################################################################ -->

        <h3 class="title">
          {{vm.activity.name | languageselect}}
        </h3>

        <h5 class="category">
          {{vm.activity.category.main | translate}}
          <span class="category-sub"
                ng-repeat="subcat in vm.activity.category.subs">
            / {{subcat.key | translate}}
          </span>
        </h5>

        <h6 class="no-margin-top">
          {{'Offered by' | translate}}
          <activityowner activity="vm.activity"></activityowner>
        </h6>
        <h5 class="shortdescription">
          {{vm.activity.shortdescription[getAvailableTranslationLanguageKey(vm.activity.shortdescription)]}}
        </h5>

        <div class="description"
             ng-bind-html="vm.activity.description[getAvailableTranslationLanguageKey(vm.activity.description)] | nohtml | linebreak"
        >
        </div>

        <!-- ## LOCATION / MAP ##################################################################################### -->

        <div class="location">
          <div class="input-label">{{'Location' | translate}}:</div>

          <ui-gmap-google-map
              center='vm.map.center'
              zoom='vm.map.zoom'
              draggable='true'
              options='vm.map.options'
          >

            <ui-gmap-marker
                coords='vm.map.markercoords'
                icon='getMarkerIcon()'
                idKey='1'
                options="{labelContent: vm.activity.name[getAvailableTranslationLanguageKey(vm.activity.name)], labelAnchor:'22 0', labelClass: 'marker-labels marker-label-category-' + vm.activity.category.main }"
            >
            </ui-gmap-marker>

          </ui-gmap-google-map>

        </div>

        <!-- ## IMAGES ############################################################################################# -->

        <div class="img-block img-block-right"
             ng-show="vm.activity.images.length > 0"
        >
          <cloudinaryimage
              ng-repeat="image in vm.activity.images"
              data-publicid="{{image.public_id}}"
              data-format="{{image.format}}"
              data-width="375"
              data-height="225"
          >
          </cloudinaryimage>
        </div>

        <!-- ## AVAILABILITY / DATES ############################################################################### -->
        <event-list-with-filter
            activity="vm.activity"
        >
        </event-list-with-filter>

      </div>

    </div>
  </div>
</div>
