<div data-ng-controller="MapsearchbarCtrl">

  <div class="input-group input-group-lg">
    <input type="text"
           class="form-control"
           placeholder="Your location …"
           ng-model="search.address"
        >
    <span class="input-group-btn">
      <button class="btn"
              type="button"
              ng-click="searchActivities()"
          >Find!
      </button>
    </span>
  </div>

  <div class="form-daterange">
    <div class="form-group">
      <label>from</label>
      <input type="text"
             class="form-control"
             ng-model="search.startDate"
             data-min-date="{{search.minDate}}"
             placeholder="From"
             bs-datepicker
             autoclose="false"
          >
    </div>
    <div class="form-group">
      <label>until</label>
      <input type="text"
             class="form-control"
             ng-model="search.endDate"
             data-min-date="{{search.fromDate}}"
             placeholder="Until"
             bs-datepicker
             autoclose="false"
          >
    </div>

  </div>
</div>

