<h2 style="font-family:'Helvetica Neue',Helvetica,sans-serif; font-weight:200; font-size: 35px; line-height: 42px; color:#949c9e;">
Nur noch ein Klick!</h2>

<p style="font-family:'Helvetica Neue',Helvetica,sans-serif; font-size: 14px; line-height: 19px; color:#5f6a6d;">
<b>Ihre E-Mail Adresse wurde bei Planfred registriert.</b></p>

<p style="font-family:'Helvetica Neue',Helvetica,sans-serif; font-size: 14px; line-height: 19px; color:#5f6a6d;">
Zum Bestätigen klicken Sie bitte auf folgenden Link:
<br>
<a style="color:#259DB5; text-decoration:underline; word-wrap:break-word;" href="{{activationurl}}">{{activationurl}}</a></p>

<p style="font-family:'Helvetica Neue',Helvetica,sans-serif; font-size: 14px; line-height: 19px; color:#5f6a6d;">
Ist die Registrierung nicht in Ihrem Namen gemacht worden, können Sie diese Nachricht ignorieren – In diesem Fall verfällt die Registrierung!</p>