<h2 style="font-family:'Helvetica Neue',Helvetica,sans-serif; font-weight:200; font-size: 35px; line-height: 42px; color:#949c9e;">
Fehler beim Email senden
</h2>

<p style="font-family:'Helvetica Neue',Helvetica,sans-serif; font-size: 14px; line-height: 19px; color:#5f6a6d;">
Sie haben mit reacture an {{receiver}} ein Email gesendet, das nicht erfolgreich zugestellt werden konnte.
Möglicherweise ist die Emailadresse falsch, bitte überprüfen Sie sie.
Der Grund warum dieses Email nicht zugestellt werden konnte, ist:<br>
{{reason}}
</p>







