<h2 style="font-family:'Helvetica Neue',Helvetica,sans-serif; font-weight:200; font-size: 35px; line-height: 42px; color:#949c9e;">
Ihr neues Passwort.</h2>

<p style="font-family:'Helvetica Neue',Helvetica,sans-serif; font-size: 14px; line-height: 19px; color:#5f6a6d;">
Bitte klicken Sie auf diesen Link um Ihr Passwort zurückzusetzen<br/><br/>
<a style="color:#259DB5; text-decoration:underline;" href="{{resetpwdurl}}">Passwort zurücksetzen</a>
</p>