<h2 style="font-family:'Helvetica Neue',Helvetica,sans-serif; font-weight:200; font-size: 35px; line-height: 42px; color:#949c9e;">
Reset your password with this link.</h2>

<p style="font-family:'Helvetica Neue',Helvetica,sans-serif; font-size: 14px; line-height: 19px; color:#5f6a6d;">
Please click the link to reset your password.<br/><br/>
<a style="color:#259DB5; text-decoration:underline;" href="{{resetpwdurl}}">Reset password.</a>
</p>