<h2 style="font-family:'Helvetica Neue',Helvetica,sans-serif; font-weight:200; font-size: 35px; line-height: 42px; color:#85C900;">
You want to reset your Password?</h2>

<p style="font-family:'Helvetica Neue',Helvetica,sans-serif; font-size: 14px; line-height: 19px; color:#666666;">
Please click the following link: <a style="color:#85C900; text-decoration:underline;" href="{{resetpwdurl}}">Reset your password.</a>
</p>
<p style="font-family:'Helvetica Neue',Helvetica,sans-serif; font-size: 14px; line-height: 19px; color:#666666;">
  Your reActure Team
</p>