<div class="container">
  <div class="row">
    <div class="col-sm-12"
         ng-class="{deletemode: state.actionlinkisopen}"
        >
      <h2>{{'Activities' | translate}}</h2>

      <!-- ## PUBLISH STATES AREA ################################################################################-->

      <activitystatearea ng-controller="ChangeStateCtrl as changeStateCtrl">

        <!--

        Zustände:
          changeStateCtrl.activity === 'new'
          changeStateCtrl.activity === 'denied'
          changeStateCtrl.activity === 'published'

          changeStateCtrl.changes === true
          changeStateCtrl.changes === false

        Aktionen:
          changeStateCtrl.publish($event)
          changeStateCtrl.deny($event)

        -->

        <div class="alert alert-large alert-block alert-success"
             ng-show="activity.published">
          {{'published' | translate}}
        </div>

        <div class="alert alert-large alert-block alert-error"
             ng-show="!activity.published">
          {{'unpublished' | translate}}
        </div>

        <!-- Message for PROVIDER only -->
        <div ng-show="currentUser.user.userType === 'provider'"
             class="activitystatedescription"
            >
          <!--NEW-->
          <span ng-show="changeStateCtrl.activity === 'new'">
            <p>
              {{'this activity is under review and not published yet' | translate }}
            </p>
          </span>
          <!--PUBLISHED-->
          <span ng-show="changeStateCtrl.activity === 'published' && changeStateCtrl.changes === false">
            <p>
              {{'this activity is published' | translate }}
            </p>
          </span>
          <!--CHANGED-->
          <span ng-show="changeStateCtrl.changes === true">
            <p>
              {{'this activity is under review but still published' | translate }}
            </p>
          </span>
          <!--DENIED-->
          <span ng-show="changeStateCtrl.activity === 'denied'">
            <p>
              {{'this activity was denied and is not published' | translate }}
            </p>
          </span>
        </div>

        <!-- Message for ADMIN only -->
        <div
            ng-show="currentUser.user.userType === 'admin'"
            class="activitystatedescription"
            >
          <!--NEW-->
          <span ng-show="changeStateCtrl.activity === 'new'">
            <p>{{'New activity – Please review' | translate }}</p>
            <button
                class="btn btn-mini"
                data-ng-click="changeStateCtrl.publish($event)"
                >
              {{'publish' | translate}}
            </button>
            <button
                class="btn btn-mini btn-alert"
                data-ng-click="changeStateCtrl.deny($event)"
                >
              {{'deny' | translate}}
            </button>
          </span>

          <!--PUBLISHED-->
          <span ng-show="changeStateCtrl.activity === 'published' && changeStateCtrl.changes === false"
          ">
          <p>{{'this activity is published' | translate }}</p>
          <button
              class="btn btn-mini btn-alert"
              data-ng-click="changeStateCtrl.deny($event)"
              >
            {{'deny' | translate}}
          </button>
          </span>

          <!--CHANGED-->
          <span ng-show="changeStateCtrl.changes === true">
            <p>{{'Changed activity – Please review' | translate }}</p>
            <button
                class="btn btn-mini"
                data-ng-click="changeStateCtrl.publish($event)"
                >
              {{'publish' | translate}}
            </button>
            <button
                class="btn btn-mini btn-alert"
                data-ng-click="changeStateCtrl.deny($event)"
                >
              {{'deny' | translate}}
            </button>
          </span>

          <!--DENIED-->
          <span ng-show="changeStateCtrl.activity === 'denied'">
            <p>{{'Denied activity' | translate }}</p>
            <button
                class="btn btn-mini"
                data-ng-click="changeStateCtrl.publish($event)"
                >
              {{'publish' | translate}}
            </button>
          </span>

        </div>
      </activitystatearea>

      <div
          class="activity-detail detail-category-{{activity.category.main}}"
          >
        <div class="buttonbar buttonbar-5050 buttonbar-top">
          <div class="cell">
            <action-confirmation-link
                action="delete()"
                label="{{'delete' | translate}}"
                confirmation-label="{{'yes, delete' | translate}}"
                confirmation-description="{{'Do you want to delete the entire activity' | translate}}"
                cancel-label="{{'no' | translate}}"
                is-open="state.actionlinkisopen"
                >
            </action-confirmation-link>
          </div>
          <div class="cell">
            <a class="btn btn-small"
               href="#/admin/myactivities/{{activity._id}}/edit/">{{'edit' | translate}}
            </a>
          </div>
        </div>

        <!-- ## TITLE & DESCRIPTION ################################################################################ -->

        <h3 class="title">
          {{activity.name | languageselect}}
        </h3>

        <h5 class="category no-margin-top">
          {{activity.category.main | translate}}
          <span class="category-sub"
                ng-repeat="subcat in activity.category.subs">
            / {{subcat.key | translate}}
          </span>
        </h5>

        <h6 class="no-margin-top">
          {{'Offered by' | translate}}
          <activityowner activity="activity"></activityowner>
        </h6>

        <h5 class="shortdescription">
          {{activity.shortdescription[getAvailableTranslationLanguageKey(activity.shortdescription)]}}
        </h5>

        <div class="description"
             ng-bind-html="activity.description[getAvailableTranslationLanguageKey(activity.description)] | nohtml | linebreak"
            >
        </div>

        <div class="location">
          <div class="input-label">{{'Location' | translate}}:</div>

          <google-map
              center='map.center'
              zoom='map.zoom'
              draggable='true'
              options='map.options'
              >
            <marker
                coords='map.markercoords'
                icon='getMarkerIcon()'
                idKey='1'
                >
              <marker-label content="activity.name[getAvailableTranslationLanguageKey(activity.name)]"
                            anchor="22 0"
                            class="marker-labels marker-label-category-{{activity.category.main}}"
                  />
            </marker>

          </google-map>

        </div>

        <div class="img-block img-block-right"
             ng-show="activity.images.length > 0"
            >
          <cloudinaryimage ng-repeat="image in activity.images"
                           data-publicid="{{image.public_id}}"
                           data-format="{{image.format}}"
                           data-width="375"
                           data-height="225"
              >
          </cloudinaryimage>
        </div>

        <div class="availability">
          <div class="input-label">{{'Availability' | translate}}</div>

          <!--          <div class="availability-filter">
                      <div class="form-group-inline form-group-inline-5050">
                        <div class="form-group date-from">
                          <label>{{'from' | translate}}</label>
                          <input type="text"
                                 class="form-control"
                                 ng-model="frontendmap.map.searchStartDate"
                                 data-min-date="{{search.minDate}}"
                                 placeholder="{{'From' | translate}}"
                                 bs-datepicker
                                 autoclose="false"
                              >
                        </div>
                        <div class="form-group date-until">
                          <label>{{'until' | translate}}</label>
                          <input type="text"
                                 class="form-control"
                                 ng-model="frontendmap.map.searchEndDate"
                                 data-min-date="{{frontendmap.map.searchStartDate}}"
                                 data-max-date="{{search.maxDate}}"
                                 placeholder="{{'Until' | translate}}"
                                 bs-datepicker
                                 autoclose="false"
                              >
                        </div>
                      </div>

                      <div class="bookableitem-tags">
                        <a class="bookableitem-tag"
                           ng-click="selected1 = !selected1"
                           ng-class="{selected: selected1}"
                            >
                          <span class="checkbox-tag"></span>
                          Show all
                          <span class="numberofitems">1</span>
                        </a>

                        <a class="bookableitem-tag"
                           ng-click="selected2 = !selected2"
                           ng-class="{selected: selected2}"
                            >
                          <span class="checkbox-tag"></span>
                          Bookable Item A
                          <span class="numberofitems">1</span>
                        </a>
                      </div>
                    </div>

                    <div class="divider">
                      <span>
                        <strong>Today</strong>
                        (Tue, May 13 2014)
                      </span>
                    </div>-->

          <bookableitemlist
              activity="activity"
              >
          </bookableitemlist>

        </div>
        <div class="buttonbar buttonbar-5050 margin-top">
          <div class="cell">
            <action-confirmation-link
                action="delete()"
                label="{{'delete' | translate}}"
                confirmation-label="{{'yes, delete' | translate}}"
                confirmation-description="{{'Do you want to delete the entire activity' | translate}}"
                cancel-label="{{'no' | translate}}"
                is-open="state.actionlinkisopen"
                >
            </action-confirmation-link>
          </div>
          <div class="cell">
            <a class="btn btn-small"
               href="#/admin/myactivities/{{activity._id}}/edit/">{{'edit' | translate}}
            </a>
          </div>
        </div>
        <p
            ng-hide="state.actionlinkisopen"
            >
          <a class="text-link"
             href="#/admin/myactivities/">{{'back to my activities' | translate}}
          </a>
        </p>

      </div>

    </div>
  </div>
</div>