<h2>Account</h2>
<h3>My Activities</h3>

<div
    class="activity-detail window-category-{{activity.category.main}}"
    >

  <div class="buttonbar buttonbar-top">
    <a class="btn btn-small"
       href="#/admin/myactivities/{{activity._id}}/edit/">edit
    </a>
    <a class="btn btn-alert btn-small"
       data-ng-click="delete()">delete
    </a>
  </div>



  <h4>
    <span class="icon"></span>
    {{activity.name}}
  </h4>


  <h4 >
    <p>
    Company offering this activity:
    </p>
      {{activity.company}}
  </h4>

  <div class="location">
    <div class="input_label">Location</div>

    <google-map
        center='activity'
        zoom='map.zoom'
        draggable='true'
        options='map.options'
        >
      <marker
          coords='map.center'
          icon='getMarkerIcon()'
          >
        <marker-label content="activity.name"
                      anchor="22 0"
                      class="marker-labels marker-label-category-{{activity.category.main}}"
            />
      </marker>

    </google-map>

  </div>



  <h5 class="category">
    {{activity.category.main}}
    <span class="category-sub">
      {{activity.category.sub}}
    </span>
  </h5>

  <img src="/img/mapicons/piemont.jpg"
       alt=""/>

  <div class="input_label">Offered by</div>
  <h5 class="no-margin-top">Activity Inc.</h5>

  <div class="description">
    <div class="input_label">Description</div>
    <p>
      {{activity.description}}
    </p>
  </div>

  <div class="availability">
    <div class="input_label">Availability</div>



    <div class="availability-list">



      <div class="availability-header">
        <div class="month cell first">February</div>
      </div>


      <div class="availability-entry"
          ng-repeat="available in activity.availability">
        <div class="availability-date cell first">
          {{available.start | momentjs:{format: 'DD.MM.YYYY'}  }}
        </div>
        <div class="availability-time cell">
          {{available.end | momentjs:{format: 'DD.MM.YYYY'} }}
        </div>
        <div class="availability-amount cell last align-right">
          {{available.quantity}}x
        </div>
      </div>


    </div>
  </div>
  <div class="buttonbar margin-top">
    <a class="text-link float-left"
       href="#/admin/myactivities/">Go to 'My Activities'
    </a>
    <a class="btn btn-small"
       href="#/admin/myactivities/{{activity._id}}/edit/">edit
    </a>
    <a class="btn btn-alert btn-small"
       data-ng-click="delete()">delete
    </a>
  </div>


</div>
