<div class="container">
  <div class="row">
    <div class="col-sm-12">

      <h2>{{'My Activities' | translate}}</h2>

      <div
          class="activity-detail detail-category-{{activity.category.main}}"
          >

        <div class="buttonbar buttonbar-top">
          <a class="btn btn-small"
             href="#/admin/myactivities/{{activity._id}}/edit/">{{'edit' | translate}}
          </a>
          <a class="btn btn-alert btn-small"
             data-ng-click="delete()">{{'delete' | translate}}
          </a>
        </div>

        <p class="alert alert-large alert-block alert-success"
           ng-if="activity.published">
          <b>{{'Your activity is published' | translate}}</b>
        </p>
        <p class="alert alert-large alert-block alert-error"
           ng-if="!activity.published">
          <b>{{'Your activity isnt published yet' | translate}}</b>
        </p>

        <!-- ## TITLE & DESCRIPTION ################################################################################ -->

        <h3 class="title">
          {{activity.name | languageselect}}
        </h3>

        <h5 class="category no-margin-top">
          {{activity.category.main | translate}}
          <span class="category-sub"
                ng-repeat="subcat in activity.category.subs">
            / {{subcat.key | translate}}
          </span>
        </h5>

        <h6 class="no-margin-top">
          {{'Offered by' | translate}}
          <activityowner activity="activity"></activityowner>
        </h6>

        <h5 class="shortdescription">
          {{activity.shortdescription[getAvailableTranslationLanguageKey(activity.shortdescription)]}}
        </h5>

        <div class="description"
             ng-bind-html="activity.description[getAvailableTranslationLanguageKey(activity.description)] | nohtml | linebreak"
            >
        </div>

        <div class="location">
          <div class="input-label">{{'Location' | translate}}:</div>

          <google-map
              center='map.center'
              zoom='map.zoom'
              draggable='true'
              options='map.options'
              >
            <marker
                coords='map.markercoords'
                icon='getMarkerIcon()'
                >
              <marker-label content="activity.name[getAvailableTranslationLanguageKey(activity.name)]"
                            anchor="22 0"
                            class="marker-labels marker-label-category-{{activity.category.main}}"
                  />
            </marker>

          </google-map>

        </div>

        <div class="img-block img-block-right"
             ng-show="activity.images.length > 0"
            >
          <cloudinaryimage ng-repeat="image in activity.images"
                           data-publicid="{{image.public_id}}"
                           data-format="{{image.format}}"
                           data-width="375"
                           data-height="225"
              >
          </cloudinaryimage>
        </div>

        <div class="availability">
          <div class="input-label">{{'Availability' | translate}}</div>

          <div class="availability-filter">
            <div class="form-group-inline form-group-inline-5050">
              <div class="form-group date-from">
                <label>{{'from' | translate}}</label>
                <input type="text"
                       class="form-control"
                       ng-model="frontendmap.map.searchStartDate"
                       data-min-date="{{search.minDate}}"
                       placeholder="{{'From' | translate}}"
                       bs-datepicker
                       autoclose="false"
                    >
              </div>
              <div class="form-group date-until">
                <label>{{'until' | translate}}</label>
                <input type="text"
                       class="form-control"
                       ng-model="frontendmap.map.searchEndDate"
                       data-min-date="{{frontendmap.map.searchStartDate}}"
                       data-max-date="{{search.maxDate}}"
                       placeholder="{{'Until' | translate}}"
                       bs-datepicker
                       autoclose="false"
                    >
              </div>
            </div>

            <div class="bookableitem-tags">
              <a class="bookableitem-tag"
                 ng-click="selected1 = !selected1"
                 ng-class="{selected: selected1}"
                  >
                <span class="checkbox-tag"></span>
                Show all
                <span class="numberofitems">1</span>
              </a>

              <a class="bookableitem-tag"
                 ng-click="selected2 = !selected2"
                 ng-class="{selected: selected2}"
                  >
                <span class="checkbox-tag"></span>
                Bookable Item A
                <span class="numberofitems">1</span>
              </a>
            </div>
          </div>

          <div class="divider">
            <span>
              <strong>Today</strong>
              (Tue, May 13 2014)
            </span>
          </div>
          <bookableitemlist data-activity="activity"
              >
          </bookableitemlist>

        </div>
        <div class="buttonbar margin-top">
          <a class="text-link float-left"
             href="#/admin/myactivities/">{{'back to my activities' | translate}}
          </a>
          <a class="btn btn-small"
             href="#/admin/myactivities/{{activity._id}}/edit/">{{'edit' | translate}}
          </a>
          <a class="btn btn-alert btn-small"
             data-ng-click="delete()">{{'delete' | translate}}
          </a>
        </div>

      </div>

    </div>
  </div>
</div>