<div ng-controller="AdminMyactivitiesEditCtrl">

  <div class="container">
    <div class="row">
      <div class="col-sm-12">

        <h2>{{'Account' | translate}}</h2>

        <h3>
          <span ng-show="activity.name">{{'Activity' | translate}}: {{activity.name | languageselect}}</span>
          <span ng-show="!activity.name">{{'New activity' | translate}}</span>
        </h3>

        <form name="valForm"
              class="activity-edit"
              novalidate
            >

          <fieldset>
            <legend>{{'Global Activity Info' | translate}}:</legend>
            <div class="form-group">
              <label for="activityname">{{'Name of Activity or Activities' | translate}}</label>
              <input type="text"
                     class="form-control"
                     id="activityname"
                     name="activityname"
                     placeholder="i.e. Quad Tours (250ccm, 550ccm, 750ccm)"
                     ng-model="activity.name[getInputLanguage()]"
                     required
                  >
              <span ng-show="showError('activityname', 'required')"
                    class="alert">{{'Please enter the name of the activity/activities.' | translate}}
              </span>

            </div>

            <activitylocationselector data-activity="activity">
            </activitylocationselector>

            <div class="form-group">
              <label for="categoryMain">{{'Main Category' | translate}}</label>
              <select class="form-control"
                      id="categoryMain"
                      name="categoryMain"
                      ng-model="activity.category.main"
                      ng-change="mainCategoryChanged()"
                      required
                  >
                <option disabled="disabled">{{'Select Main Category' | translate}}</option>
                <option
                    ng-repeat="category in categories"
                    value="{{category.key}}"
                    ng-selected="activity.category.main === category.key"
                    >
                  {{category.key | translate}}
                </option>
              </select>

              <span ng-show="showError('categoryMain', 'required')"
                    class="alert">{{'Please select a category.' | translate}}
              </span>

            </div>

            <div class="form-group"
                 data-ng-show="activity.category.main"
                >
              <div class="input-label">{{'Sub Category' | translate}}</div>

              <div
                  class="checkbox"
                  ng-repeat="subcategory in getSubCategories()"
                  >
                <label>{{subcategory.key | translate}}
                  <input type="checkbox"
                         ng-model="value$index"
                         data-ng-change="setSubcat(subcategory.key)"
                         ng-true-value="{{subcategory.key}}"
                         ng-false-value=""
                         ng-checked="isKeyInSubcats(subcategory.key)"
                         ng-disabled="!isKeyInSubcats(subcategory.key) && activity.category.subs.length >= 2"
                      />
                </label>
              </div>

              <span class="alert alert-info"
                    data-ng-show="activity.category.subs.length >= 2">{{'You can choose 2 Subcategories at most' |
                                                                      translate}}!
              </span>
              <span class="alert alert-warn"
                    data-ng-show="activity.category.subs.length === 0">{{'You must choose at least 1 Subcategory' |
                                                                       translate
                                                                       }}!
              </span>

            </div>

            <div class="form-group">
              <label>{{'Description' | translate}}</label>
              <text-angular
                  ta-toolbar="[['h6', 'p', 'bold','italics','underline', 'ul', 'undo', 'redo']]"
                  ng-model="activity.description[getInputLanguage()]"
                  name="description"
                  ng-required="true"
                  >
              </text-angular>

              <span ng-show="showError('description', 'required')"
                    class="alert">{{'Please enter a description.' | translate}}
              </span>

            </div>

            <imageselector class="form-group img-selector">
              <label>{{'Images' | translate}}</label>
              <imageblock class="img-block"
                          data-ng-repeat="image in activity.images"
                  >
                <cloudinaryimage data-publicid="{{image.public_id}}"
                                 data-format="{{image.format}}"
                                 data-width="150"
                                 data-height="150"
                    >
                </cloudinaryimage>
                <div class="img-edit">
                  <a class="delete"
                     ng-click="removeImage(image, $index)">
                    <span>{{'delete' | translate}}</span>
                  </a>
                </div>
                <div class="img-teaser">
                  Teaser image
                </div>
              </imageblock>
              <uploadform data-images="activity.images"></uploadform>
            </imageselector>

            <span ng-show="!state.additionalformchecks.images"
                  class="alert">{{'Please upload an image.' | translate}}
            </span>

            <!--
               <dropzoneexampleforstylingpreview class="dropzone">
                 <div class="dz-preview dz-file-preview dz-processing">
                   <div class="dz-details">
                     <div class="dz-filename">
                       <span data-dz-name="">_50MB.zip</span>
                     </div>
                     <div class="dz-size"
                          data-dz-size="">
                       <strong>46.4</strong>
                       MiB
                     </div>
                     <img data-dz-thumbnail="">
                   </div>
                   <div class="dz-progress">
                     <span class="dz-upload"
                           data-dz-uploadprogress=""
                           style="width: 26.36409689099568%;"></span>
                   </div>
                   <div class="dz-success-mark">
                     <span>✔</span>
                   </div>
                   <div class="dz-error-mark">
                     <span>✘</span>
                   </div>
                   <div class="dz-error-message">
                     <span data-dz-errormessage=""></span>
                   </div>
                   <a class="dz-remove"
                      href="javascript:undefined;"
                      data-dz-remove="">Cancel upload
                   </a>
                 </div>

                 <div class="dz-preview dz-file-preview dz-processing">
                   <div class="dz-details">
                     <div class="dz-filename">
                       <span data-dz-name="">_50MB.zip</span>
                     </div>
                     <div class="dz-size"
                          data-dz-size="">
                       <strong>46.4</strong>
                       MiB
                     </div>
                     <img data-dz-thumbnail="">
                   </div>
                   <div class="dz-progress">
                     <span class="dz-upload"
                           data-dz-uploadprogress=""
                           style="width: 26.36409689099568%;"></span>
                   </div>
                   <div class="dz-success-mark">
                     <span>✔</span>
                   </div>
                   <div class="dz-error-mark">
                     <span>✘</span>
                   </div>
                   <div class="dz-error-message">
                     <span data-dz-errormessage=""></span>
                   </div>
                   <a class="dz-remove"
                      href="javascript:undefined;"
                      data-dz-remove="">Cancel upload
                   </a>
                 </div>


               </dropzoneexampleforstylingpreview>
              -->

          </fieldset>

          <fieldset>
            <legend>{{'What can be booked' | translate}}</legend>

            <!-- New Stuff -->
            <bookableitems class="bookableitems">

              <div class="bookableitem bookableitem-add"
                   ng-repeat="(idx, bookableItem) in activity.bookableItems"
                   ng-class="{deletemode: bookableItem.deletemode }"
                  >

                <div class="bookableitem-header">
                  <ng-form name="bookableItemForm">

                    <div class="buttonbar buttonbar-top">

                      <a ng-click="bookableItem.deletemode = true"
                         ng-show="!bookableItem.deletemode"
                         class="txt-icon-delete">{{'Delete Item' | translate}}
                        <span class="btn-icon-right"></span>
                      </a>

                      <div ng-show="bookableItem.deletemode">
                        {{'Delete bookable item with all events?' | translate}}
                        <a ng-click="removeItem(activity, idx)"
                           class="btn btn-alert btn-mini space-left"
                            >{{'yes, delete' | translate}}
                        </a>

                        <a ng-click="bookableItem.deletemode = false"
                           class="btn btn-mini space-left"
                            >{{'no' | translate}}
                        </a>

                      </div>

                    </div>

                    <div class="bookableitem-name cell first last">

                      <label for="itemDescription">{{'Description' | translate}}</label>

                      <input type="text"
                             class="form-control"
                             placeholder="{{'Bookable item description placeholder' | translate}}"
                             ng-model="bookableItem.description[getInputLanguage()]"
                             id="itemDescription"
                             name="itemDescription"
                             required
                          >
                      <span ng-show="bookableItemForm.itemDescription.$invalid && (bookableItemForm.itemDescription.$dirty || state.submitted)"
                            class="alert">
                        {{'Please enter a description.' | translate}}
                      </span>

                    </div>

                    <!-- DURATION AND PRICE MOVES TO EVENT!!!

                                  <div class="bookableitem-duration cell">
                                    <label for="itemDuration">{{'Duration in hours' | translate}}</label>
                                    <input type="number"
                                           class="form-control"
                                           id="itemDuration"
                                           name="itemDuration"
                                           placeholder="{{'Duration in hours' | translate}}"
                                           ng-model="bookableItem.duration"
                                           required
                                        >
                                    <span ng-show="bookableItemForm.itemDuration.$invalid && (bookableItemForm.itemDuration.$dirty || state.submitted)"
                                          class="alert">
                                      {{'Please enter a number only.' | translate}}
                                    </span>
                                  </div>

                                  <div class="bookableitem-price cell last">
                                    <label for="itemPrice">{{'Price' | translate}} €</label>
                                    <input type="number"
                                           class="form-control"
                                           id="itemPrice"
                                           name="itemPrice"
                                           placeholder="{{'Price in €' | translate}}"
                                           ng-model="bookableItem.price"
                                           required
                                        >

                                    <span ng-show="bookableItemForm.itemPrice.$invalid && (bookableItemForm.itemPrice.$dirty || state.submitted)"
                                          class="alert">
                                      {{'Please enter a number only.' | translate}}
                                    </span>

                                  </div>
                    -->

                  </ng-form>

                </div>

                <div class="bookableitem-body">

                  <eventlistinlistedit class="event-list">

                    <div class="event-header">
                      <div class="event-date cell">{{'Date' | translate}}</div>
                      <div class="event-time cell">{{'Time' | translate}}</div>
                      <div class="event-duration cell">{{'Duration' | translate}}</div>
                      <div class="event-quantity cell">{{'Qty' | translate}}</div>
                      <div class="event-price cell">{{'Price' | translate}}</div>
                      <div class="listaction cell">
                      </div>
                    </div>

                    <eventrow class="event-row"
                              ng-repeat="(idx,event) in bookableItem.events">

                      <eventview ng-show="event.mode != 'edit' && event.mode != 'new'">
                        <div class="event-date cell">{{ event.start | momentjs:{format: "ddd, MMM Do YY"} }}</div>
                        <div class="event-time cell">{{ event.start | momentjs:{format: "h:mm a"} }}</div>
                        <div class="event-duration cell">
                          {{ {start:event.start, end:event.end} | duration }}
                        </div>
                        <div class="event-quantity cell">{{event.quantity}}x</div>
                        <div class="event-price cell">{{event.price}}</div>
                        <div class="listaction cell">
                          <a class="btn btn-mini btn-ordinary"
                             ng-click="event.mode = 'edit'">
                            <span>{{'edit' | translate}}</span>
                          </a>
                          <a class="btn btn-mini btn-alert btn-ordinary"
                             ng-click="removeEvent(bookableItem, idx)">
                            <span>{{'delete' | translate}}</span>
                          </a>
                        </div>
                      </eventview>

                      <eventedit class="eventedit"
                                 ng-show="event.mode == 'edit' || event.mode == 'new'"
                          >

                        <ng-form name="eventForm">
                          <div class="form-group date-start first">
                            <label>Start date</label>
                            <input type="text"
                                   size="10"
                                   class="form-control"
                                   ng-model="event.start"
                                   data-min-date="today"
                                   data-autoclose="0"
                                   placeholder="{{'Date' | translate}}"
                                   bs-datepicker
                                   ng-change="event.end = setEndDate(event.start, event.end);"
                                >
                          </div>
                          <div class="form-group time-start">
                            <label>Start time</label>
                            <input type="text"
                                   size="8"
                                   class="form-control"
                                   ng-model="start.time"
                                   data-autoclose="0"
                                   placeholder="{{'Time' | translate}}"
                                   bs-timepicker
                                   ng-change="event.start = setTime(event.start, start.time)"
                                >
                          </div>

                          <div class="from-until">
                            <span></span>
                          </div>

                          <div class="form-group date-end">
                            <label>End date</label>
                            <input type="text"
                                   size="10"
                                   class="form-control"
                                   ng-model="event.end"
                                   data-min-date="{{event.start | minusOneDay}}"
                                   data-autoclose="0"
                                   placeholder="{{'Date' | translate}}"
                                   bs-datepicker
                                >
                          </div>
                          <div class="form-group time-end last">
                            <label>End time</label>
                            <input type="text"
                                   size="8"
                                   class="form-control"
                                   ng-model="end.time"
                                   data-min-date="{{event.start}}"
                                   data-autoclose="0"
                                   placeholder="{{'Time' | translate}}"
                                   bs-timepicker
                                   ng-change="event.end = setTime(event.end, end.time)"
                                >
                          </div>

                          <div class="event-duration-block">
                            Event duration:
                            <strong>
                              {{getTimeDifference(event.start, event.end)}}
                            </strong>
                          </div>

                          <div class="form-group quantity first">
                            <label>Quantity</label>
                            <input type="number"
                                   class="form-control"
                                   id="quantity"
                                   name="quantity"
                                   placeholder="{{'Quantity' | translate}}"
                                   ng-model="event.quantity"
                                   required
                                >

                            <span ng-show="eventForm.quantity.$invalid && (eventForm.quantity.$dirty || state.submitted || eventForm.submitted)"
                                  class="alert"
                                >
                              {{'Please enter a number only.' | translate}}
                            </span>

                          </div>

                          <div class="form-group price last">
                            <label>Price</label>
                            <input type="number"
                                   class="form-control"
                                   ng-model="event.price"
                                   id="price"
                                   name="price"
                                   placeholder="{{'Price in €' | translate}}"
                                   required
                                />

                            <span ng-show="eventForm.price.$invalid && (eventForm.price.$dirty || state.submitted || eventForm.submitted)"
                                  class="alert">
                              {{'Please enter a number only.' | translate}}
                            </span>

                          </div>

                          <!-- REPEATING EVENT begin -->

                          <div class="event-new-repeat">
                            <div class="checkbox">
                              <label>
                                <input type="checkbox"
                                       ng-model="event.repeating">
                                {{'repeating Event' | translate}}
                              </label>
                            </div>
                            <div class="repeating"
                                 ng-show="event.repeating">

                              <div class="alert alert-info">
                                Same starting time and duration as above
                              </div>

                              <div class="checkbox">
                                <label>
                                  <input type="checkbox"
                                         ng-model="event.dayOfWeek.Mon">
                                  {{'Mon' | translate}}
                                </label>
                              </div>
                              <div class="checkbox">
                                <label>
                                  <input type="checkbox"
                                         ng-model="event.dayOfWeek.Tue">
                                  {{'Tue' | translate}}
                                </label>
                              </div>
                              <div class="checkbox">
                                <label>
                                  <input type="checkbox"
                                         ng-model="event.dayOfWeek.Wed">
                                  {{'Wed' | translate}}
                                </label>
                              </div>
                              <div class="checkbox">
                                <label>
                                  <input type="checkbox"
                                         ng-model="event.dayOfWeek.Thu">
                                  {{'Thu' | translate}}
                                </label>
                              </div>
                              <div class="checkbox">
                                <label>
                                  <input type="checkbox"
                                         ng-model="event.dayOfWeek.Fri">
                                  {{'Fri' | translate}}
                                </label>
                              </div>
                              <div class="checkbox">
                                <label>
                                  <input type="checkbox"
                                         ng-model="event.dayOfWeek.Sat">
                                  {{'Sat' | translate}}
                                </label>
                              </div>
                              <div class="checkbox">
                                <label>
                                  <input type="checkbox"
                                         ng-model="event.dayOfWeek.Son">
                                  {{'Sun' | translate}}
                                </label>
                              </div>

                              <div class="form-group date-until first">
                                <label>Last start date</label>
                                <input type="text"
                                       class="form-control"
                                       ng-model="event.end"
                                       data-min-date="today"
                                       placeholder="{{'Date' | translate}}"
                                       bs-datepicker
                                       autoclose="true"
                                       name="dateuntil"
                                    >
                              </div>

                            </div>

                          </div>

                          <!-- REPEATING EVENT endn -->

                          <div class="buttonbar">
                            <a class="btn btn-small"
                               ng-click="createEventSeries(bookableItem, event, eventForm);"
                               ng-class="{disabled: eventForm.$invalid}"
                                >
                              {{'save event' | translate}}
                            </a>

                            <a ng-show="event.mode == 'new'"
                               ng-click="removeEvent(bookableItem, $index)"
                               class="space-left"
                                >
                              cancel
                            </a>

                          </div>

                        </ng-form>
                      </eventedit>

                    </eventrow>

                    <div class="event-add">
                      <a class="txt-icon-add"
                         ng-click="createEvent(bookableItem)">
                        <span class="btn-icon-left"></span>
                        {{'Add new Event' | translate}}
                      </a>

                    </div>

                  </eventlistinlistedit>

                  <!-- ######## STATIC LIST END ######## -->

                </div>
              </div>

              <button class="btn-add"
                      ng-click="activity.createBookableItems()">
                <span class="btn-icon-left"></span>
                {{'create a bookable item' | translate}}
              </button>

              <span ng-show="!state.additionalformchecks.bookableevents"
                    class="alert">{{'Please create bookable events.' | translate}}
              </span>

            </bookableitems>

          </fieldset>

          <div class="buttonbar margin-top">

            <div ng-show="state.error">
              <div class="alert alert-error">{{state.message | translate}}</div>
            </div>

            <a data-ng-show="!isNewMode()"
               class="btn btn-alert float-left"
               data-ng-click="delete()">{{'delete' | translate}}
            </a>

            <button class="btn"
                    ng-click="save()"
                    ng-class="{disabled: valForm.$invalid || !additionalFormChecks()}"
                >
              {{'save' | translate}}
            </button>
            <a class="cancel"
               ng-click="cancel()"
                >
              {{'cancel' | translate}}
            </a>

          </div>

        </form>

      </div>
    </div>
  </div>

</div>
