<h2>Account</h2>
<h3>My Activities</h3>

<p class="align-right">
  <a class="btn btn-add"
     href="/#/admin/myactivities/new/"
      >
    add activity
  </a>
</p>

<div class="list-myactivities enable_hover">
  <div class="listheader">
    <div class="activity cell first">
      Activty
    </div>
    <div class="category-main cell">
      Main Category
    </div>
    <div class="category-sub cell">
      Sub Category
    </div>
    <div class="location cell">
      Location
    </div>
    <div class="availability cell last">
      Availability
    </div>
  </div>

  <div class="listbody">
    <div class="listrow">
      <div class="activity cell first">
        Activty
      </div>
      <div class="category-main cell">
        Main Category
      </div>
      <div class="category-sub cell">
        Sub Category
      </div>
      <div class="location cell">
        Location
      </div>
      <div class="availability cell last">
        Availability
      </div>
    </div>
    <div class="listrow">
      <div class="activity cell first">
        Activty
      </div>
      <div class="category-main cell">
        Main Category
      </div>
      <div class="category-sub cell">
        Sub Category
      </div>
      <div class="location cell">
        Location
      </div>
      <div class="availability cell last">
        Availability
      </div>
    </div>
  </div>
</div>