<div class="myactivities-list enable_hover">
  <div class="listheader">
    <div class="activity cell first">
      {{'Activity' | translate}}
    </div>
    <div class="category-main cell">
      {{'Main Category' | translate}}
    </div>
    <div class="category-sub cell">
      {{'Sub Category' | translate}}
    </div>
    <div class="location cell">
      {{'Location' | translate}}
    </div>
    <div class="edit cell last">

    </div>
  </div>

  <div class="listbody">

    <div class="listrow"
         ng-repeat="activity in activities"
         ng-class="{denied : activity.denied, published : activity.published}"
         data-ng-click="open(activity)"
         ng-controller="ChangeStateCtrl as changeStateCtrl"
      >

      <div class="activity cell first">
        <cloudinaryimage data-publicid="{{activity.images[0].public_id}}"
                         data-format="{{activity.images[0].format}}"
                         data-width="50"
                         data-height="50"
          >
        </cloudinaryimage>
        {{activity.name | languageselect}}
      </div>
      <div class="category-main cell">
        {{activity.category.main | translate}}
      </div>
      <div class="category-sub cell">
        <span ng-repeat="subcat in activity.category.subs">{{subcat.key | translate}}
          <br>
        </span>
      </div>

      <div class="location cell">
        {{activity.address}}
      </div>

      <div class="edit cell last align-right">

        <!--

          Zustände:
          changeStateCtrl.activity === 'new'
          changeStateCtrl.activity === 'denied'
          changeStateCtrl.activity === 'published'

          changeStateCtrl.changes === true
          changeStateCtrl.changes === false

          Aktionen:
          changeStateCtrl.publish($event)
          changeStateCtrl.deny($event)

          -->

        <!--NEW-->
        <span
          ng-show="changeStateCtrl.activity === 'new'"
          class="label label-info">
          {{'new' | translate}}
        </span>

        <!--DENIED-->
        <span
          ng-show="changeStateCtrl.activity === 'denied' && changeStateCtrl.changes === false"
          class="label label-danger"
          >
          {{'denied' | translate}}
        </span>

        <!--CHANGED-->
        <span
          class="label label-warning"
          ng-show="changeStateCtrl.changes === true"
          >
          {{'under review' | translate}}
        </span>

      </div>

    </div>

  </div>
</div>

