<div class="txt-icon-delete"
     ng-click="states.activitydetailactive = false">
  <span class="hidden">Close detail view</span>
  <span></span>
</div>

<h4 class="title"
    >
  {{getSelectedActivity().name | languageselect}}
</h4>
<h6 class="no-margin-top">
  {{'Offered by' | translate}} {{profile.company}}
</h6>


<div class="description multiline">
  <div class="innerwrap"
       ta-bind
       ng-model="getSelectedActivity().description[getAvailableTranslationLanguageKey(getSelectedActivity().description)]">
  </div>
</div>

<div class="availability">
  <div class="input-label">{{'Availability' | translate}}</div>

  <bookableitemlist
      data-activity="getSelectedActivity()"
      showpagination="true"
      limit="3"
      >
  </bookableitemlist>

</div>