<div class="myactivities-list enable_hover">

  <filterbar ng-controller="AdminactivityfilterbarCtrl as adminActivityFilterBarCtrl">
    <button
        ng-click="adminActivityFilterBarCtrl.adminActivityFilter.reset()"
        >
      All
    </button>

    <input
        type="radio"
        ng-model="adminActivityFilterBarCtrl.adminActivityFilter.publishedState"
        value="published"
        >
    published
    <input
        type="radio"
        ng-model="adminActivityFilterBarCtrl.adminActivityFilter.publishedState"
        value="unpublished"
        >
    unpublished
    <input
        type="radio"
        ng-model="adminActivityFilterBarCtrl.adminActivityFilter.publishedState"
        value="all"
        >
    published & unpublished

    <input
        type="checkbox"
        ng-model="adminActivityFilterBarCtrl.adminActivityFilter.unreviewedChanges"
        >
    unreviewed changes

    <input
        type="checkbox"
        ng-model="adminActivityFilterBarCtrl.adminActivityFilter.denied"
        >
    denied

  </filterbar>

  <div> {{vm.filteredActivities.length}} {{'of' | translate}} {{activities.length}}</div>

  <div class="listheader">
    <div class="activity cell first">
      {{'Activity' | translate}}
    </div>
    <div class="category-main cell">
      {{'Main Category' | translate}}
    </div>
    <div class="category-sub cell">
      {{'Sub Category' | translate}}
    </div>
    <div class="location cell">
      {{'Location' | translate}}
    </div>
    <div class="edit cell last">

    </div>
  </div>

  <div class="listbody">
    <div class="listrow"
         ng-repeat="activity in vm.filteredActivities"
         ng-class="{denied : changeStateCtrl.activity === 'denied', new : changeStateCtrl.activity === 'new', published : changeStateCtrl.activity === 'published', changed : changeStateCtrl.changes === true}"
         data-ng-click="publishstateCtrl.open(activity)"
         ng-controller="ChangeStateCtrl as changeStateCtrl"
        >
      <div class="activity cell first"
          >
        {{activity.name | languageselect}}
      </div>
      <div class="category-main cell"
          >
        {{activity.category.main | translate}}
      </div>
      <div class="category-sub cell"
          >
        <span ng-repeat="subcat in activity.category.subs">{{subcat.key | translate}}
        </span>
      </div>

      <div class="location cell">
        {{activity.address}}
      </div>

      <div class="edit cell last align-right">

        <span ng-switch="changeStateCtrl.activity">

          <span ng-switch-when="new" class="label label-info">
            {{'new' | translate}}
          </span>

          <span ng-switch-when="denied" class="label label-danger">
            {{'denied' | translate}}
          </span>

        </span>

        <span class="label label-warning" ng-show="changeStateCtrl.changes">
          {{'changed' | translate}}
        </span>

      </div>

    </div>
  </div>

  <div
      ng-show="vm.filteredActivities.length === 0"
      >
    Keine Ergebnisse gefunden -
    <a
        ng-click="publishstateCtrl.adminActivityFilter.reset()"
        >

      reset Filter
    </a>

  </div>

</div>