<div class="myactivities-list enable_hover">

  <style>
    .denied {
      text-decoration: line-through;
    }
  </style>

  <filterbar ng-controller="AdminactivityfilterbarCtrl as adminActivityFilterBarCtrl">
    {{adminActivityFilterBarCtrl.adminActivityFilter.random}}
    <button
        ng-click="adminActivityFilterBarCtrl.adminActivityFilter.reset()"
        >
      All
    </button>

    <input
        type="radio"
        ng-model="adminActivityFilterBarCtrl.adminActivityFilter.publishedState"
        value="published"
        >
    published
    <input
        type="radio"
        ng-model="adminActivityFilterBarCtrl.adminActivityFilter.publishedState"
        value="unpublished"
        >
    unpublished
    <input
        type="radio"
        ng-model="adminActivityFilterBarCtrl.adminActivityFilter.publishedState"
        value="all"
        >
    published & unpublished

    <input
        type="checkbox"
        ng-model="adminActivityFilterBarCtrl.adminActivityFilter.unreviewedChanges"
        >
    unreviewed changes

    <input
        type="checkbox"
        ng-model="adminActivityFilterBarCtrl.adminActivityFilter.denied"
        >
    denied

  </filterbar>

  <div> {{vm.filteredActivities.length}} {{'of' | translate}} {{activities.length}}</div>

  <div class="listheader">
    <div class="activity cell first">
      {{'Activity' | translate}}
    </div>
    <div class="category-main cell">
      {{'Main Category' | translate}}
    </div>
    <div class="category-sub cell">
      {{'Sub Category' | translate}}
    </div>
    <div class="location cell">
      {{'Location' | translate}}
    </div>
    <div class="edit cell last">

    </div>
  </div>

  <div class="listbody">
    <div class="listrow"
         ng-repeat="activity in vm.filteredActivities"
         ng-class="{denied : activity.denied, unreviewedChanges : activity.unreviewedChanges, published : activity.published}"
         data-ng-click="publishstateCtrl.open(activity)"
        >
      <div class="activity cell first"
          >
        {{activity.name | languageselect}}
      </div>
      <div class="category-main cell"
          >
        {{activity.category.main | translate}}
      </div>
      <div class="category-sub cell"
          >
        <span ng-repeat="subcat in activity.category.subs">{{subcat.key | translate}}
        </span>
      </div>

      <div class="location cell">
        {{activity.address}}
      </div>

      <div class="edit cell last align-right">
        <span ng-switch="activity.published">

          <!--ALL UNPUBLISHED ACTIVITIES-->

          <!-- DENIED = unpublished + denied -->
          <span ng-switch-when="false">
            <span
                ng-if="activity.denied"
                class="label label-danger"
                >
              denied
            </span>

            <span ng-switch="activity.unreviewedChanges === 1">


              <!-- NEW = unpublished + unreviewedChanges + not denied -->
              <span ng-switch-when="true"
                    ng-if="!activity.denied"
                  >

                <span class="label label-info"
                      data-ng-click="publishstateCtrl.verify($event, activity)"
                    >
                  New
                </span>
              </span>

            </span>
          </span>

          <!--ALL PUBLISHED ACTIVITIES-->

          <span ng-switch-when="true">

            <span ng-switch="activity.unreviewedChanges > 0">
              <span ng-switch-when="true">

                <span class="label label-warning"
                      data-ng-click="publishstateCtrl.verify($event, activity)"
                    >
                  Changed
                </span>

              </span>
            </span>

          </span>
          <span ng-switch-default>-</span>
        </span>

        <!--ORIGINAL CODE FROM JONATHAN-->

        <!--        <span ng-if="activity.unreviewedChanges > 0">
          + {{activity.unreviewedChanges}} changes
        </span>
        <span ng-switch="activity.published">
          <span ng-switch-when="false"
                class="btn btn-mini"
                data-ng-click="publishstateCtrl.publish($event, activity)"
              >
            {{'publish' | translate}}
          </span>
          <br/>
          <span ng-switch-when="false"
                ng-if="!activity.denied"
                class="btn btn-mini"
                style="background-color: #583216; border-color: #583216;"
                data-ng-click="publishstateCtrl.deny($event, activity)"
              >
            deny
          </span>
          <span ng-switch-when="true">
            <span ng-switch="activity.unreviewedChanges > 0">
              <br/>
              <span ng-switch-when="true">

                <span class="btn btn-mini"
                      style="background-color: #1c7ddf; border-color: #1c7ddf;"
                      data-ng-click="publishstateCtrl.verify($event, activity)"
                    >
                  verify
                </span>

                <span class="btn btn-mini"
                      style="background-color: #c59b4d; border-color: #c59b4d;"
                      data-ng-click="publishstateCtrl.remove($event, activity)"
                    >
                  remove
                </span>

              </span>
              <span ng-switch-when="false"
                    class="btn btn-mini"
                    style="background-color: #df401c; border-color: #df401c;"
                    data-ng-click="publishstateCtrl.toggle($event, activity)"
                  >
                {{'unpublish' | translate}}
              </span>
            </span>

          </span>
          <span ng-switch-default>-</span>
        </span>-->
      </div>

    </div>
  </div>

  <div
      ng-show="vm.filteredActivities.length === 0"
      >
    Keine Ergebnisse gefunden -
    <a
        ng-click="adminActivityFilter.reset()"
        >

      reset Filter
    </a>

  </div>

</div>