<div class="myactivities-list enable_hover">

  <filterbar ng-controller="AdminactivityfilterbarCtrl as adminActivityFilterBarCtrl">

    <!--
        <button ng-click="adminActivityFilterBarCtrl.adminActivityFilter.reset()">All</button>
    -->

    <div class="radio-selectbar">
      <div class="radio">
        <label>
          <input
            type="radio"
            ng-model="adminActivityFilterBarCtrl.adminActivityFilter.publishedState"
            value="published"
            >
          <span>{{'published' | translate }}</span>
        </label>
      </div>
      <div class="radio">
        <label>
          <input
            type="radio"
            ng-model="adminActivityFilterBarCtrl.adminActivityFilter.publishedState"
            value="unpublished"
            >
          <span>{{'unpublished' | translate }}</span>
        </label>
      </div>
      <div class="radio">
        <label>
          <input
            type="radio"
            ng-model="adminActivityFilterBarCtrl.adminActivityFilter.publishedState"
            value="all"
            >
          <span>{{'all' | translate }}</span>
        </label>
      </div>
    </div>

    <div class="checkboxsearch-selectbar">
      <div class="checkbox-area">
        <div class="checkbox">
          <label>
            <input
              type="checkbox"
              ng-model="adminActivityFilterBarCtrl.adminActivityFilter.unreviewedChanges"
              >
            {{'changed activities' | translate }}
          </label>
        </div>
        <div class="checkbox">
          <label>
            <input
              type="checkbox"
              ng-model="adminActivityFilterBarCtrl.adminActivityFilter.denied"
              >
            {{'denied activities' | translate }}
          </label>
        </div>
      </div>
      <div class="textsearch">
        <label for="filterbarquery">
          {{'textsearch' | translate }}:
        </label>
        <div class="input-group">
          <span class="input-group-addon">
            <i class="fa fa-search"></i>
          </span>
          <input type="text"
                 ng-model="adminActivityFilterBarCtrl.adminActivityFilter.query"
                 id="filterbarquery"
                 class="form-control"
            >
        </div>
      </div>
    </div>

  </filterbar>

  <div class="filterbar-searchhits">
    <span>
      {{vm.filteredActivities.length}} {{'of' | translate}} {{activities.length}}
    </span>
  </div>

  <div class="listheader">
    <div class="activity cell first">
      {{'Activity' | translate}}
    </div>
    <div class="category-main cell">
      {{'Main Category' | translate}}
    </div>
    <div class="category-sub cell">
      {{'Sub Category' | translate}}
    </div>
    <div class="location cell">
      {{'Location' | translate}}
    </div>
    <div class="edit cell last">

    </div>
  </div>

  <div class="listbody">
    <div class="listrow"
         ng-repeat="activity in vm.filteredActivities | filter:adminActivityFilterBarCtrl.adminActivityFilter.query"
         ng-class="
         {
         denied : changeStateCtrl.activity === 'denied' && changeStateCtrl.changes === false,
         new : changeStateCtrl.activity === 'new',
         published : changeStateCtrl.activity === 'published',
         changed : changeStateCtrl.changes === true
         }"
         data-ng-click="publishstateCtrl.open(activity)"
         ng-controller="ChangeStateCtrl as changeStateCtrl"
      >
      <div class="activity cell first"
        >
        {{activity.name | languageselect}}
      </div>
      <div class="category-main cell"
        >
        {{activity.category.main | translate}}
      </div>
      <div class="category-sub cell"
        >
        <span ng-repeat="subcat in activity.category.subs">{{subcat.key | translate}}
        </span>
      </div>

      <div class="location cell">
        {{activity.address}}
      </div>

      <div class="edit cell last align-right">

        <!--NEW-->
        <span
          ng-show="changeStateCtrl.activity === 'new'"
          class="label label-info">
          {{'new' | translate}}
        </span>

        <!--DENIED-->
        <span
          ng-show="changeStateCtrl.activity === 'denied' && changeStateCtrl.changes === false"
          class="label label-danger"
          >
          {{'denied' | translate}}
        </span>

        <!--CHANGED-->
        <span
          class="label label-warning"
          ng-show="changeStateCtrl.changes === true"
          >
          {{'changed' | translate}}
        </span>

      </div>

    </div>
  </div>

  <div
    ng-show="vm.filteredActivities.length === 0"
    class="filterbar-noresults"
    >
    {{'no results' | translate }} –
    <a
      ng-click="publishstateCtrl.adminActivityFilter.reset()"
      >
      <strong>
        {{'reset all filters' | translate }}
      </strong>
    </a>

  </div>

</div>

