
<!--<div ng-show="event.length === 0">-->
  <!--<h5>{{'No events to display yet' | translate}}</h5>-->
<!--</div>-->


<div ng-repeat="event in sortedEvents | limitTo:limit"
     class="event-list event-list-items">

  <span class="event-item">
    <item activity="event.activity"
          bookable-item="event.bookableItem"
          event="event.event"
        >
    </item>
  </span>

</div>

<!--<div ng-show="event.length > limit">-->
  <!--<h5>{{'There are more events available' | translate}}</h5>-->
<!--</div>-->