<div style="margin-bottom:100px;">

  <div ng-show="bookableitems.length === 0">
    <h3>{{'No events to display yet' | translate}}</h3>
  </div>

  <div ng-repeat="item in bookableitems">
    <div ng-show="$index+1 <= itemsperpage">

      <h3>
        {{'Event' | translate}}:
        {{item.ref().description | languagefilter }}
      </h3>

      <div class="event-list">

        <div class="event-header">
          <div class="event-date cell first">{{'Date' | translate}}</div>
          <div class="event-time cell">{{'Time' | translate}}</div>
          <div class="event-duration cell">{{'Duration' | translate}}</div>
          <div class="event-quantity cell">{{'Qty' | translate}}</div>
        </div>

        <div ng-repeat="(idx,event) in item.ref().events">
          <div class="event-row">
            <div class="event-date cell first">{{moment(event.ref().start).format("ddd, MMM Do YYYY")}}</div>
            <div class="event-time cell">{{moment(event.ref().start).format("h:mm a")}}</div>
            <div class="event-duration cell">{{item.ref().duration}}h</div>
            <div class="event-quantity cell">{{event.ref().quantity}}x</div>
          </div>
        </div>

      </div>

    </div>

  </div>

</div>
