<!--<div ng-show="sortedEvents.length === 0">
  <h5>Loading…</h5>
</div>-->

<div ng-repeat="event in sortedEvents | bookableList:limit"
     class="event-list event-list-items">

  <div class="divider"
       ng-if="showDate($index, event.event.start)">
    <span>
      <!--<strong>{{event.event.start | fromNow}}</strong>-->
      {{event.event.start | momentjs:{format: "ddd, MMM Do YY"} }}
    </span>
  </div>

  <span class="event-item">
    <item activity="event.activity"
          bookable-item="event.bookableItem"
          event="event.event"
        >
    </item>
  </span>

</div>

<div ng-show="sortedEvents.length > limit">
  <p class="align-right">{{'There are more events available' | translate}} …
    <a class="btn btn-small"
       ng-href="/#/activities/{{activity._id}}/"
        >
      {{ 'Show all Dates' | translate }}
    </a>
  </p>
</div>
