<div class="form-area form-area-5050">
  <h6 class="no-margin-bottom no-margin-top">
    {{'Event start' | translate}}
  </h6>

  <div class="form-group-inline form-group-inline-5050">
    <div class="form-group date-start">
      <label for="eventstartdate">{{'Date' | translate}}</label>


      <input type="text"
             size="10"
             class="form-control"
             ng-model="event.start"
             data-min-date="today"
             data-autoclose="0"
             bs-datepicker
             id="eventstartdate"
          >
    </div>
    <div class="form-group form-group-helptext time-start">
      <label for="eventstarttime">{{'Time' | translate}}</label>

      <div aiotoggleitem
           toggleitemlabel="{{'helptext' | translate}}"
           class="aiotoggleitem">
        {{'helptext activity start time' | translate}}
      </div>

      <input type="text"
             size="8"
             class="form-control"
             ng-model="event.start"
             bs-timepicker
             id="eventstarttime"
          >
    </div>

  </div>
</div>

<div class="form-area form-area-5050">
  <h6 class="no-margin-bottom no-margin-top">
    {{'Event duration' | translate}}
  </h6>

  <div class="form-group-inline form-group-inline-333333">
    <div class="form-group">
      <label for="durationdays">{{'Days' | translate}}</label>

      <input type="number"
             class="form-control"
             id="durationdays"
             name="durationdays"
             placeholder="{{'Days' | translate}}"
          />
    </div>

    <div class="form-group">
      <label for="durationhours">{{'Hours' | translate}}</label>

      <input type="number"
             class="form-control"
             id="durationhours"
             name="durationhours"
             placeholder="{{'Hours' | translate}}"
          />
    </div>

    <div class="form-group">
      <label for="durationminutes">{{'Minutes' | translate}}</label>

      <input type="number"
             class="form-control"
             id="durationminutes"
             name="durationminutes"
             placeholder="{{'Minutes' | translate}}"
          />

      <span ng-show="eventForm.price.$invalid && (eventForm.price.$dirty || state.submitted || eventForm.submitted)"
            class="alert alert-error">
        {{'Please enter a number only.' | translate}}
      </span>

    </div>

  </div>
</div>

  <!--
    <div class="from-until">
      <span></span>
    </div>
  -->

  <!--
    <div class="form-group form-group-helptext date-end">
      <label>End date</label>

      <div aiotoggleitem
           toggleitemlabel="{{'helptext' | translate}}"
           class="aiotoggleitem">
        {{'helptext activity end date' | translate}}
      </div>

      <input type="text"
             size="10"
             class="form-control"
             ng-model="event.end"
             data-min-date="{{event.start | minusOneDay}}"
             data-autoclose="0"
             placeholder="{{'Date' | translate}}"
             bs-datepicker
          >
    </div>
    <div class="form-group form-group-helptext time-end last">
      <label>End time</label>

      <div aiotoggleitem
           toggleitemlabel="{{'helptext' | translate}}"
           class="aiotoggleitem">
        {{'helptext activity end time' | translate}}
      </div>

      <input type="text"
             size="8"
             class="form-control"
             ng-model="event.end"
             placeholder="{{'Time' | translate}}"
             bs-timepicker
             data-min-time="{{getMinTimeForEndTime()}}"
          >
    </div>
  -->



<div class="event-end-block">
  {{'This event ends on:' | translate}}
  <strong>
    {{ {start: event.start, end: event.end } | duration}}
  </strong>
</div>