<div class="availability">
  <div class="input-label">{{'Availability' | translate}}</div>

  <div class="availability-filter">
    <div class="form-group-inline form-group-inline-5050">
      <div class="form-group date-from">
        <label>{{'from' | translate}}</label>
        <input type="text"
               class="form-control"
               ng-model="filter.from"
               data-min-date="{{filter.from_min}}"
               data-max-date="{{filter.from_max}}"
               placeholder="{{'From' | translate}}"
               bs-datepicker
               autoclose="false"
            >
      </div>

      <div class="form-group date-until">
        <select
            ng-model="filter.calDaysOptionsSelected.selection"
            ng-options="o.days as o.text for o in filter.calDaysOptions"
            >
        </select>
        <!--
        <label>{{'until' | translate}}</label>
        <input type="text"
               class="form-control"
               ng-model="filter.until"
               data-min-date="{{filter.until_min}}"
               data-max-date="{{filter.until_max}}"
               placeholder="{{'Until' | translate}}"
               bs-datepicker
               autoclose="false"
            >
            -->
      </div>
    </div>

    <div class="bookableitem-tags">
      <a class="bookableitem-tag"
         ng-click="filter.bookableItemsToggleAll()"
         ng-class="{selected: filter.bookableItemsIsAllSelected()}"
          >
        <span class="checkbox-tag"></span>
        Show all
        <span class="numberofitems">{{filter.numAllEvents}}</span>
      </a>

      <span ng-repeat="bookableItem in activity.bookableItems">
        <a class="bookableitem-tag"
           ng-click="filter.bookableItems[$index].toggle()"
           ng-class="{selected: filter.bookableItems[$index].enabled()}"
            >
          <span class="checkbox-tag"></span>
          {{bookableItem.description | languageselect}}
          <span class="numberofitems">{{filter.bookableItems[$index].num}}</span>
        </a>
      </span>

    </div>
  </div>

  <bookableitemlist activity="activity"
                    filter="filter"
                    limit="1000">
  </bookableitemlist>

</div>