<span data-ng-switch on="data.permissioninproject">

  <span ng-switch-when="silent" class="fullname"><span class="email">{{user.email}}</span></span>

  <span ng-switch-default class="fullname">

    <a ng-hide="donotlink" href="/#/projects/{{data.projectid}}/participants/{{data.userid}}/">
      <span class="name" ng-show="user.profile.firstName || user.profile.lastName">{{user.profile.firstName}} {{user.profile.lastName}}</span>
      <span class="email" ng-show="(!user.profile.firstName && !user.profile.lastName) || alwaysshowemail">{{user.email}}</span>
    </a>

    <span ng-show="donotlink" class="name" ng-show="user.profile.firstName || user.profile.lastName">{{user.profile.firstName}} {{user.profile.lastName}}</span>
    <span ng-show="donotlink" class="email" ng-show="(!user.profile.firstName && !user.profile.lastName) || alwaysshowemail">{{user.email}}</span>

  </span>

</span>