<div class="event-item-header">
  <div class="event-item-description">
    <h6>
      {{bookableItem.description | languageselect}}
    </h6>
    <span class="event-item-quantity">
      {{'… still' | translate}}
      <strong>{{event.availableQuantity}}x</strong>
      {{'available!' | translate}}
    </span>
    <span class="event-item-quantity bookedup"
          style="display: none;"
        >
      {{'… booked up!' | translate}}
    </span>
  </div>
  <div class="event-item-book">
    <button ng-click="addToShoppingCart()"
            class="btn-mini-book">
      <span class="btn-txt">
        {{'Book' | translate}}
      </span>
      <span class="btn-icon btn-icon-right"></span>
    </button>
  </div>
</div>
<div class="event-item-body">
  <div class="event-date cell first">
    <span class="input-label">
      {{'Date' | translate}}/{{'Time' | translate}}:
    </span>
    <span>
      {{ event.start | momentjs:{format: "ddd, MMM D YYYY"} }}, {{ event.start | momentjs:{format: "HH:mm"} }}
    </span>
  </div>
  <div class="event-duration cell">
    <span class="input-label">
      {{'Duration' | translate}}:
    </span>
    <span>
      {{ {start:event.start, end:event.end} | duration }}
    </span>
  </div>

  <div class="event-price cell last">
    <span class="input-label">
      {{'Price' | translate}}:
    </span>
    <span>
      {{event.price | currency}}
    </span>
  </div>

</div>

