<div class="language-tabs">
  <ul>
    <li class="en" ng-class="{active: formfieldlanguage === 'en'}">
      <a ng-click="changeLanguage('en')">
        <span>EN</span>
      </a>
    </li>
    <li class="de" ng-class="{active: formfieldlanguage === 'de'}">
      <a ng-click="changeLanguage('de')">
        <span>DE</span>
      </a>
    </li>
    <li class="it" ng-class="{active: formfieldlanguage === 'it'}">
      <a ng-click="changeLanguage('it')">
        <span>IT</span>
      </a>
    </li>
  </ul>
</div>
