<a
    class="navbutton"
    ng-click="toggle()"
    >
  <i class="fa fa-bars fa-lg"></i>
  <span>
    Menu
  </span>
</a>
<a
    class="checkoutbutton"
    ng-click="gotoPaymentPage()"
    >
  <i class="fa fa-shopping-cart fa-lg"></i>
  <span>
    Checkout
  </span>
</a>

<navitems
    ng-show="states.open"
    ng-class="{open : states.open}"
    >
  <languageselect></languageselect>
  <div data-ng-include="'views/directives/navglobal.html'"></div>
  <div data-ng-include="'views/directives/navuser.html'"></div>


  <loginstatus></loginstatus>
</navitems>

