<nav class="nav-sub">
  <ul>
    <li class="nav-icon nav-icon-map">
      <a href="#/">
        <span class="icon"></span>
        <span>
          {{'Map view' | translate }}
        </span>
      </a>
    </li>

    <li>
      <a href="#/why">
        <span class="icon"></span>
        <span>
          {{'Why reacture' | translate }}
        </span>
      </a>
    </li>

    <li>
      <a href="#/workwithus">
        <span class="icon"></span>
       <span>
          {{'Work with us' | translate}}
        </span>
      </a>
    </li>

  </ul>
</nav>