<nav
  data-ng-show="currentUser.authenticated"
  class="nav-sub nav-sub-user"
  >
  <h6>{{'Account' | translate}}</h6>
  <ul>
    <!--<li>-->
    <!--<a href="/#!/admin/">Administration overview</a>-->
    <!--</li>-->
    <li
      ng-show="currentUser.user.userType === 'admin' || currentUser.user.userType === 'provider'"
      >
      <a href="/#!/admin/myactivities">
        <span>
          {{'My Activities' | translate}}
        </span>
      </a>
    </li>

    <li>
      <a href="/#!/admin/profile">
        <span>
          {{'Profile' | translate}}
        </span>
      </a>
    </li>

    <li>
      <a href="/#!/admin/bankaccount">
        <span>
          {{'Bank Account' | translate}}
        </span>
      </a>
    </li>

    <li>
      <a href="/#!/admin/bookings">
        <span>
          {{'Bookings' | translate}}
        </span>
      </a>
    </li>

    <li
      ng-show="currentUser.user.userType === 'admin' || currentUser.user.userType === 'provider'"
      >
      <a href="/#!/admin/promotion/">
        <span>
          {{'My Acquired Providers' | translate}}
        </span>
      </a>
    </li>
  </ul>

  <h6
    ng-show="currentUser.user.userType === 'admin'"
    >
    {{'Admin area' | translate}}
  </h6>
  <ul
    ng-show="currentUser.user.userType === 'admin'"
    >
    <li>
      <a href="/#!/admin/activities">
        <span>
          {{'All activities' | translate}}
        </span>
      </a>
    </li>
    <li>
      <a href="/#!/admin/allbookings">
        <span>
          {{'All Bookings' | translate}}
        </span>
      </a>
    </li>

    <li>
      <a href="/#!/admin/providers">
        <span>
          {{'All providers' | translate}}
        </span>
      </a>
    </li>
  </ul>
  <loginstatus></loginstatus>
</nav>
