<div class="shoppingcart-element">
  <div class="shoppingcart-toggle"
       ng-click="toggleShoppingCart()"
      >
    <div class="innerwrap">
      <span class="numberofitems">{{shoppingcart.getTotal().num}}</span>
      <span class="hideme">Open Shoppingcart</span>
    </div>
  </div>

  <form
      name="sidebarForm"
      novalidate
      >
    
    

    <shoppingcart></shoppingcart>

    <div class="buttonbar"
         ng-class="{disabled: sidebarForm.$invalid}"
        >
      <a ng-href="/#/payment/"
         ng-show="sidebarForm.$valid"
         class="btn btn-negative"
          >
        Checkout
      </a>

      <a
          ng-href="#"
          class="btn btn-negative"
         ng-show="sidebarForm.$invalid"
          >
        Checkout
      </a>

    </div>

        <pre>
     {{sidebarForm | json}}
    </pre>

  </form>

</div>