<div class="shoppingcart-element"
    >

       <!-- TODO: toggle integration -->
    <div class="shoppingcart-toggle"
         ng-click="shoppingcart = !shoppingcart"
        >
      <div class="innerwrap">
        <span class="numberofitems">2</span>
        <span class="hideme">Open Shoppingcart</span>
      </div>
    </div>

    <div class="shoppingcart-header">
      <h3>
        <strong>2 Activities</strong>
        in your shopping cart
      </h3>
    </div>
    <div class="shoppingcart-content">

      <!--SHOPPINGCART ITEM #1-->

      <div class="shoppingcart-item">
        <img class="image-left"
             src="http://www.stonehenge-stone-circle.co.uk/stonehenge-attraction-tours-english-heritage-news/stonehenge-images/Picture%20071.jpg"/>
        <h4>
          <span class="icon"></span>
          <strong>Guided Tours</strong>
          / 1-Day-Trip
        </h4>
        <p>
          <span class="availability-date">Wed, Mar 19th 14</span>
          ,
          <span class="availability-time">10:30 am</span>
        </p>

        <div class="shoppingcart-price">
          <input type="number"
                 class="form-control"
                 id="shoppingcartItemAmount1"
                 name="shoppingcartItemAmount1"
                 ng-model="???"
                 value="1"
                 required
              >
          <span class="price">€ 250,–</span>
        </div>

        <div class="txt-icon-delete">
          <span class="hidden">Delete item</span>
          <span></span>
        </div>

      </div>

      <!--SHOPPINGCART ITEM #2-->

      <div class="shoppingcart-item">
        <img class="image-left"
             src="http://www.stonehenge-stone-circle.co.uk/stonehenge-attraction-tours-english-heritage-news/stonehenge-images/Picture%20071.jpg"/>
        <h4>
          <span class="icon"></span>
          <strong>Guided Tours</strong>
          / 1-Day-Trip
        </h4>
        <p>
          <span class="availability-date">Wed, Mar 19th 14</span>
          ,
          <span class="availability-time">10:30 am</span>
        </p>

        <div class="shoppingcart-price">
          <input type="number"
                 class="form-control"
                 id="shoppingcartItemAmount2"
                 name="shoppingcartItemAmount2"
                 ng-model="???"
                 value="1"
                 required
              >
          <span class="price">€ 250,–</span>
        </div>

        <div class="txt-icon-delete">
          <span class="hidden">Delete item</span>
          <span></span>
        </div>

      </div>

    </div>

       <!--SHOPPINGCART ITEMS END-->

    <div class="shoppingcart-subtotal">
      <span class="description">Subtotal</span>
      <span class="value">€ 500,–</span>
    </div>

    <div class="buttonbar">
      <a ng-href="checkout"
         class="btn btn-negative">
        Checkout (Step 1 of 3)
      </a>
    </div>

</div>