<div class="shoppingcart-element">
  <div class="shoppingcart-toggle"
       ng-click="toggleShoppingCartBar()"
      >
    <div class="innerwrap">
      <span class="numberofitems">{{shoppingcart.getTotal().num}}</span>
      <span class="hideme">Open Shoppingcart</span>
    </div>
  </div>

  <shoppingcart></shoppingcart>

  <div class="buttonbar"
      >
    <a class="btn btn-negative disabled"
       ng-hide="shoppingcart.getNumberOfItems() > 0"
        >
      {{ 'Checkout' | translate }}
    </a>

    <a ng-click="gotoPaymentPage()"
       class="btn btn-negative"
       ng-show="shoppingcart.getNumberOfItems() > 0"
        >
      {{ 'Checkout' | translate }}
    </a>
  </div>
</div>