@import "_0_global";

// C O L O R S
// ############################################################################################################################
// ############################################################################################################################
// ############################################################################################################################


// COLOR-DEFINITION
// ############################################################################################################################
// ############################################################################################################################

$darkblue : #00A0B5;
$lightblue: #BAE8EC;
$grey: #949C9E;


$color_white: #FFF;
$color_black: #000;

$color_black_50: lighten($color_black, 50%);
$color_black_25: lighten($color_black, 75%);
$color_black_15: lighten($color_black, 85%);


$color_pdf: #d3206d;
$color_pdf_l5: lighten($color_pdf, 5%);
$color_pdf_50: lighten($color_pdf, 50%);
$color_pdf_50_l5: lighten($color_pdf_50, 5%);
$color_pdf_75: lighten($color_pdf, 25%);
$color_pdf_75_l5: lighten($color_pdf_75, 5%);

$color_dwg: #c29508;
$color_dwg_l5: lighten($color_dwg, 5%);
$color_dwg_50: lighten($color_dwg, 50%);
$color_dwg_50_l5: lighten($color_dwg_50, 5%);
$color_dwg_75: lighten($color_dwg, 25%);
$color_dwg_75_l5: lighten($color_dwg_75, 5%);


$color_05: #259DB5; //full tone light blue
$color_05_l5: lighten($color_05, 5%);
$color_00: #f4fafb;//5%
$color_01: #def0f4;//15%
$color_01_l3: lighten($color_01, 3%);
$color_01_l5: lighten($color_01, 5%);
$color_01_d5: darken($color_01, 5%);
$color_02: #c8e6ec;//25%
$color_02_d5: darken($color_02, 5%);
$color_03: #92ceda;//50%
$color_03_l5: lighten($color_03, 5%);
$color_03_d5: darken($color_03, 5%);
$color_04: #5bb5c7;//75%
$color_04_l5: lighten($color_04, 5%);
$color_06: #00869c;
$color_06_l5: lighten($color_06, 5%);
$color_07: darken($color_05, 20%);
$color_08: darken($color_05, 30%);
$color_09: darken($color_05, 40%);

$color_15: #28373C; //full tone dark blue
$color_15_l5: lighten($color_15, 5%);
$color_15_d5: darken($color_15, 5%);
$color_15_d10: darken($color_15, 10%);
$color_10: #f4f5f5;//5%
$color_10_l5: lighten($color_10, 5%);
$color_10_d5: darken($color_10, 5%);
$color_11: #dfe1e2;//15%
$color_11_l5: lighten($color_11, 5%);
$color_11_d5: darken($color_11, 5%);
$color_12: #cacdce;//25%
$color_12_d5: darken($color_12, 5%);
$color_12_d10: darken($color_12, 10%);
$color_12_l5: lighten($color_12, 5%);
$color_13: #949c9e;//50%
$color_13_l5: lighten($color_13, 5%);
$color_13_d5: darken($color_13, 5%);
$color_14: #5f6a6d;//75%
$color_14_l5: lighten($color_14, 5%);
$color_14_d10: darken($color_14, 10%);
$color_16: darken($color_15, 10%);
$color_17: darken($color_15, 20%);
$color_18: darken($color_15, 30%);
$color_19: darken($color_15, 40%);
$color_19_l5: lighten($color_19, 5%);

$color_25: #E1550F; //full tone orange
$color_25_l5: lighten($color_25, 5%);
$color_21: #fae5db;//15%
$color_22: #f7d4c3;//25%
$color_23: #f0aa87;//50%
$color_23_l5: lighten($color_23, 5%);
$color_24: #e87f4b;//75%
$color_24_l5: lighten($color_24, 5%);
$color_24_d5: darken($color_24, 5%);
$color_26: darken($color_25, 10%);
$color_27: darken($color_25, 20%);
$color_28: darken($color_25, 30%);
$color_29: darken($color_25, 40%);

$color_35: #949C9E; //full tone grey

$color_45: #32B432; //full tone green
$color_41: #e0f4e0;//15%
$color_44: #65c765;//75%

$color_55: #c70000; //full tone red
$color_51: #f7d9d9; //15%
$color_54: #d54040; //75%

$color_65: #ffcc33; //full tone yellow
$color_61: #fff7e1;//15%
$color_62: #fff2cc;//25%
$color_63: #ffe699;//50%
$color_64: #ffd966;//75%





// COLOR-NAMESPACING
// ############################################################################################################################
// ############################################################################################################################


// HEADLINE COLORS
// ############################################################################################################################

$color_h1: $color_13;
$color_h2: $color_15;
$color_h3: $color_15;
$color_h4: $color_15;
$color_h5: $color_14;
$color_h6: $color_15;



// BODY COLORS
// ############################################################################################################################

$color_background: $color_white;
$color_text: $color_14;

$color_link: $color_05;
$color_link_hover: $color_04;

$color_seperator_grey: $color_12;

$color_notification_background: #ffffb1;
$color_notification_text: #7e7e56;

$color_alert_background: $color_notification_background;
$color_alert_text: $color_notification_text;
$color_error_background: $color_51;
$color_error_text: $color_54;
$color_info_background: $color_01;
$color_info_text: $color_04;
$color_upload_background: $color_21;
$color_upload_text: $color_24;
$color_success_background: $color_41;
$color_success_text: $color_44;


// NAV BAR COLORS
// ############################################################################################################################

$color_navbar_background: $color_10;
$color_navbar_background_hover: $color_10_d5;
$color_navbar_text: $color_12;

$color_navbar_border: $color_11;
$color_navbar_border_hover: $color_11_d5;
$color_navbar_border_highlight: $color_white;

$color_navbar_link: $color_14_l5;
$color_navbar_link_hover: $color_15;
$color_navbar_link_active: $color_05;


$color_navbar_dropdown_background: $color_white;

$color_navbar_dropdown_border: $color_12;
$color_navbar_dropdown_divider: $color_11;
$color_navbar_dropdown_header: $color_12;

$color_navbar_dropdown_link: $color_navbar_link;
$color_navbar_dropdown_link_hover: $color_navbar_link_hover;
$color_navbar_dropdown_link_hover_background: $color_10;
$color_navbar_dropdown_link_active: $color_navbar_link_active;



$color_link_grey: $color_14;
$color_link_grey_hover: $color_15;


// POP OVER COLORS
// ############################################################################################################################

$color_contextmenu_background: $color_white;

$color_contextmenu_border: $color_12;
$color_contextmenu_divider: $color_11;
$color_contextmenu_header: $color_12;

$color_contextmenu_link: $color_14;
$color_contextmenu_link_hover: $color_05;

// FORM COLORS
// ############################################################################################################################

$color_input_background: $color_white;
$color_input_background_active: $color_white;

$color_input_border: $color_12;
$color_input_border_hover: $color_12;
$color_input_border_active: $color_05;
$color_input_text: $color_15;
$color_input_text_inactive: $color_10;

$color_button_text: $color_white;
$color_button_background: $color_15;
$color_button_border: $color_13;
$color_button_text_hover: $color_button_text;
$color_button_background_hover: $color_15_l5;
$color_button_border_hover: $color_13_l5;

$color_form_background: $color_08;
$color_form_text: $color_04;
$color_form_seperator: $color_06;
$color_form_placeholder: $color_12;


// SITEMAP COLORS
// ############################################################################################################################

$color_sitemap_level01_background: $color_08;
$color_sitemap_level01_background_hover: $color_27;
$color_sitemap_level01_border: $color_07;
$color_sitemap_level01_border_hover: $color_25;
$color_sitemap_level01_text: $color_03;
$color_sitemap_level01_text_hover: $color_white;

$color_sitemap_level02_background: $color_05;
$color_sitemap_level02_background_hover: $color_04;
$color_sitemap_level02_border: $color_09;
$color_sitemap_level02_text: $color_09;
$color_sitemap_level02_text_hover: $color_sitemap_level01_text_hover;

$color_sitemap_level03_background: $color_04;
$color_sitemap_level03_background_hover: $color_03;
$color_sitemap_level03_background_hover2: $color_01;
$color_sitemap_level03_border: $color_sitemap_level02_border;
$color_sitemap_level03_text: $color_06;
$color_sitemap_level03_text_hover: $color_06;
$color_sitemap_level03_text_hover2: $color_09;

$color_sitemap_level04_background: $color_05;
$color_sitemap_level04_border: $color_sitemap_level02_border;
$color_sitemap_level04_text: $color_01;
