@import "_3_classes";

@mixin html {
  html {
    //prevent layout from jumping left because of appearing scrollbar
    overflow-y: scroll;
  }
}

a {
  &:hover {
    cursor: pointer;
  }
}

@media print {
  body {
    @include printplanlist;
  }
}

@include html;

@mixin body {
  body {
    background: url(#{$img_path}bg_body.png) repeat-x 0 39px;
    @include sysfont_01;
    font-size: $fs;
    line-height: $fs*$line-height_factor;
    color: $color_text;

    &.printplanlist {
      @include printplanlist;
    }
    //body.printplanlist
  }
}

//body
@include body;

@mixin page {
  .page {
    //min-width: 900px;
    margin: auto;
    padding-top: 40px;
    padding-bottom: 60px;

    max-width: $break-large;
    min-width: $break-small;
    .ie8 &, .ie9 & {
      //border: 1px solid red;
    }
  }
//.page
}

//@mixin page
@include page;

a.linkbutton:link, a.linkbutton:visited, a.linkbutton {
  @include a_buttonlink_blue_class;
}

// .linkbutton

.caret {
  @include caret;
  .navbar & {
    margin: 7px 0 0 7px;
  }
}

.navbar {
  position: fixed;
  z-index: 1000;
  top: 0;
  width: 100%;
  min-width: 600px;
  @include pie-clearfix;
  @include box-shadow_4px;

  .navbar-inner {
    padding: 0 15px;
    background-color: $color_navbar_background;
    @include border(bottom, $color_11_d5);
    min-height: 40px;
    min-width: $break-small - 15px*2;

    .divider-vertical {
      height: 40px;
      @include border(left, $color_navbar_border);
      @include border(right, $color_navbar_border_highlight);
    }

    .nav {
      position: relative;
      left: 0;
      display: block;
      float: left;
      margin: 0 10px 0 0;

      &.pull-right {
        margin-right: 0;
        float: right;
      }

      li {
        float: left;

        a {
          @include user-select(none);
          display: block;
          padding: 12px 15px 9px 15px;
          @include a_no_underline_class;
          color: $color_navbar_link;

          .caret {
            border-top-color: $color_navbar_link;
          }

          &:hover {
            color: $color_navbar_link_hover;
            background-color: $color_navbar_background_hover;
            .caret {
              border-top-color: $color_navbar_link_hover;
            }
          }
        }

        .linkbutton, button {
          margin: 10px 0 0 15px;
          padding: ($fs*0.15) ($fs*0.75);
          font-size: 14px;
        }
      }
      .dropdown {
        .dropdown-menu {
          position: absolute;
          top: 100%;
          z-index: 1000;
          display: none;
          float: left;
          padding: 5px 0;
          list-style: none;
          background-color: $color_white;
          @include border-all($color_navbar_dropdown_border);
          @include border-radius($border-radius_small);
          @include background-clip(padding-box);
          @include box-shadow_2px;

          li {
            width: 100%;
            @include box-sizing(border-box);
            &.dropdown-header {
              display: block;
              @include font-size_small;
              text-transform: uppercase;
              padding: 3px 15px;
              line-height: 1.428571429;
              color: $color_navbar_dropdown_header;
            }
            &.divider {
              height: 1px;
              margin: 9px 0;
              overflow: hidden;
              background-color: $color_navbar_dropdown_divider;
            }
            &.dropdown-button {
              padding: 3px 15px;
              .linkbutton {
                margin-left: 0;
              }
            }
            & a.active{
              background-color: $color_01;
              color: $color_05;
              cursor: default;
            }
          }

          a {
            max-width: 350px;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            color: $color_navbar_dropdown_link;
            padding: 3px 15px;
            margin-bottom: 0;
            .timestamp {
              color: $color_13_l5;
            }

            &:hover {
              color: $color_navbar_dropdown_link_hover;
              background: $color_navbar_dropdown_link_hover_background;
              .timestamp {
                color: $color_25;
              }
            }
            &.linkbutton {
              @include a_buttonlink_blue_class;
              padding: ($fs*0.15) ($fs*0.75);
              margin-top: 0;
              font-size: 14px;
              text-align: center;
            }
          }
        }
        &.open {
          .dropdown-menu {
            display: block;
          }
          a.dropdown-toggle {
            color: $color_navbar_link_hover;
            background-color: $color_navbar_background_hover;
            //padding-bottom: 20px;
            .caret {
              border-top-color: $color_navbar_link_hover;
            }
          }
        }
        &:before {
        }

        &.inactive, &.inactive.open {
          a.dropdown-toggle {
            .caret {
              display: none;
            }
          }
        }

      }
      > li > .dropdown-menu:before {
        content: '';
        display: inline-block;
        position: absolute;
        top: -7px;
        left: 9px;
        @include border(bottom, $color_navbar_dropdown_border);
        @include border(left, transparent);
        @include border(right, transparent);
        border-width: 7px;
      }
      > li > .dropdown-menu:after {
        content: '';
        display: inline-block;
        position: absolute;
        top: -6px;
        left: 10px;
        @include border(bottom, $color_navbar_dropdown_background);
        @include border(left, transparent);
        @include border(right, transparent);
        border-width: 6px;
      }
    }
    //.nav
  }
  //.navbar-inner
}
//.navbar


.nav-tab-header{
  @include pie-clearfix;
  margin-bottom: -$border-radius;
}

.nav-tab-body{
  background-color: $color_white;
  @include border-radius($border-radius);
  padding: 15px;
}

.nav-tab{
  li{
    float: left;
    a{
      span{
        display: block;
        padding: $fs*0.75 $fs*0.75 $fs*1.5 $fs*0.75;
      }
      display: block;
      @include a_no_underline_class;
      @include border-top-radius($border-radius_small);
      font-weight: $font-weight_bold;
      color: $color_13;
      &:hover{
        color: $color_14;
      }
      &.active{
        background-color: $color_white;
        color: $color_25;
        cursor: default;
        &:hover{
          color: $color_25;
        }
      }
    }
  }
}




$supportbar_height: 353px;

.supportbaropen .page {
  padding-top: $supportbar_height + 80px;
}

.supportbar {
  @include box-sizing(border-box);
  min-width: $break-small;
  padding: 15px;
  @include gradient_darkblue;
  color: $color_11;

  .table {
    @include table_5050_padding_25;
    .table_cell.right {
      border-color: $color_14;
    }
  }

  h4 {
    color: $color_11;
    margin-top: 0;
  }

  .supportform {
    .form_selection {
      @include border-radius($border-radius_small);
      overflow: hidden;
      margin-bottom: $fs;

      .selection {
        @include hovercursor;
        @include user-select(none);
        @include divtable_cell;
        @include border(left, $color_13);
        width: (100%)/3;
        // 3 options!
        height: 30px;
        padding: 5px;
        background-color: $color_12;
        line-height: 20px;
        color: $color_14;
        vertical-align: top;
        .checkbox_selection {
          @include checkbox_rounded_big;
          margin: 0 5px;
          vertical-align: top;
        }
        &:first-child {
          border: none;
        }
        &.selected {
          background-color: $color_05;
          color: $color_white;
          @include box-shadow_2px-inset;
          .checkbox_selection {
            @include checkbox_rounded_big_selected;
            background-color: $color_04;
          }
          &:hover {
            color: $color_white;
            cursor: auto;
            .checkbox_selection {
              background-color: $color_04;
              border-color: $color_white;
            }
          }
        }
        &:hover {
          color: $color_15;
          .checkbox_selection {
            border-color: $color_13_d5;
          }
        }
      }
    }
    .form_message {
      width: 100%;
    }
    .form_button {
      @include a_buttonlink_blue_class;
      margin-top: $fs;
      float: right;
    }
  }

  .buttonbar {
    @include buttonbar;
    padding: 10px 0 0 0;
    border-color: $color_14;
    .text_icon_close {
      color: $color_11;
    }
  }
}


@mixin logo {
  .logo {
    float: left;
    margin-right: 15px;
    margin-top: 13px;

    a {
      display: block;
      width: 110px;
      height: 22px;
      @include sprite_icons(0, 0, no-repeat);
      &:hover {
        @include sprite_icons(0, -25px, no-repeat);
      }
    }

  }
//.logo
}

@include logo;


@mixin uploadmanager {
  .uploadmanager {
    position: relative;
    top: 31px;
    z-index: 30;
    min-height: 10px;
    background-color: $color_25;
    @include box-shadow(rgba($color_black, 0.15) 0 -2px 0 inset);
    @include border(top, $color_23);
    @include border-top-radius($border-radius_small);
    margin: 0 52px 0 53px;
  }
}

@include uploadmanager;

@mixin upload_button {
  .upload_button {
    @include a_no_underline_class;
    position: absolute;
    z-index: 100;
    right: 25px;
    top: 0px;

    display: block;
    @include box-sizing(border-box);
    width: 165px;
    height: 55px;

    @include gradient_orange;
    @include border-bottom-radius($border-radius);
    @include box-shadow(rgba($color_black, 0.15) 0 2px 0);

    .text {
      @include box-sizing(border-box);
      display: block;
      width: 115px;
      height: 55px;
      float: left;
      padding: 10px 15px;
      @include border(left, $color_24_l5);

      @include webfont_01;
      font-size: 18px;
      line-height: 1em;
      color: $color_white;
      @include text-shadow_-1px;
    }

    .icon {
      @include box-sizing(border-box);
      display: block;
      width: 50px;
      height: 55px;
      float: left;
      @include sprite_icons(-110px, 15px, no-repeat);
      @include border(right, $color_24_d5);
    }

    &:hover {
      color: $color_white;
      @include gradient_orange_hover;
    }
    &:active {
      background: $color_25_l5;
    }
  }
}

@include upload_button;

@mixin uploadcount {
  position: absolute;
  z-index: 101;
  right: 175px;
  top: 39px;
  padding: 2px;
  @include font-size_small;
  background-color: $color_55;
  color: $color_white;
  text-align: center;
  font-weight: $font-weight_bold;
  @include border-all($color_white);
  border-width: 2px;
  @include border-radius(($fs*$line-height_factor*$font-size_small_factor + 4px + 6px)*0.5);
  min-width: $fs*$line-height_factor*$font-size_small_factor;
  @include box-shadow(rgba($color_black, 0.15) 0 2px 0);
}

.uploadcount {
  @include uploadcount;
}

@mixin upload_droparea {
  .upload_droparea {
    position: relative;
    height: 10px;

    @include hovercursor;
  }
}

@include upload_droparea;

@mixin projectsheet {
  .projectsheetwrap_left {
    background: url(#{$img_path}bg_page_sideelements.png) left -9px no-repeat;
    padding-left: 52px;
  }
  .projectsheetwrap_right {
    background: url(#{$img_path}bg_page_sideelements.png) right -9px no-repeat;
    padding-right: 53px;
  }

  .projectsheet {
    position: relative;
    padding-top: 50px;
    min-height: 550px;
    background: url(#{$img_path}bg_page.png) repeat-x center -9px;
    @include clearfix;
  }
}

@include projectsheet;

@mixin projecttitle {
  .projecttitle {

    @include border(bottom, $color_13);
    border-style: dotted;
    margin-bottom: 25px;

    .projecttitle_label {
      display: block;
      @include font-size_small;
      color: $color_13;
    }

    h1 {
      @include projecttitle_class;
      @include border-all(transparent);
    }

    input {
      @include projecttitle_class;
      @include box-sizing(border-box);
      padding-top: 0;
      padding-bottom: 0;
      margin: 0;
      background: transparent;
      width: auto;
      height: auto;
      border-style: dashed;
    }
    .edit, .cancel, .confirm {
      @include text_link_bottom;
    }

    .edittitle {
      display: inline-block;
    }
    .showtitle {
      display: inline-block;
    }

    .downloadproject_button {
      .downloadproject {
      }
    }

    a {
      &:hover {
        cursor: default;
      }
      &.editable {
        &:hover {
          @include hovercursor;
        }
      }
    }
  }
//.projecttitle
}

.projecttitle_new {
  .projecttitle {
    margin-bottom: $fs*2.0;
    .projecttitle_label {
      color: $color_text;
    }
    input {
      width: 100%;
    }
  }
  .buttonbar {
    @include buttonbar;
    margin-top: $fs*2.0;
    padding-right: 0;
  }
  .cancel {
    margin-left: 10px;
  }
  .role {
    .input_label {
      vertical-align: bottom;
      margin-bottom: 5px;
    }
  }
}

@include projecttitle;

@mixin tabnav {
  .tabnav {
    overflow: hidden;
    margin: 10px 0 0 0;

    li {
      float: left;
      width: 25%;
      margin-top: 11px;

      a {
        display: block;
        padding: 12px 5px 8px 20px;
        margin-right: 5px;
        background-color: $color_15;
        @include border(bottom, $color_19);
        border-width: 2px;
        color: $color_12;
        text-decoration: none;
        font-size: 20px;
        line-height: 1em;
        @include webfont_01;
        @include ellipsis(no-wrap);
        @include text-shadow(rgba($color_black, 0.25) 0 -1px 0);
        @include border-top-radius($border-radius_small);
        @include border-top-radius($border-radius_small);
        &:hover {
          color: $color_11;
          background-color: $color_15_l5;
          border-color: $color_16;
        }
      }

      &:last-child {
        a {
          margin-right: 0px;
        }
      }

      &.active {
        margin-top: 0;

        a {
          padding: 13px 0 9px 25px;
          font-size: 30px;
          color: $color_white;
          background-color: $color_05;
          @include text-shadow(rgba($color_black, 0.15) 0 -1px 0);
          @include border(bottom, $color_06);
        }
      }
    }
  }
}

@include tabnav;

@mixin headerbar {
  .headerbar {
    position: relative;
    @include box-sizing(border-box);
    min-height: 130px;
    @include border(top, $color_04);
    @include pie-clearfix;
    background-color: $color_05;
    color: $color_white;
    padding: 40px 25px;

    h3, a {
      color: $color_white;
    }
  }
  .backtolist {
    @include a_link_icon_neg;
    padding: 30px 30px 30px 0px;
  }
  .showinfo {
    @include a_link_icon_neg;
    span {
      background-position: -39px -167px;
    }
  }
//.headerbar
}

@include headerbar;

@mixin planfilterbar {

  .phases.phases_filter {
    float: left;
    @include box-sizing(border-box);
    width: 75%;
    margin-bottom: 15px;
  }

  .textsearch {
    position: relative;
    float: right;
    @include box-sizing(border-box);
    width: 25%;
    padding-left: 25px;
    label {
      display: none;
    }

    input {
      width: 100%;
      height: 40px;
      @include box-shadow_2px-inset;
      @include sprite_icons(right, -494px, no-repeat);
      padding-right: 35px;
      &:focus {
        @include box-shadow(rgba($color_black, 0.075) 0px 1px 1px inset, rgba($color_black, 0.5) 0px 0px 8px);
      }
      &.ng-valid {
        background-image: none;
      }
    }
    form {
      .delete {
        @include button_icon_delete;
        position: absolute;
        top: 10px;
        right: 10px;
        display: block;
      }
      &.ng-invalid {
        .delete {
          display: none;
        }
      }
    }
  }
//.textsearch

//.planfilterbar
}

@include planfilterbar;

@mixin filter_toggle {
  @include toggle_caret_neg;
  &.role {
  }
}

@mixin filter_area {
  clear: left;
  margin-top: $fs;
  padding-top: $fs;
  @include seperator(top, $color_04);
  .role_tags {
    @include role_tags;
    .role_tag {
      margin: 0 5px 5px 0;
      color: $color_14;
      @include gradient_lightblue2;
      &:hover {
        color: $color_15;
      }
      &.selected {
        color: $color_white;
        @include gradient_tag_selected;
        &:hover {
          color: $color_01;
        }
      }
    }
  }
  &.planlisting {
    border: none;
    margin: 0;
    padding: 0;
  }
}

.headerbar {
  .filter_toggle {
    @include filter_toggle;
    float: right;
    margin-top: 20px;
  }
  .filter_area {
    @include filter_area;
  }
}

$searchhits_width: 150px;

@mixin searchhits {
  .searchhits {
    position: absolute;
    bottom: -20px;
    left: 50%;
    margin-left: -$searchhits_width * 0.5;
    padding: 12px 20px;
    width: $searchhits_width;
    background-color: $color_white;
    color: $color_text;
    font-size: 18px;
    font-weight: $font-weight_bold;
    text-align: center;
    @include box-shadow(rgba($color_black, 0.15) 0 2px 0 inset);
    @include border-radius(20px);
  }
}

@include searchhits;

@mixin result {
  .result {
    padding: 25px;
    @include border(top, $color_white);

    .planselector & {
      background-color: $color_02;
      @include border-bottom-radius($border-radius_small);
    }

  }

//avoid blinking of background color by attaching color to #contentlisting_region
  .contentlisting {
    background-color: $color_02;
    @include border-bottom-radius($border-radius_small);
  }
}

@include result;

@mixin footer {
  .footer {
    padding: 20px;
    display: none;
    //hidden
  }
}

@include footer;

@mixin authpage {
  .authpage {
    @include loginpages_class;

    input {
      @include box-sizing(border-box);
      width: 100%;
    }

    .ctrlHolder {
    }
    //.loginform

    .forgottenpasswordlink {
      display: inline-block;
      @include font-size_small;
    }
    //.forgottenpasswordlink

    .cancel {
      margin-left: 10px;
    }

    .accountdata {
      .editpassword {
        margin-left: 10px;
      }
      .input_label{
        margin-bottom: 0;
      }
    }

  }
}

//@mixin authpage
@include authpage;

@mixin projectspage {
  .projectspage {
    @include loginpages_class;

    ul {
      @include linklist_seperator_class;
      li {
        a {
          display: block;
          @include a_no_underline_class;
          padding-left: 5px;
          padding-right: 5px;
          color: $color_link_grey;
          .timestamp {
            display: block;
            color: $color_13;
          }
          &:hover {
            background-color: $color_white;
            color: $color_link_grey_hover;
            .timestamp {
              color: $color_25;
            }
          }
        }
      }
    }
    //ul

    .edit {
      @include a;
      @include font-size_small;
      margin-left: 10px;
    }

    .new {
      display: inline-block;
      @include a_buttonlink_blue_class;
      margin-top: 20px;
    }
    //.new
  }
}

//@mixin projectspage
@include projectspage;

// PLÄNE
// #####################################################################################################################
// #####################################################################################################################

.button_new_plan {
  float: left;
  @include button_big_orange;
}

.timestamp_plan {
  @include alert;
  @include timestamp;
  float: right;
  text-align: right;
  background-color: $color_alert_background;
  color: $color_25;
  .text{
    font-weight: normal;
    color: $color_text;
    text-transform: none;
  }
}

@mixin planlistingheader {
  .planlistingheader {
    @include divtable_header;

    .planname {
      width: (100%)/7 + (100%)/7/2;
    }
    .plancontent {
      width: (100%)/7;
    }
    .index_cell {
      width: (100%)/7/2;
      text-align: center;
    }
    .phase {
      width: (100%)/7;
    }
    .file_pdf {
      width: (100%)/7/2;
      text-align: center;
    }
    .file_dwg {
      width: (100%)/7/2;
      text-align: center;
      border-color: $color_15_l5;
    }
    .files {
      width: (100%)/7;
    }
    .uploader {
      width: (100%)/7;
    }
    .modified {
      width: (100%)/7;
      text-align: right;
    }
  }
}

@include planlistingheader;

@mixin planlistingmessagebox {
  .planlistingmessagebox {
    clear: both;
    padding: 25px;
    font-size: 18px;
    line-height: 18px*$line-height_factor;
    text-align: center;
    font-weight: $font-weight_bold;
    color: $color_15;
    @include text-shadow_-1px;
  }
}

@include planlistingmessagebox;

@mixin plan_height{ //needed for vertical zebra (min-height: 100%)
  height: 65px;
}


@mixin plan {
  .plan {
    @include divtable_row_blocks;
    @include plan_height;

    .planname {
      width: (100%)/7 + (100%)/7/2;
    }
    .plancontent {
      width: (100%)/7;
    }
    .index_cell {
      width: (100%)/7/2;
      text-align: center;
      .index {
        @include index;
      }
    }
    .phase {
      width: (100%)/7;
    }
    .files {
      width: (100%)/7;
      @include files;

      .file {
        display: block;
        margin-bottom: 5px;
        @include ellipsis;
        .filepdf, .filedwg {
          margin-right: 5px;
        }
      }
      :last-child {
        margin-bottom: 0;
      }

    }
    .uploader {
      width: (100%)/7;
      .uploader_name {
        @include ellipsis(no-wrap);
      }
    }
    .role_tag {
      margin-top: 6px;
      @include role_tag;
      margin-right: 5px;
    }
    .modified {
      width: (100%)/7;
      text-align: right;
    }
  }
}

@include plan;

@mixin plan_detail {
  @include itemlist_detail;
  .detail_header{
    .input_wrap {
      width: 48%;
      margin-right: 1%;
      &.last{
        margin-right: 0;
        float: right;
      }
    }
    .buttonbar{
      padding: 10px 0 0 0;
      border: none;
    }
  }
  .phases_wrap {
    @include padding_25;
    @include seperator(bottom, $color_02);
    @include pie-clearfix;
    .buttonbar {
      @include buttonbar;
      margin-top: $fs;
    }
  }
  .phase_selected {
    h4 {
      display: inline-block;
      margin: 0;
    }
  }

  .uploadnewrevision_wrap {
    @include padding_25_first;
    padding-bottom: 0;
    button {
      @include a_buttonlink_orange_class;
    }
  }
  .uploadnewrevision {
    @include border-radius($border-radius);
    @include border-all($color_25);
    border-width: 4px;
    .buttonbar {
      background-color: $color_25;
      border: none;
      .text_link {
        color: $color_white;
      }
    }
  }
  .new_plan_upload {
    @include border-radius($border-radius);
    @include border-all($color_10);
    border-width: 4px;
  }
  .new_plan_upload_wrap {
    @include padding_25_first;
    padding-bottom: 0;
    margin-bottom: 25px;
  }
}

.plan_detail {
  @include plan_detail;
}

.new_plan_detail {
  @include plan_detail;
}

$uploadnewrevision_fileupload_height: 57px;

@mixin upload_filename {
  @include box-sizing(border-box);
  max-height: $uploadnewrevision_fileupload_height;
  margin: 0;
  padding: 10px 15px;
  padding-right: 45px;
  @include linkbreak;
  overflow: hidden;
  font-weight: $font-weight_bold;
  .upload_filename_text {
    font-weight: $font-weight_light;
  }

}

@mixin upload_delete {
  @include button_icon_delete;
  position: absolute;
  right: 10px;
  top: 10px;
}

.upload {
  position: relative;
  border: 2px dashed $color_11;
  @include border-radius($border-radius);
  margin-bottom: $fs;

  min-height: 57px;

  &.dragover {
    border-color: $color_12;
    background-color: $color_10;
  }

  &.completed {
    border-color: $color_45;
    border-style: solid;
  }

  &.uploaderror {
    border-color: $color_55;
    border-style: solid;

    .alert{
      display:block;
      margin:0;
      min-height: 57px;
    }
  }

  //### UPLOADFORM ###

  .uploadform {
    @include box-sizing(border-box);
    @include padding_15;
    .button_fileinput {
      display: inline-block;
      vertical-align: middle;
      margin-right: $fs*0.5;
      @include a_buttonlink_orange_class;
      .pdf & {
        @include a_buttonlink_pdf_class;
      }
      .dwg & {
        @include a_buttonlink_dwg_class;
      }
    }
    .dragover_help {
      display: inline-block;
      vertical-align: middle;
      @include font-size_small;
      color: $color_13;

      .lt-ie10 &, .opera12 & {
        display:none;
      }
    }
  }

  //### PROGRESSBAR ###

  .upload_progressbar {
    width: 100%;
    position: relative;
    @include border-radius($border-radius);
    display: block;

    .upload_progressbar_animatedbar {
      width: 1%;
      min-height: $uploadnewrevision_fileupload_height;
      @include border-left-radius($border-radius);
      @include sprite_icons(0, -325px, repeat-x);
    }

    &.inprogress {
      .upload_progressbar_animatedbar {
        -webkit-animation: progress 2s linear infinite;
        -moz-animation: progress 2s linear infinite;
        -ms-animation: progress 2s linear infinite;
        animation: progress 2s linear infinite;

        .lt-ie10 &, .opera12 & {
          width: 100% !important;
        }
      }

    }

    .spinner {
      width: 30px;
      height: 20px;
      float: left;
      display: none;
      .lt-ie10 &, .opera12 & {
        display: block;
      }
    }

    .upload_filename {
      @include upload_filename;
      position: absolute;
      top: 0;
      padding-right: 90px;
      .upload_filename_text {
        color: $color_25;
      }
    }

    .progressvalue {
      position: absolute;
      right: 40px;
      top: 10px;
      font-size: 18px;
      color: $color_25;
      font-weight: $font-weight_bold;

      .lt-ie10 &, .opera12 & {
        display: none;
      }
    }

    .delete {
      @include upload_delete;
    }
  }

  //### UPLOAD COMPLETED ###

  .upload_completed {
    min-height: $uploadnewrevision_fileupload_height;
    .upload_filename {
      @include upload_filename;
      .upload_filename_text {
        color: $color_45;
      }
    }
    .delete {
      @include upload_delete;
    }
  }
}

.uploadnewrevision_fileupload {

  display: inline-block;
  width: 100%;

  .upload {
    .uploadform {
    }
  }

  .upload_progressbar {
    .upload_progressbar_animatedbar {
      height: $uploadnewrevision_fileupload_height;
    }
    &.inprogress {
      .upload_progressbar_animatedbar {
      }
    }
    &.completed {
      .upload_progressbar_animatedbar {
      }
      .progressvalue {
      }
    }

    .progressvalue {
      position: absolute;
      left: 15px;
      top: auto;
      bottom: 15px;
    }
    .delete {
      top: 15px;
      right: 15px;
    }
  }
  //.upload

  &.pdfuploadrunning, &.dwguploadrunning {
    .upload {
      width: 100%;
      @include border-right-radius($border-radius);
      border-color: $color_25;
      border-style: solid;
      padding: 0;
    }
  }

  .upload_filename, .upload_filename_link {
    position: absolute;
    z-index: 100;
    @include h5;
    margin: 0;
    @include padding_15;
    padding-right: 0px;
    margin-right: 30px;
  }

  .dwgupload_completed, .pdfupload_completed {
    @include box-sizing(border-box);
    position: relative;
    height: $uploadnewrevision_fileupload_height;
    @include border-all($color_45);
    border-width: 2px;
    @include border-radius($border-radius);
    margin-bottom: 10px;
    background-color: $color_10;
    .delete {
      @include button_icon_delete;
      position: absolute;
      top: 15px;
      right: 15px;
    }
  }

  .fileupload_confirmation {
    position: absolute;
    left: 15px;
    top: auto;
    bottom: 15px;
    font-size: 18px;
    color: $color_14;
  }
}

.uploadnewrevision_content {
  @include table_5050_padding_25;

  .left {
    width: 33%;
    padding-right: 0;
  }
  .right {
    width: 67%;
    border: none;
    padding-left: 0;
  }
  .index_input {
    @include pie-clearfix;
    input {
      width: 50px;
      height: auto;
      margin: 0;
      background-color: $color_05;
      border: 1px dashed $color_02;
      @include border-radius($border-radius_small);
      padding: 2px 4px;
      font-size: $fs*$font-size_h3_factor;
      line-height: $fs*$font-size_h3_factor;
      @include text-shadow_-2px;
      color: $color_white;
      text-align: center;
      text-transform: uppercase;
      &:focus {
        background-color: $color_04;
      }
    }
  }
  .index {
    @include index_large_text;
    margin: 0 10px 0 0;
    padding-left: 4px;
    padding-right: 4px;
  }
  .comment_input {
    padding-top: 15px;
    textarea {
      @include box-sizing(border-box);
      width: 100%;
    }
  }
}

.planrevision {

  .table.indexfiles {
    @include table_innerpadding_10;
    width: 100%;

    .index {
      @include index_large_text;
    }

    .files {
      @include files;
      width: 100%;
      @include border(left, $color_11);
      padding-left: 10px;
      .file {
        &.pdf {
          @include seperator(bottom, $color_12);
          padding-bottom: 10px;
          margin-bottom: 10px;
        }
        .downloadlink {
          @include linkbreak;
          margin-top: 5px;
          position: relative;
          // needed to position right-click menu correctly
        }
      }
    }
  }

  .comment {
    display: block;
    margin-top: 25px;
    @include font-size_small;
  }

  .revision_index {
    @include label;
    background-color: $color_24;
    color: $color_white;
    font-weight: normal;
  }

  .revision_created {
    margin-bottom: $fs*$font-size_h5_factor;
  }

  .created {
    font-size: $fs*$font-size_h5_factor;
    line-height: $fs*$line-height_factor*$font-size_h5_factor;
    font-weight: $font-weight_bold;
  }

  .creater {
    font-size: $fs*$font-size_h5_factor;
    line-height: $fs*$line-height_factor*$font-size_h5_factor;
  }

}

.table.detail_body_content {
  @include table_5050_padding_25;
}

.planrevision.old {
  padding-left: 0;
  padding-right: 0;
  color: $color_13;

  .detail_body_innerwrap {
    border-color: $color_10;
    &:hover {
      border-color: $color_11;

      .plan_detail_participants {
        border-color: $color_11;
      }
      .table.indexfiles {
        .index {
          background-color: $color_05;
        }
        .table_cell.files .filepdf .label {
          background-color: $color_pdf;
        }
        .table_cell.files .filedwg .label {
          background-color: $color_dwg;
        }
        .table_cell.files .filepdf.label_link {
          border-color: $color_pdf;
          color: $color_pdf;
          &:hover {
            color: $color_white;
          }
          &.disabled {
            border-color: $color_12;
            color: $color_12;
            .label {
              background-color: $color_12;
            }
          }
        }
        .table_cell.files .filedwg.label_link {
          border-color: $color_dwg;
          color: $color_dwg;
          &:hover {
            color: $color_white;
          }
          &.disabled {
            border-color: $color_12;
            color: $color_12;
            .label {
              background-color: $color_12;
            }
          }
        }
      }
      .revision_index {
        background-color: $color_24;
      }
      color: $color_text;
      .contextmenu {
        a {
          color: $color_contextmenu_link;
          &:hover {
            color: $color_contextmenu_link_hover;
          }
        }
      }
      a {
        color: $color_link;
      }
      .participants_revision_content {
        background-color: $color_10;

        .participant_revision {
          color: $color_14;
          .filedwg {
            background-color: $color_dwg;
          }
          .filepdf {
            background-color: $color_pdf;
          }
        }
        .buttonbar {
          .text_icon_close {
            color: $color_text;
          }
          background-color: $color_10_d5;
        }
      }
    }
  }
  .plan_detail_participants {
    border-color: $color_10;
  }
  .revision_index {
    background-color: $color_12;
  }
  .table.indexfiles {
    .index {
      background-color: $color_12;
    }
    .table_cell.files {
      .label_link {
        border-color: $color_12;
        color: $color_12_d5;
        .label {
          background-color: $color_12;
        }
      }
    }
  }

  a {
    color: $color_13;
  }

  .participants_revision_content {
    background-color: $color_white;

    .participant_revision {
      color: $color_13;
      .filedwg, .filepdf {
        background-color: $color_12;
      }
    }
    .buttonbar {
      background-color: $color_10;
    }
    .text_icon_close {
      color: $color_14;
    }
  }
}

.participants_revision_sent {
  .participants_revision_content {
    margin-bottom: $fs*2.0;
  }
}

.participants_revision_content {
  margin-top: $fs*0.25;
  background-color: $color_10;
  @include border-radius($border-radius_small);
  @include border-all($color_11);
  @include box-shadow_2px-inset;

  .participant_revision {
    @include font-size_small;
    @include divtable_row_small;
    border-bottom: 0;
    @include border(top, $color_white);
    color: $color_14;
    &:first-child {
      border-top: none;
    }

    .infotext {
      width: 66%;
      .name {
        font-weight: $font-weight_bold;
      }
      .filepdf {
        @include label;
        background-color: $color_pdf;
        color: $color_white;
        font-weight: normal;
      }
      .filedwg {
        @include label;
        background-color: $color_dwg;
        color: $color_white;
        font-weight: normal;
      }
    }
    .date {
      width: 33%;
      text-align: right;
    }
  }
  //.participant_revision

  .buttonbar {
    @include buttonbar_small;
    border: none;
    background-color: $color_10_d5;
    .text_icon_close {
      span {
        background-position: 3px -197px;
      }
    }
  }
}

.planmailer {
  background-color: $color_11;
  .planmailer_button_wrap {
    a {
      display: block;
      padding: 15px 25px (15px - 4px) 25px;
      @include h5;
      margin: 0;
      background-color: $color_11;
      color: $color_06;
      text-align: center;
      @include sprite_icons(center, -425px, no-repeat);
      @include animation_background;
      @include user-select(none);
      @include text-shadow_2px;
      @include border-bottom-radius($border-radius_small);

      &:hover {
        color: $color_05;
        @include sprite_icons(center, -425px, no-repeat);
      }
    }
  }
  &.open {
    .planmailer_button_wrap {
      a {
      }
    }
  }

  .planmailer_content {
    .table {
      @include table_5050_padding_25;
      .right {
        border-color: $color_white;
      }
    }
  }

  .buttonbar {
    @include buttonbar;
    border-color: $color_white;
  }

  .planmailer_content {
    @include seperator(top, $color_white);
    h5 {
      margin-top: 0;
    }
    .checkbox {
      margin-bottom: 2px;
      padding: 5px 10px 5px 30px;
      @include border-radius($border-radius_small);
      &:hover {
        background-color: $color_10;
      }
      &.disabled {
        text-decoration: line-through;
        color: $color_13_d5;
        &:hover {
          background-color: transparent;
        }
        .icon_state {
          display: inline-block;
          @include sprite_icons(-124px, -175px, no-repeat);
        }

      }
      .icon_state {
        display: none;
        width: 20px;
        height: 14px;
      }
    }

  }

  .planmailer_participant {
    .name {
      font-weight: $font-weight_bold;
    }
    .email {
    }
    .role_tag{
      @include role_tag;
      display: inline-block;
      vertical-align: top;
      margin-left: $fs*0.5;
    }
  }

  .planmailer_emails_add {
    p {
      @include font-size_small;
    }
    .delete {
      @include button_icon_small_delete;
      top: 2px;
    }
    .planmailer_email_add {
      margin-top: $fs;
      padding-top: $fs;
      @include seperator(top, $color_seperator_grey);
      .add {
        @include button_icon_add;
      }
    }
  }

  .afterSendingMessageBox {
    padding: 0 25px 0 25px;
    .alert {
      @include box-sizing(border-box);
      width: 100%;
    }
  }
}

//.planmailer

//plan_detail

.planrevisions {
  @include padding_25_last;
  h4 {
    margin: 0;
  }
}

.revision_toggle {
  @include toggle_caret;
}

// PLÄNE END
// #####################################################################################################################
// #####################################################################################################################

// BETEILIGTE
// #####################################################################################################################
// #####################################################################################################################

.newparticipant {
  margin: 15px 0 25px 0;
  .buttonbar {
    @include buttonbar;
    display: block;
  }
}

.btn_add_participant {
  @include button_big_blue;
}

@mixin participantlistheader {
  .participantlistheader {
    @include divtable_header;
    .participantlist_email {
      width: 25%;
    }
    .participantlist_name {
      width: 25%;
    }
    .participantlist_company {
      width: 25%;
    }
    .participantlist_role {
      width: 25%;
    }
  }
}

@include participantlistheader;

@mixin participants_screen {
  .participants_screen {
    display: none;
  }
}

@include participants_screen;

@mixin participant {
  .participant {
    @include divtable_row_blocks;
    height: 40px;
    //needed for vertical zebra (min-height: 100%)

    .lt-ie9 & {
      display:block;
    }

    .email {
      width: 25%;
    }
    .name {
      width: 25%;
    }
    .company {
      width: 25%;
    }
    .role {
      width: 25%;
      .role_tag {
        @include role_tag;
        margin-right: 5px;
      }
    }
    .icon_state {
      display: none;
      width: 20px;
      height: 14px;
    }

    &.disabled {
      .cell {
        background-color: $color_10_d5;
        color: $color_13;
        border-color: $color_white;
      }
      &:hover {
        .cell {
          background-color: $color_11;
          border-color: $color_10;
        }
      }
      .icon_state {
        display: inline-block;
        @include sprite_icons(-124px, -175px, no-repeat);
      }
      .role_tag {
        background-color: $color_13_l5;
      }
    }
    &.owner {
      .icon_state {
        display: inline-block;
        @include sprite_icons(-125px, -223px, no-repeat);
      }
    }
  }
//.participant
}

@include participant;

@mixin participant_detail {
  @include itemlist_detail;
  .participant_info {
    h5 {
      margin-top: 0;
    }
  }
  .participant_loggedin {
    font-size: $fs*$font-size_h5_factor;
    line-height: $fs*$line-height_factor*$font-size_h5_factor;
    .time {
      font-weight: $font-weight_bold;
    }
  }

  .detail_header {
    input {
      width: 100%;
    }
  }

  .input_toggle {
    .input_label{
      margin-bottom: 0;
    }
    .input_noedit {
      position: relative;
      top: 3px;
      display: inline-block;
      margin: 0;
      padding-top: 5px;
    }
    input {
      @include box-sizing(border-box);
      margin: 0;
      height: auto;
      width: 100%;
    }
  }
  .detail_body_content{
    .buttonbar {
      margin-top: 5px;
      padding: 5px 0 0 0;
      text-align: right;
      @include seperator(top, $color_seperator_grey);
    }
  }
  .role {
    margin-top: 25px;
  }
}

.participant_state_block {
  @include seperator(top, $color_11);
  margin: 15px 0;
  padding-top: 15px;
  &.owner {
    h4 {
      margin: 0;
    }
    .icon_state {
      @include icon_large;
      @include sprite_icons(-142px, -217px, no-repeat);
      background-color: $color_25;
      top: 7px;
      margin-right: 5px;
    }
  }
}

.participant_lock {
  text-decoration: none;
  .button {
    @include a_buttonlink_blue_class;
  }
  .icon_lock {
    @include button_icon_large;
    @include sprite_icons(-141px, -143px, no-repeat);
    background-color: $color_45;
    &:hover {
      background-color: $color_45;
    }
  }
  &.unauthorized {
    text-decoration: none;
    .button {
      opacity: 0.5;
      text-decoration: line-through;
      &:hover {
        cursor: default;
      }
    }
    .icon_lock {
      background-color: $color_12_d10;
    }
  }
  &.locked {
    color: $color_55;
    .icon_lock {
      background-color: $color_55;
      background-position-x: -116px;
    }
    &.disabled {
      .icon_lock {
        background-color: $color_12_d10;
      }
    }
  }
}

.participant_detail {
  @include participant_detail;
}

.new_participant_detail {
  @include participant_detail;
}

.user_activity {
  @include padding_25_last;
  @include seperator(top, $color_02);
}

// BETEILIGTE END
// #####################################################################################################################
// #####################################################################################################################

// AKTIVITÄTEN
// #####################################################################################################################
// #####################################################################################################################

@mixin activitylistheader {
  @include divtable_header;
  @include border-bottom-radius(0);
  margin-top: 15px;
  .description {
    width: 80%;
  }
  .time {
    width: 20%;
    text-align: right;
  }
}

.activitylistheader {
  @include activitylistheader;
}

.participant_detail {
  .activitylistheader {
    @include divtable_header_small;
  }
}

@mixin activity {
  @include divtable_row;
  @include striperows;

  .icon_cell {
    width: 30px;
  }
  .description {
    width: 75%;
  }

  .icon {
    @include icon;
    display: block;
    float: left;
    position: static;
    margin-right: 5px;
    @include sprite_icons(-67.5px, -296px, no-repeat);
  }
  .actor {
    font-weight: $font-weight_bold;
  }
  .text {
  }
  .time {
    width: 19%;
    float: right;
    font-weight: $font-weight_bold;
    white-space: normal;
    text-align: right;
  }

  .postplan {
    .icon {
      background-color: $color_25;
    }
  }
  .postplanrevision {
    .icon {
      background-color: $color_25;
      background-position: -20.5px -296px;
    }
  }
  .putplanname {
    .icon {
      background-color: $color_65;
    }
  }
  .putplanphase {
    .icon {
      background-color: $color_65;
    }
  }
  .filedownload {
    .icon {
      background-color: $color_45;
      background-position: -45.5px -296px;
    }
  }
  .postproject {
    .icon {
      background-color: $color_45;
    }
  }
  .putprojecttitle {
    .icon {
      background-color: $color_65;
    }
  }
  .sendrevision {
    .icon {
      background-color: $color_05;
      background-position: 5px -295px;
    }
  }
  .postprojectinvitation {
    .icon {
      background-color: $color_45;
      background-position: -19px -194px;
    }
  }
  .putprojectparticipantenabled {
    .icon {
      background-color: $color_65;
    }
  }
  .putparticipantrole {
    .icon {
      background-color: $color_65;
    }
  }
  .putparticipantcompany {
    .icon {
      background-color: $color_65;
    }
  }
  .postrole {
    .icon {
      background-color: $color_65;
    }
  }

}

.activity {
  @include activity;
  &:last-child {
    @include border-bottom-radius($border-radius_small);
  }
}

// AKTIVITÄTEN END
// #####################################################################################################################
// #####################################################################################################################

// PLANLISTE
// #####################################################################################################################
// #####################################################################################################################

.planlist_showactivity {
  float: left;
}

.planlist_date {
  margin: 0;
}

.button_planlist_print {
  @include button_big_blue;
  float: right;
  margin: 0 0 0 15px;
}

@mixin planlistheader {
  .planlistheader {
    @include divtable_header;

    .planname {
      width: (100%)/7 + (100%)/7/2;
    }
    .plancontent {
      width: (100%)/7;
    }
    .index_cell {
      width: (100%)/7/2;
      text-align: center;
    }
    .phase {
      width: (100%)/7;
    }
    .file_pdf {
      width: (100%)/7/2;
      text-align: center;
    }
    .file_dwg {
      width: (100%)/7/2;
      text-align: center;
      border-color: $color_15_l5;
    }
    .uploader {
      width: (100%)/7;
    }
    .modified {
      width: (100%)/7;
      text-align: right;
    }
  }
}

@include planlistheader;

@mixin planlist {
  .planlist {
    .group {
      color: $color_14;
      margin-bottom: 0px;
    }
  }
}

@include planlist;

@mixin planlistitem {
  .planlistitem {
    @include divtable_row_blocks;
    .cell {
      height: 39px;
    }
    .planname {
      width: (100%)/7 + (100%)/7/2;
    }
    .plancontent {
      width: (100%)/7;
    }

    .index_cell {
      width: (100%)/7/2;
      text-align: center;
      .index {
        margin-right: 5px;
        @include index;
      }
    }

    .phase {
      width: (100%)/7;
    }
    .uploader {
      width: (100%)/7;
      .role_tag {
        margin-top: 7px;
      }
    }
    .modified {
      width: (100%)/7;
      text-align: right;
    }

    .planlistitem_activity {
      @include seperator(top, $color_02);
    }

    .participants_revision_sent, .participants_revision_downloaded {
      width: 50%;
      @include font-size_small;
      white-space: normal;
      color: $color_13;
    }
    .participants_revision_sent {
      @include pie-clearfix;

    }
  }
//.planlist
}

@include planlistitem;

// PLANLISTE END
// #####################################################################################################################
// #####################################################################################################################

@mixin planselector {
  .planselector {

    position: absolute;
    top: 0;
    left: 0;
    right: 0;

    z-index: 10000;

    //fallback for IE < 9
    background-color: $color_black;
    background-color: rgba(0, 0, 0, 0.75);

    .innerwrap {
      position: relative;
      margin: 100px 10% 100px 10%;
    }

    .filterbar {
      @include border-top-radius($border-radius_small);
    }

    @include pie-clearfix;

    .close {
      @include box-sizing(border-box);
      @include icon_large;
      position: absolute;
      z-index: 1;
      top: -15px;
      right: -15px;
      float: right;
      background-color: $color_15;
      @include border-all($color_white);
      border-width: 2px;
      @include sprite_icons(8px, -142px, no-repeat);
      &:hover {
        background-color: $color_14;
      }

      span {
        display: none;
      }
    }
    //.close
  }
}

@include planselector;

@mixin pickadate {
  .pickadate__holder {
    width: 100%;
    height: 0;
    position: absolute;
    z-index: 10000;
  }

  .pickadate__calendar--wrap {
    position: relative;
    max-width: 320px;
    min-width: 256px;
    max-height: 0;
    overflow-y: hidden;
    -webkit-transition: all .15s ease-out;
    -moz-transition: all .15s ease-out;
    transition: all .15s ease-out;
  }

  .pickadate__holder--opened .pickadate__calendar--wrap {
    top: .5em;
    max-height: 25em;
    -webkit-box-shadow: 0 6px 18px 1px rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0 6px 18px 1px rgba(0, 0, 0, 0.12);
    box-shadow: 0 6px 18px 1px rgba(0, 0, 0, 0.12);
  }

  .pickadate__calendar--box {
    padding: 1em;
    font-size: 1em;
    line-height: 1.5;
    color: #000;
    background: #fff;
    border: 1px solid #ccc;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  .pickadate__calendar {
    text-align: center;
    border-collapse: collapse;
    border-spacing: 0;
    table-layout: fixed;
    width: 100%;
    margin-top: 1em;
  }

  .pickadate__calendar--date {
    padding: .33em 0 .25em;
    font-weight: 100;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
  }

  .pickadate__weekday {
    width: 14.285714286%;
    /* 100/7 */
    font-size: .8em;
    padding-bottom: .75em;
    color: #999;
    font-weight: 500;
  }

  .pickadate__day--infocus:hover, .pickadate__day--outfocus:hover, .pickadate__month--prev:hover, .pickadate__month--next:hover {
    cursor: pointer;
    color: #000;
    background: #b1dcfb;
  }

  .pickadate__month--nav {
    position: relative;
  }

  .pickadate__month--prev, .pickadate__month--next {
    position: absolute;
    top: 0;
    padding: .5em;
    margin: -0.5em;
    min-width: 16px;
    height: 24px;
    line-height: 28px;
  }

  .pickadate__month--prev {
    left: 0;
  }

  .pickadate__month--next {
    right: 0;
  }

  .pickadate__month--box, .pickadate__year--box {
    text-align: center;
  }

  .pickadate__month {
    font-weight: 500;
  }

  .pickadate__year {
    font-size: .66em;
    color: #999;
    font-weight: bold;
  }

  .pickadate__month--selector, .pickadate__year--selector {
    font-size: .8em;
    border: 1px solid #ccc;
    height: 32px;
  }

  .pickadate__month--selector {
    margin-bottom: .5em;
    width: 50%;
  }

  .pickadate__year--selector {
    width: 32%;
  }

  .pickadate__day--outfocus {
    color: #ccc;
  }

  .pickadate__day--today {
    color: #0089ec;
  }

  .pickadate__day--selected {
    background: #0089ec;
    color: #fff;
    &:hover {
      background: #0089ec;
      color: #fff;
    }
  }

  .pickadate__day--disabled {
    background: #f5f5f5;
    color: #ddd;
    cursor: default;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    &:hover {
      background: #f5f5f5;
      color: #ddd;
      cursor: default;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      border-radius: 0;
    }
  }

}

//mixin pickadate
@include pickadate;

@mixin pickadate_themed {

  .pickadate__holder {
    td {
      padding: 0;
    }
    td:last-child {
      width: auto;
    }

  }

  .pickadate__calendar--date {
    text-align: center;
  }

  .pickadate__day--today {
    color: $color_25;
  }

  table {
    width: 100%;
    table-layout: fixed;
    th, td {
      padding: 5px 10px;
      width: auto;
      vertical-align: top;
      &:last-child {
        width: auto;
        font-weight: bold;
      }
    }
    tr {
      @include striperows2;
      th {
        background-color: $color_15;
        font-weight: $font-weight_bold;
        color: $color_white;
        @include text-shadow(rgba($color_black, 0.25) 0 -1px 0);
        vertical-align: bottom;
        &.header {
          padding: 10px;
          &:first-child {
            @include border-left-radius($border-radius_small);
          }
          &:last-child {
            @include border-right-radius($border-radius_small);
          }
        }
        //th.header
      }
      //th
    }
  }
//table

}

.planlists {
  @include pickadate_themed;
}

.showplanlist {
  padding: 0px 0 30px 0;
  display: inline-block;
}

.name_plandetail {
  margin: 10px 0 20px 0;
}

.loadingicon {
  float: left;
  width: auto;
  height: 20px;
  margin-top: 10px;
  span {
    color: $color_13;
    line-height: 23px;
    padding-left: 27px;
  }
}

/*
ng-animate for ng-repeat
*/

.repeat-enter {
  -webkit-transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  -moz-transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  -ms-transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  -o-transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  opacity: 0;
}

.repeat-enter.repeat-enter-active {
  opacity: 1;
}

.repeat-leave {
  -webkit-transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  -moz-transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  -ms-transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  -o-transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  opacity: 1;
}

.repeat-leave.repeat-leave-active {
  opacity: 0;
}

.divider{
  @include seperator(top, $color_seperator_grey);
  display: block;
  height: 0;
  margin: $fs*$line-height_factor*0.5 0;
}

.contextmenu {
  z-index: 100;
  max-width: 275px;
  min-width: 185px;
  padding: 1px;
  text-align: left;
  white-space: normal;
  background-color: $color_contextmenu_background;
  @include border-all($color_contextmenu_border);
  @include border-radius($border-radius_small);
  @include box-shadow_2px;
  background-clip: padding-box;
  -webkit-bg-clip: padding-box;
  -moz-bg-clip: padding;
  &.top {
    margin-top: -35px;
  }
}

.contextmenu-content {
  padding: 9px 14px;
  padding-top: 5px;
  a {
    color: $color_contextmenu_link;
    font-weight: $font-weight_bold;
    @include a_no_underline_class;
    &:hover {
      color: $color_contextmenu_link_hover;
    }
    span {
      @include icon;
      margin-right: 5px;
      background-color: $color_45;
      background-position: -45.5px -296px;
    }
  }
}

.gototop {
  @include hovercursor;
  position: fixed;
  bottom: 25px;
  right: 25px;
  z-index: 1000;
  @include box-sizing(border-box);
  width: 40px;
  height: 40px;
  padding: 5px 10px;
  @include box-shadow_4px;
  background-color: $color_13;
  @include border-radius($border-radius);
  text-align: right;
  .gototop_text {
    display: none;
    margin-right: 10px;
    color: $color_white;
    @include font-size_small;
    line-height: 30px;
    text-transform: uppercase;
  }
  &:hover {
    background-color: $color_15;
    width: 130px;
    .gototop_text {
      display: inline-block;
    }
  }
  .caret {
    border-top-color: transparent;
    border-width: 10px;
    border-bottom: 10px $color_white solid;
  }
}

.browser-warning {
  @include box-sizing(border-box);
  margin: 70px 25px 25px;
  padding: 25px;
  background-color: $color_51;
  @include border-radius($border-radius_large);
  @include box-shadow_4px;
  h1, h2, h3, h4, h5 {
    color: $color_55;
  }
  p {
    color: $color_text;
  }
  a {
    //color: $color_white;
    font-weight: $font-weight_bold;
  }
  h1 {
    margin: 0 0 $fs;
  }
  h4 {
    margin-bottom: $fs*0.5;
    //padding-bottom: $fs*0.5;
    @include seperator(bottom, $color_55);
  }
}

@mixin maintenancescreen{
  .maintenancescreen {
    width: 780px;
    margin: 100px auto 50px;
      .section_imgtxt{
        .block_img{
          float: left;
          width: 300px;
        }
        .block_txt{
          float: right;
          width: 460px;
          h1{
            @include h2;
            color: $color_h1;
            b{
              color: $color_25;
            }
          }
          p{
            color: $color_14;
          }
        }
      }
    .section_footertxt{
      clear: both;
      padding-top: 50px;
      text-align: center;
      p{
        color: $color_14;
        @include font-size_small;
      }
    }
  }
}
@include maintenancescreen;



.spinner{
  @include user-select(none);
}

.button-spinner {
  display:inline-block;
  vertical-align:middle;

  div {
    float:left;
  }

  .spinner{
    top: 9px !important;
    span{
      padding-left:30px;
    }
  }
}