<div class="activitylistheader">
  <div class="description cell first">Beschreibung</div>
  <div class="time cell last">Zeitpunkt</div>
</div>

<ul>
<li class="activity" ng-repeat="activity in activities | filter:query.searchText | orderBy:'-date' track by $id(activity)"
    ng-animate="{enter: 'repeat-enter', leave: 'repeat-leave', move: 'repeat-move'}">

<div data-ng-switch="activity.action">

<div ng-switch-when="postplan" class="{{activity.action}}">
  <div class="cell first icon_cell">
    <span class="icon"></span>
  </div>
  <div class="cell_wrap cell description">
    <span class="actor">
      <div fullname user="activity.user"></div>
    </span>
    hat einen neuen Plan
    <a href="/#/projects/{{activity.projectid}}/plans/{{activity.doc._id}}"><strong>{{activity.doc.name}}, {{activity.doc.content}}</strong></a>
    erstellt.
  </div>
  <div class="time cell last">{{activity.date | fromNow}}</div>
</div>

<div ng-switch-when="putplanphase" class="{{activity.action}}">
  <div class="cell first icon_cell">
    <span class="icon"></span>
  </div>
  <div class="cell_wrap cell description">
    <span class="actor">
      <div fullname user="activity.user"></div>
    </span>
    <span class="text">hat die Planungsphase von Plan
      <a href="/#/projects/{{activity.projectid}}/plans/{{activity.doc.plan_id}}"><strong>„{{activity.doc.plan.name}}, {{activity.doc.plan.content}}“</strong></a>
      von „{{currentproject.getPhaseTagLabelById(activity.doc.originalplan.phasetag)}}“ auf
      <strong>„{{currentproject.getPhaseTagLabelById(activity.doc.plan.phasetag)}}“</strong>
      geändert.
    </span>
  </div>
  <div class="time cell last">{{activity.date | fromNow}}</div>
</div>

<div ng-switch-when="putplanname" class="{{activity.action}}">
  <div class="cell first icon_cell">
    <span class="icon"></span>
  </div>
  <div class="cell_wrap cell description">
    <span class="actor">
      <div fullname user="activity.user"></div>
    </span>
    <span class="text">hat den Plan „{{activity.doc.originalplan.name}}, {{activity.doc.originalplan.content}}“ auf
      <a href="/#/projects/{{activity.projectid}}/plans/{{activity.doc.plan._id}}">{{activity.doc.plan.name}}, {{activity.doc.plan.content}}</a>
      umbenannt.
    </span>
  </div>
  <div class="time cell last">{{activity.date | fromNow}}</div>
</div>

<div ng-switch-when="putparticipantcompany" class="{{activity.action}}">
  <div class="cell first icon_cell">
    <span class="icon"></span>
  </div>
  <div class="cell_wrap cell description">
    <span class="actor">
      <div fullname user="activity.user"></div>
    </span>
    <span class="text">hat die Firma des Beteiligten
      <span class="actor">
        <div fullname user="activity.doc.user"></div>
      </span>
    </span>
    auf <strong>„{{activity.doc.company}}“</strong> geändert.</span>
  </div>
  <div class="time cell last">{{activity.date | fromNow}}</div>
</div>

<div ng-switch-when="putparticipantname" class="{{activity.action}}">
  <div class="cell first icon_cell">
    <span class="icon"></span>
  </div>
  <div class="cell_wrap cell description">
    <span class="actor">
      <div fullname user="activity.user"></div>
    </span>
    <span class="text">hat den Namen des Beteiligten
      <span class="actor">
        <div fullname user="activity.doc.user"></div>
      </span>
    </span>
    auf <strong>„{{activity.doc.firstname}} {{activity.doc.lastname}}“</strong> geändert.</span>
  </div>
  <div class="time cell last">{{activity.date | fromNow}}</div>
</div>

<div ng-switch-when="putparticipantrole" class="{{activity.action}}">
  <div class="cell first icon_cell">
    <span class="icon"></span>
  </div>
  <div class="cell_wrap cell description">
    <span class="actor">
      <div fullname user="activity.user"></div>
    </span>
    <span class="text">hat die Rolle des Beteiligten
      <span class="actor">
        <span class="actor">
          <div fullname user="activity.doc.user"></div>
        </span>
      </span>
      auf <strong><span ng-repeat="roleElement in activity.doc.roles">„{{roleElement.role}}“ </span></strong> geändert.
    </span>
  </div>
  <div class="time cell last">{{activity.date | fromNow}}</div>
</div>

<div ng-switch-when="postplanrevision" class="{{activity.action}}" ng-init="getRevision(activity)">
  <div class="cell first icon_cell">
    <span class="icon"></span>
  </div>
  <div class="cell_wrap cell description">
    <span class="actor">
      <div fullname user="activity.user"></div>
    </span>
    <span class="text">hat zum Plan
      <strong>„{{activity.doc.plan.name}}, {{activity.doc.plan.content}}“</strong>
      eine neue
      <a href="/#/projects/{{activity.projectid}}/plans/{{activity.doc.plan._id}}"><strong> Revision (#{{activity.getPlanRevisionIndex()}})</strong></a>
      hochgeladen.
    </span>
  </div>
  <div class="time cell last">{{activity.date | fromNow}}</div>
</div>

<div ng-switch-when="postproject" class="{{activity.action}}">
  <div class="cell first icon_cell">
    <span class="icon"></span>
  </div>
  <div class="cell_wrap cell description">
    <span class="actor">
      <div fullname user="activity.user"></div>
    </span>
    <span class="text">hat dieses Projekt
      erstellt und ist der Projektinhaber.
    </span>
  </div>
  <div class="time cell last">{{activity.date | fromNow}}</div>
</div>

<div ng-switch-when="putprojecttitle" class="{{activity.action}}">
  <div class="cell first icon_cell">
    <span class="icon"></span>
  </div>
  <div class="cell_wrap cell description">
    <span class="actor">
      <div fullname user="activity.user"></div>
    </span>
    <span class="text">hat den Projekttitel auf
      <strong>„{{activity.doc.title}}“</strong>
      geändert.
    </span>
  </div>
  <div class="time cell last">{{activity.date | fromNow}}</div>
</div>

<div ng-switch-when="postprojectinvitation" class="{{activity.action}}" ng-init="getProject(activity.projectid)">
  <div class="cell first icon_cell">
    <span class="icon"></span>
  </div>
  <div class="cell_wrap cell description">
    <span class="actor">
      <div fullname user="activity.user"></div>
    </span>
    <span class="text">hat
      <div fullname user="activity.doc"></div>
      zum Projekt
      <a href="/#/projects/{{activity.projectid}}/plans/">{{title}}</a>
      eingeladen.
    </span>
  </div>
  <div class="time cell last">{{activity.date | fromNow}}</div>
</div>

<div ng-switch-when="getplanrevisionpdf" class="filedownload">
  <div class="cell first icon_cell">
    <span class="icon"></span>
  </div>
  <div class="cell_wrap cell description">
    <span class="actor">
      <div fullname user="activity.user"></div>
    </span>
    <span class="text">hat die Druck-Datei <strong>„{{activity.doc.revision.pdf_file.filename}}“</strong> von Plan
      <a href="/#/projects/{{activity.doc.plan.projectid}}/plans/{{activity.doc.plan._id}}/"><strong>{{activity.doc.plan.name}}, {{activity.doc.plan.content}} (Revision #{{activity.doc.revision.revisionindex}})</strong></a>
      heruntergeladen.
    </span>
  </div>
  <div class="time cell last">{{activity.date | fromNow}}</div>
</div>

<div ng-switch-when="getplanrevisiondwg" class="filedownload">
  <div class="cell first icon_cell">
    <span class="icon"></span>
  </div>
  <div class="cell_wrap cell description">
    <span class="actor">
      <div fullname user="activity.user"></div>
    </span>
    <span class="text">hat die CAD-Datei <strong>„{{activity.doc.revision.dwg_file.filename}}“</strong> von Plan
      <a href="/#/projects/{{activity.doc.plan.projectid}}/plans/{{activity.doc.plan._id}}/"><strong>{{activity.doc.plan.name}}, {{activity.doc.plan.content}} (Revision #{{activity.doc.revision.revisionindex}})</strong></a>
      heruntergeladen.
    </span>
  </div>
  <div class="time cell last">{{activity.date | fromNow}}</div>
</div>

<div ng-switch-when="putprojectparticipantenabled" class="putprojectparticipantenabled">
  <div class="cell first icon_cell">
    <span class="icon"></span>
  </div>
  <div class="cell_wrap cell description">
    <span class="actor">
      <div fullname user="activity.user"></div>
    </span>

    <span class="text">hat den Beteiligten
      <span class="actor">
        <div fullname user="activity.doc.user"></div>
      </span>

      <span ng-if="activity.doc.enabled == true">
        aktiviert.
      </span>

      <span ng-if="activity.doc.enabled == false">
        deaktiviert.
      </span>
    </span>
  </div>
  <div class="time cell last">{{activity.date | fromNow}}</div>
</div>

<div ng-switch-when="sendrevision" class="{{activity.action}}" ng-show="activity.doc.plan && activity.doc.revision">
  <div class="cell first icon_cell">
    <span class="icon"></span>
  </div>
  <div class="cell_wrap cell description">
    <span class="actor">
      <div fullname user="activity.user"></div>
    </span>
    <span class="text"> hat den Plan
      <a href="/#/projects/{{activity.doc.plan.projectid}}/plans/{{activity.doc.plan._id}}/"><strong>{{activity.doc.plan.name}}, {{activity.doc.plan.content}} (Revision #{{activity.doc.revision.revisionindex}})</strong></a>
      an folgende Personen versendet:
      <span ng-repeat="recipient in activity.doc.recipients">
        <div fullname user="recipient"></div>
        <span ng-show="activity.doc.recipients.length > 1 && !$last">,</span>
      </span>
    </span>
  </div>
  <div class="time cell last">{{activity.date | fromNow}}</div>
</div>

<div ng-switch-when="postrole" class="{{activity.action}}">
  <div class="cell first icon_cell">
    <span class="icon"></span>
  </div>
  <div class="cell_wrap cell description">
    <span class="actor">
      <div fullname user="activity.user"></div>
    </span>
    <span class="text"> hat zum Projekt
      <span ng-if="activity.doc.newroles.length === 1">die Rolle <strong>"{{activity.doc.newroles[0].role}}"</strong> hinzugefügt.</span>
      <span ng-if="activity.doc.newroles.length > 1">die Rollen <strong><span ng-repeat="roleElement in activity.doc.newroles">"{{roleElement.role}}" </span></strong>hinzugefügt.</span>
    </span>
  </div>
  <div class="time cell last">{{activity.date | fromNow}}</div>
</div>

<div ng-switch-default class="defaultaction">
  unstyled action key: {{activity.action}}
  <br><br>
  activity log object: {{activity}}
  <div class="cell_wrap cell first">
    <span class="icon"></span>
    <span class="actor">
      <div fullname user="activity.user"></div>
    </span>
    <span class="text">hat das Dokument {{activity}} -x- {{activity.doc}} aktualisiert.</span>
  </div>
  <div class="time cell last">{{activity.date | fromNow}}</div>
</div>

</div>
</li>
</ul>
