<link rel="stylesheet"
      type="text/css"
      href="css/email.css"
      media="all">

<h2>
  {{translations 'Only one click and your registration is completed successfully'}}!
</h2>

<p>
  {{translations 'Account'}}:
  <br/>
  <strong>
    {{user.email}}
  </strong>
</p>

<p>
  {{translations 'To activate your account please click the following link'}}:

</p>

<table class="emailButton shadow-2px"
       border="0"
       cellpadding="0"
       cellspacing="0"
    >
  <tr>
    <td align="center"
        valign="middle"
        class="emailButtonContent">
      <a href="{{activationurl}}"
          >
        {{translations 'Activate my account now'}}
      </a>
    </td>
  </tr>
</table>

<p
    class="small"
    >
  {{translations 'activation email hint'}}
</p>