<link rel="stylesheet"
      type="text/css"
      href="css/email.css"
      media="all">

<h2 style="font-family:'Helvetica Neue',Helvetica,sans-serif; font-weight:200; font-size: 35px; line-height: 42px; color:#949c9e;">
  Nur noch ein Klick und Ihre Registrierung ist erfolgreich abgeschlossen!
</h2>

<p style="font-family:'Helvetica Neue',Helvetica,sans-serif; font-size: 14px; line-height: 19px; color:#5f6a6d;">
  Zum Aktivieren Ihres Accounts klicken Sie bitte auf folgenden Link:
  <br>
  <br>
  <a style="text-decoration:underline; word-wrap:break-word; display:inline-block; padding:10px; background-color:#85C900; color:#ffffff; border-radius: 5px;"
     href="{{activationurl}}"
      >
    Meinen Account ({{user.email}}) jetzt aktivieren
  </a>
  <br>
</p>

<p style="font-family:'Helvetica Neue',Helvetica,sans-serif; font-size: 14px; line-height: 19px; color:#5f6a6d;">
  Ist die Registrierung nicht in Ihrem Namen gemacht worden, können Sie diese Nachricht ignorieren – In diesem Fall
  verfällt die Registrierung!
</p>