<link rel="stylesheet"
      type="text/css"
      href="css/email.css"
      media="all">

<h2>
  Nur noch ein Klick und Ihre Registrierung ist erfolgreich abgeschlossen!
</h2>

<p>
  Zum Aktivieren Ihres Accounts klicken Sie bitte auf folgenden Link:
  <br>
  <br>
  <a href="{{activationurl}}"
      >
    Meinen Account ({{user.email}}) jetzt aktivieren
  </a>
  <br>
</p>

<p>
  Ist die Registrierung nicht in Ihrem Namen gemacht worden, können Sie diese Nachricht ignorieren – In diesem Fall
  verfällt die Registrierung!
</p>