<link rel="stylesheet"
      type="text/css"
      href="css/email.css"
      media="all">

<h2>
  {{translations 'Payment Confirmation'}}
</h2>
<p>
  <strong>
    {{translations 'Order ID'}}: {{readableid bookingData.booking._id}}
  </strong>
</p>

<h3>
  {{translations 'Shopping cart'}}
</h3>
<table
    class="table-shoppingcart"
    border="0"
    cellpadding="0"
    cellspacing="0"
    width="100%"
    >

  <tr class="tr-seperator-top">
    <td colspan="3"
        class="first last">
      <h4 class="margin-0">{{translate bookedEvent.item.description}}</h4>
    </td>
  </tr>
  <tr>
    <td class="first">
      {{dateFormat bookedEvent.event.start}}
    </td>
    <td class="text-align-center">
      {{bookedEvent.bookedEvent.quantity}}x
    </td>
    <td class="last text-align-right">
      {{numeral bookedEvent.event.price}}
    </td>
  </tr>

</table>

<h3>{{translations 'Personal data'}}</h3>
<p>
  <strong>{{translations 'Name'}}:</strong>
  {{bookingData.booking.profile.firstName}}
  {{bookingData.booking.profile.lastName}}
  <br/>
  <strong>{{translations 'E-mail'}}:</strong>
  {{bookingData.booking.profile.email}}
  <br/>
  <strong>{{translations 'Telephone'}}:</strong>
  {{bookingData.booking.profile.tel}}
</p>

<h3>
  {{translations 'Next step'}}
</h3>
<p>
  {{translations 'Next step information'}}
</p>