<link rel="stylesheet"
      type="text/css"
      href="css/email.css"
      media="all">

<h2>
  {{translations 'Payment Confirmation'}}
</h2>
<p>
  <strong>
    {{translations 'Order ID'}}: {{readableid bookingData.booking._id}}
  </strong>
</p>

<h3>
  {{translations 'Shopping cart'}}
</h3>
<table
    class="table-shoppingcart"
    border="0"
    cellpadding="0"
    cellspacing="10"
    >

  {{#each bookingData.bookedEvents}}
    <tr class="tr-seperator-top">
      <td colspan="3">
        <h4>{{translate item.description }}</h4>
      </td>
    </tr>
    <tr>
      <td>
        {{dateFormat event.start}}
      </td>
      <td>
        {{bookedEvent.quantity}}x
      </td>
      <td>
        {{item.price}} €
      </td>
    </tr>
  {{/each}}


  <tr class="tr-subtotal">
    <td colspan="2">
      <strong>{{translations 'Subtotal'}}</strong>
    </td>
    <td>
      <strong>
        {{numeral bookingData.amount format="0.00"}}
        €
      </strong>
    </td>
  </tr>
</table>

<h3>{{translations 'Personal data'}}</h3>
<p>
  <strong>{{translations 'Name'}}:</strong>
  {{bookingData.booking.profile.firstName}}
  {{bookingData.booking.profile.lastName}}
</p>
<p>
  <strong>{{translations 'E-mail'}}:</strong>
  {{bookingData.booking.profile.email}}
</p>
<p>
  <strong>{{translations 'Telephone'}}:</strong>
  {{bookingData.booking.profile.tel}}
</p>