<link rel="stylesheet"
      type="text/css"
      href="css/email.css"
      media="all">

<h2>
  Payment Confirmation
</h2>
<p>
  <strong>
    Order ID: {{readableid bookingData.booking._id}}
  </strong>
</p>

<h3>
  Shopping Cart
</h3>
<table
    class="table-shoppingcart"
    border="0"
    cellpadding="0"
    cellspacing="0"
    width="100%"
    >

  {{#each bookingData.bookedEvents}}
    <tr class="tr-seperator-top">
      <td colspan="3" class="first last">
        <h4 class="margin-0">{{translate item.description }}</h4>
      </td>
    </tr>
    <tr>
      <td class="first">
        {{dateFormat event.start}}
      </td>
      <td class="text-align-center">
        {{bookedEvent.quantity}}x
      </td>
      <td class="last text-align-right">
        {{item.price}} €
      </td>
    </tr>
  {{/each}}


  <tr class="tr-subtotal">
    <td colspan="2" class="first">
      <strong>Subtotal</strong>
    </td>
    <td class="last text-align-right">
      <strong>
        {{numeral bookingData.amount format="0.00"}}
        €
      </strong>
    </td>
  </tr>
</table>

<h3>Personal data</h3>
<p>
  <strong>Name:</strong>
  {{bookingData.booking.profile.firstName}}
  {{bookingData.booking.profile.lastName}}
<br />
  <strong>E-mail:</strong>
  {{bookingData.booking.profile.email}}
<br />
  <strong>Telephone:</strong>
  {{bookingData.booking.profile.tel}}
</p>