<link rel="stylesheet"
      type="text/css"
      href="css/email.css"
      media="all">

<h2>
  {{translations 'Hello'}}
  {{bookingData.booking.profile.firstName}} {{bookingData.booking.profile.lastName}},
  {{translations 'congratulations'}}!
</h2>
<p>
  {{translations 'We have transmitted your booking to the activity provider and charged your credit card with' amount=bookingData.amount currency=bookingData.booking.payment.currency }}
  .
</p>
<p>
  {{translations 'bookingconfirmation customer paragraph1'}}
</p>
<p>
  {{translations 'bookingconfirmation customer paragraph2'}}
</p>
<p>
  {{translations 'bookingconfirmation customer paragraph3'}}
</p>

<h3>
  {{translations 'Payment Confirmation'}}
</h3>
<p>
  <strong>
    {{translations 'Order ID'}}: {{readableid bookingData.booking._id}}
  </strong>
</p>

<h3>
  {{translations 'Shopping cart'}}
</h3>
<table
    class="table-shoppingcart"
    border="0"
    cellpadding="0"
    cellspacing="0"
    width="100%"
    >

  {{#each bookingData.bookedEvents}}

    <tr class="tr-seperator-top">
      <td colspan="3"
          class="first last">
        <h4 class="margin-0">{{translate item.description }}</h4>
      </td>
    </tr>

    <tr>
      <td class="first">
        {{dateFormat event.start}}
      </td>
      <td class="text-align-center">
        {{bookedEvent.quantity}}x
      </td>
      <td class="last text-align-right">
        {{numeral event.price}}
      </td>
    </tr>

    <tr>
      <td colspan="3"
          class="first last">

        <strong>
          {{translations 'Event Provider details'}}:
        </strong>
        <br/>
        {{translations 'What is my'}} {{translations 'Order ID'}}: {{readableid ../bookingData.booking._id}}
        <br/>
        {{translations 'What is my Providers Name'}}? {{activity.activityowner.profile.company}}
                                                                 | {{activity.activityowner.profile.firstName}} {{activity.activityowner.profile.lastName}}
        <br/>
        {{translations 'I want to contact the provider by mail'}}: {{activity.activityowner.email}}
        <br/>
        {{translations 'I want to contact the provider by phone'}}:
        {{#if activity.activityowner.profile.mobile}}
          {{activity.activityowner.profile.mobile}}
        {{else}}
          {{activity.activityowner.profile.tel}}
        {{/if}}
        <br/>
        {{translations 'I want to contact Reacture'}}: support@reacture.com

        <br/>
        <br/>

        <strong>
          {{translations 'Your Booking Details'}}:
        </strong>
        <br/>
        {{translations 'Event Name'}}: {{translate item.description }}
        <br/>
        {{translations 'When do i have to be there'}}? {{dateFormat event.start}} ({{translations 'Duration'}}
                                                                 : {{duration event.start event.end}})
        <br/>
        {{translations 'Where do i meet my activity provider'}}? {{activity.address}}
      </td>
    </tr>

  {{/each}}

  <tr class="tr-subtotal">
    <td colspan="2"
        class="first">
      <strong>{{translations 'Subtotal'}}</strong>
    </td>
    <td class="last text-align-right">
      <strong>
        {{numeral bookingData.amount}}
      </strong>
    </td>
  </tr>
</table>

<h3>
  {{translations 'Personal data'}}
</h3>
<p>
  <strong>{{translations 'Name'}}:</strong>
  {{bookingData.booking.profile.firstName}}
  {{bookingData.booking.profile.lastName}}
  <br/>
  <strong>{{translations 'E-mail'}}:</strong>
  {{bookingData.booking.profile.email}}
  <br/>
  <strong>{{translations 'Telephone'}}:</strong>
  {{bookingData.booking.profile.tel}}
</p>

<h2>
  {{translations 'Have fun and enjoy' }}!
  <br/>
  {{translations 'Your Reacture Booking Team' }}
</h2>
