<link rel="stylesheet"
      type="text/css"
      href="css/email.css"
      media="all">

<h2>
  Payment Confirmation
</h2>
<p>
  <strong>
    Order ID: 546d-f570-7d3b-9242-0c8a-5906
  </strong>
</p>

<h3>
  Shopping Cart
</h3>
<table class="table-shoppingcart"
       border="0"
       cellpadding="0"
       cellspacing="10">
  <tr class="tr-seperator-top">
    <td colspan="3">
      <h4>Pinotek der Moderne - Tageskarte / 10 hours</h4>
    </td>
  </tr>
  <tr>
    <td>
      Sat, Nov 22nd 2014
    </td>
    <td>
      1x
    </td>
    <td>
      12,00 €
    </td>
  </tr>
  <tr class="tr-seperator-top">
    <td colspan="3">
      <h4>Pinotek der Moderne - Tageskarte / 10 hours</h4>
    </td>
  </tr>
  <tr>
    <td>
      Sat, Nov 23nd 2014
    </td>
    <td>
      2x
    </td>
    <td>
      14,00 €
    </td>
  </tr>
  <tr class="tr-seperator-top">
    <td colspan="3">
      <h4>July Action / 7 days</h4>
    </td>
  </tr>
  <tr>
    <td>
      Fri, Nov 28th 2014
    </td>
    <td>
      1x
    </td>
    <td>
      175,00 €
    </td>
  </tr>
  <tr class="tr-subtotal">
    <td colspan="2">
      <strong>Subtotal</strong>
    </td>
    <td>
      <strong>199,00 €</strong>
    </td>
  </tr>
</table>

<h3>Personal data</h3>
<p>
  <strong>Name:</strong>
  First name + Last name
</p>
<p>
  <strong>E-mail:</strong>
  E-mail@address.com
</p>
<p>
  <strong>Telephone:</strong>
  0011 2233 44-5
</p>

<h3>Payment options</h3>
<p>
  <strong>Credit Card:</strong>
  VISA <sup>*********</sup>0004
</p>
