<link rel="stylesheet"
      type="text/css"
      href="css/email.css"
      media="all">

<center>
  <!--hint: only content inside of .emailwrap will be included in the email, don't add anything outside of email body-->
  <!--email body start  -->

  <table class="table-layout"
         border="0"
         cellpadding="0"
         cellspacing="15"
         width="100%"
      >
    <tr>
      <td align="center">

        <table border="0"
               cellpadding="0"
               cellspacing="0">
          <tr>
            <td align="right">
              <h1>
                <a href="http://www.reacture.com">
                  <img src="{{host}}img/email/reacture_logo.png"
                       alt="reActure – FIND YOUR ACTIVITY"
                       border="0"
                       style="border:0px none #FFFFFF; border-color:#FFFFFF; border-style:none; border-width: 0px; width: 243px; height: 96px; margin: 0; padding: 0;"
                       width="243"
                       height="96">
                </a>
              </h1>
            </td>
          </tr>
        </table>

      </td>
    </tr>
    <tr>
      <td align="center">

        <table id="templateBody"
               class="shadow-4px"
               border="0"
               cellpadding="25"
               cellspacing="0"
            >
          <tr>
            <td align="left"
                valign="top">

              <!-- E-Mail content -->

              {{#if template.resetpassword}}
              {{> resetpassword.handlebars }}
              {{/if}}

              {{#if template.accountactivationtoken}}
              {{> accountactivationtoken.handlebars}}
              {{/if}}

              {{#if template.bookingconfirmationtocustomer}}
                {{> bookingconfirmationtocustomer.handlebars}}
              {{/if}}

              {{#if template.bookingconfirmationtoprovider}}
                {{> bookingconfirmationtoprovider.handlebars}}
              {{/if}}

              <!-- E-Mail content end-->

            </td>
          </tr>
        </table>
        <p class="small">
          reActure – FIND YOUR ACTIVITY
          <a href="http://www.reacture.com"
             class="small">
            www.reacture.com
          </a>.
        </p>
      </td>
    </tr>
  </table>
</center>



