<div class="projecttitle" ng-controller="ProjectTitleCtrl">

  <span class="projecttitle_label" data-ng-switch="state.isOwner">
    <span ng-switch-when="false">
      <div fullname user="owner.user"></div>
      s Projekt:
    </span>
    <span ng-switch-default>
      Mein Projekt:
    </span>
  </span>

  <div class="showtitle" ng-hide="state.showeditform">
    <h1>
      <a class="title">{{project.title}}</a>
    </h1>

    <a class="edit" ng-class="{unauthorized: !state.userIsAllowedToEdit || state.requestInProgress }" ng-click="state.requestInProgress || edit()"> ändern</a>
  </div>

  <form name="valForm"
        class="edittitle"
        ng-show="state.showeditform"
        novalidate
        ui-keyup="{27: 'cancel()'}">

    <input type="text" ng-model="project.title" ui-keypress="{13:'state.requestInProgress || save()'}" required/>

    <button class="confirm"
            ui-keypress="{13:'state.requestInProgress || save()'}"
            ng-click="save()"
            ng-disabled="valForm.$invalid">
      speichern
    </button>
    <a class="cancel" ng-click="cancel()">abbrechen</a>

  </form>
</div>