<div
    ng-repeat="event in sortedEvents | removeBookingAlreadyEnded | limitTo:limit"
    class="event-list event-list-items"
>
  <div
      class="divider"
      ng-if="showDate($index, event.event.start)"
  >
    <span>
      {{event.event.start | momentjs:{format: "ddd, MMM Do YY"} }}
    </span>
  </div>

  <event-item-view
      activity="event.activity"
      bookable-item="event.bookableItem"
      event="event.event"
  >
  </event-item-view>

</div>

<div
    ng-show="sortedEvents.length > limit"
>
  <p class="align-right">
    {{'There are more events available' | translate}} …
    <a class="btn btn-small"
       ng-href="/#!/activities/{{activity._id}}/"
    >
      {{ 'Show all Dates' | translate }}
    </a>
  </p>
</div>
