<div class="page">
  <div class="authpage">
    <div class="innerwrap">

      <h1>Kein Zugriff!</h1>

      <div class="alert alert-error">
        Ihr Zugang zum Projekt <strong>„Project-title“</strong> wurde gesperrt. Für weitere Informationen kontaktieren Sie den Projekteigentümer: <a href="mailto:123@asdf.com"><strong>Sepp Eigentümer (123@asdf.com)</strong></a>
      </div>

      <div class="buttonbar">
        <a href="/#/login/">weiter zum Login</a>
      </div>
    </div>
  </div>
</div>