<div class="container">
  <div class="row">
    <div class="col-sm-12">

      <h2>{{'My Acquired Providers' | translate}}</h2>

      <div
        ng-repeat="user in promotionUserList"
        >
      </div>

      <div class="">
        <div class="listheader">
          <div class="activity cell first">
            {{ 'E-mail' | translate }}
          </div>
          <div class="activity cell">
            {{ 'Name' | translate }}
          </div>

          <div class="activity cell last">
            {{ 'Bookings' | translate }}
          </div>
        </div>

        <div class="listbody">
          <div class="listrow"
               ng-repeat="user in promotionUserList"
            >
            <div class="cell first">
              {{user.email}}
            </div>

            <div class="cell">
              {{user.profile.firstName}}
              {{user.profile.lastName}}
            </div>

            <div class="cell last" ng-if="currentUser.user.acl.sales">
              <ul>
                <li ng-repeat="event in user.bookedEvents">
                   Booked at {{event.data | momentjs:{format: "ddd, MMM Do YY"} }} for {{event.price | currency}}
                </li>
              </ul>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

