<div class="container">
  <div class="row">
    <div class="col-sm-12">

      <h2>{{'Affiliate agreement' | translate}}</h2>

      <p class="preface">
        <span data-ng-show="lang == 'en'">
          By registering and signing up to the reacture service as affiliate partner, the affiliate hereby agrees,
          acknowledges, accepts and agrees to the terms and conditions of this affiliate agreement.
        </span>
        <span data-ng-show="lang == 'de'">
          Mit der Registrierung und Anmeldung zum ReActure Service als Partner der Reacture OG stimmen Sie den
          Bedingungen dieser Vereinbarung zu.
        </span>
        <span data-ng-show="lang == 'it'">
          Registrandosi al servizio ReActure OG come partner affiliato, il suddetto concorda, riconosce ed accetta i
          termini di questo contratto societario.
        </span>

      </p>

      <h4>
        <span data-ng-show="lang == 'en'">
        </span>
        <span data-ng-show="lang == 'de'">
        </span>
        <span data-ng-show="lang == 'it'">
          Tra:
        </span>
      </h4>

      <p>
        <span data-ng-show="lang == 'en'">
        </span>
        <span data-ng-show="lang == 'de'">
        </span>
        <span data-ng-show="lang == 'it'">
          1. ReActure OG, Einsiedlergasse 29/14, 1050 Wien Austria FN:413 369 x
          <br/>
          2. Il Partner Affiliato
        </span>
      </p>

      <h4>
        <span data-ng-show="lang == 'en'">
          Whereas:
        </span>
        <span data-ng-show="lang == 'de'">
          Ziel dieser Vereinbarung:
        </span>
        <span data-ng-show="lang == 'it'">
          Dal presupposto che:
        </span>
      </h4>

      <p>
        <span data-ng-show="lang == 'en'">
          i) ReActure OG operates an online activity service reservation system through which participating Tourist
          services where tourists can book any activities that ReActure OG seems to be adequate for it´s customers.
          <br/>
          ii) ReActure OG maintains and exploits its own and also provides the Service and links to the Service on the
          websites of third parties;
        </span>
        <span data-ng-show="lang == 'de'">
          ReActure OG betreibt ein Online-Reservierungssystem welches den Endkunden die Möglichkeit bietet, touristische
          Dienstleister zu suchen, vergleichen und direkt ein eingestelltes Angebot zu buchen.
          <br/>
          ReActure OG pflegt und nutzt die eingetragenen Daten, um über die Seite www.reacture.com und über Dritte die
          Aktivitäten zu bewerben und zu vertreiben.
        </span>
        <span data-ng-show="lang == 'it'">
          ReActure OG svolge un'attività di servizio prenotazioni online con la quale collaborano diverse attività per
          turisti. I sopracitati possono effettuare la prenotazioni di qualunque attività proposta da ReActure OG.
          <br/>
          ReActure OG mantiene e sfrutta le proprie risorse provvedendo sia allo svolgimento del servizio che al
          collegamento con terzi.
        </span>
      </p>

      <h4>
        <span data-ng-show="lang == 'en'">
          1. Scope of this agreement
        </span>
        <span data-ng-show="lang == 'de'">
          1. Geltungsbereich dieses Abkommens
        </span>
        <span data-ng-show="lang == 'it'">
          1. Scopo dell’accordo
        </span>
      </h4>

      <p>
        <span data-ng-show="lang == 'en'">
          1.1. Service
        </span>
        <span data-ng-show="lang == 'de'">
          1.1. Service
        </span>
        <span data-ng-show="lang == 'it'">
          1.1. Servizio
        </span>
      </p>

      <p>
        <span data-ng-show="lang == 'en'">
          1.1.1. “The Service” means to acquire customers for our affiliates by means of online marketing, using the
          reacture.com website, Print media and cooperation with any institution found beneficial for the purpose of
          selling our affiliates services. Services can be sport activities, cultural activities or educational
          activities.
        </span>
        <span data-ng-show="lang == 'de'">
          1.1.1. Unser Service definiert sich wie folgt: Die Reacture OG wirbt für unsere Partner Kunden durch Marketing
          Aktivitäten in folgender Weise: Über die reacture.com Website, Printmedien und die Zusammenarbeit mit allen
          Institutionen, die als vorteilhaft für den Verkauf der von unseren Partnern angebotenen Dienstleistungen sind.
          Dienstleistungen können sportliche Aktivitäten, kulturelle Aktivitäten oder kulturelle Aktivitäten sein.
        </span>
        <span data-ng-show="lang == 'it'">
          1.1.1. Servizio significa acquisire clienti per i nostri partner tramite l'online marketing, utilizzando il
          sito ReActure OG, la Stampa e collaborando con qualsiasi associazione possa trarre benefici dal vendere
          servizi dei nostri affiliati. I servizi possono essere rispettivamente attività sportive, culturali o
          educative.
        </span>
      </p>

      <p>
        <span data-ng-show="lang == 'en'">
          1.1.2. For the term of this Agreement, Parties have agreed that the Service shall be made available by
          ReActure OG to the Affiliate.
        </span>
        <span data-ng-show="lang == 'de'">
          1.1.2. Für die Laufzeit dieses Vertrages wird der Reacture OG das auf der www.reacture.com vom Partner
          eingetragene Service zur Verfügung gestellt.
        </span>
        <span data-ng-show="lang == 'it'">
          1.1.2. Ai termini del suddetto contratto, le parti accettano che il Servizio debba essere reso disponibile da
          ReActure OG ai partner affiliati.
        </span>
      </p>

      <p>
        <span data-ng-show="lang == 'en'">
          1.1.3. When a booking is made by a visitor on or through the Affiliate Websites through the System, ReActure
          OG shall be solely responsible for the transmit of the relevant reservation details from the visitor who
          completed a booking to a service offered and the sending of the subsequent (email) confirmation to the
          customer.
        </span>
        <span data-ng-show="lang == 'de'">
          1.1.3. Bei einer Buchung von einem Kunden auf oder durch die Reacture Website oder über das System der
          Reacture OG, ist die Reacture OG dafür verantwortlich, alle relevanten Buchungsdetails sowohl an den Anbieter
          als auch den Kunden auf elektronischem Wege so schnell als möglich zu übermitteln.
        </span>
        <span data-ng-show="lang == 'it'">
          1.1.3. Quando una prenotazione viene effettuata da un visitatore o tramite il website del partner, ReActure OG
          deve essere responsabile della trasmissione dei dettagli rilevanti della prenotazione e dell'invio della
          conseguente conferma via mail al cliente.
        </span>
      </p>

      <h4>
        <span data-ng-show="lang == 'en'">
          2. Obligations
        </span>
        <span data-ng-show="lang == 'de'">
          2. Verpflichtungen
        </span>
        <span data-ng-show="lang == 'it'">
          2. Obblighi
        </span>
      </h4>

      <p>
        <span data-ng-show="lang == 'en'">
          2.1. Obligations for ReActure OG
        </span>
        <span data-ng-show="lang == 'de'">
          2.1. Verpflichtungen zur ReActure OG
        </span>
        <span data-ng-show="lang == 'it'">
          2.1. Obblighiobblighi per ReActure OG
        </span>
      </p>

      <p>
        <span data-ng-show="lang == 'en'">
          2.1.1. ReActure OG is obligated to promote the affiliates service as long as this agreement is valid.
        </span>
        <span data-ng-show="lang == 'de'">
          2.1.1. Die ReActure OG ist verpflichtet, das Service des Partners für die Dauer des Vertrages zu bewerben.
        </span>
        <span data-ng-show="lang == 'it'">
          2.1.1. ReActure OG è obbligato a promuovere i servizi del partner finché l'accordo sarà valido.
        </span>
      </p>

      <p>
        <span data-ng-show="lang == 'en'">
          2.1.2. ReActure OG is responsible for the processing of the guest data, the sending of a mail confirmation to
          the guest and to the affiliate, after a completed booking process over one of the booking channels.
        </span>
        <span data-ng-show="lang == 'de'">
          2.1.2. ReActure OG ist für die Verarbeitung der Kundendaten, das Senden einer Mail- Bestätigung an den Kunden
          und an den Partner sofort nach einem abgeschlossenen Buchungsprozess über einen der Buchungskanäle
          verantwortlich. Die Bestätigungen werden auf elektronischem Wege versandt.
        </span>
        <span data-ng-show="lang == 'it'">
          2.1.2. ReActure OG è responsabile del trattamento dei dati del cliente e dell'invio di una mail di conferma ai
          clienti e al partner, dopo aver ricevuto una prenotazione tramite uno dei canali possibili.
        </span>
      </p>

      <p>
        <span data-ng-show="lang == 'en'">
          2.1.3. ReActure OG is obliged to draw up a monthly statement for the affiliate as set up in 5. and to transfer
          the earnings to the affiliate each month. The earnings will be transferred to the bank account of the
          affiliate, that has to be determined in the User section of reacture.com.
        </span>
        <span data-ng-show="lang == 'de'">
          2.1.3. ReActure OG ist verpflichtet dem Partner monatlich eine Abrechnung (5) zu übermitteln und alle Erträge,
          abzüglich der in 5.3 definierten Provision an den Partner zu überweisen.
        </span>
        <span data-ng-show="lang == 'it'">
          2.1.3. ReActure OG è obbligato a stilare mensilmente una statistica al partner come stabilito al punto 5. e a
          trasferirgli i guadagni ogni mese.
        </span>
      </p>

      <p>
        <span data-ng-show="lang == 'en'">
        </span>
        <span data-ng-show="lang == 'de'">
        </span>
        <span data-ng-show="lang == 'it'">
          2.1.4. Questi ultimi saranno trasferiti sul conto del partner affiliato , che deve essere indicato nella
          sezione User di ReActure.com e al punto 5.3 di questo contratto.
        </span>
      </p>

      <p>
        <span data-ng-show="lang == 'en'">
          2.2. Obligations for the affiliate
        </span>
        <span data-ng-show="lang == 'de'">
          2.2. Verpflichtungen für den Partner
        </span>
        <span data-ng-show="lang == 'it'">
          2.2. Obblighi per il partner affiliato
        </span>
      </p>

      <p>
        <span data-ng-show="lang == 'en'">
          2.2.1. The affiliate is responsible to provide it´s service as described in the affiliate section of the
          ReActure homepage after a compulsory booking of the service over ReActure OG and the reception of the
          confirmation mail.
        </span>
        <span data-ng-show="lang == 'de'">
          2.2.1. Der Partner muss den Kunden sein Service in dem Ausmaß, der Qualität und der Art zur Verfügung stellen,
          wie er es selbst im Back-end auf der Reacture Homepage definiert hat.
        </span>
        <span data-ng-show="lang == 'it'">
          2.2.1. Il partner deve offrire il servizio come descritto nella sezione per i dedicata sulla home page del
          sito reActure, dopo aver ricevuto la prenotazione e la mail di conferma tramite reActure.
        </span>

      </p>

      <p>
        <span data-ng-show="lang == 'en'">
          2.2.2. The affiliate must not charge any extra fees to the customers. All fees have to be included in the
          final price set up on the reActure homepage. Also the affiliate agrees to refrain from charging a price higher
          than the price displayed on site.
        </span>
        <span data-ng-show="lang == 'de'">
          2.2.2. Der Partner darf dem Kunden keine zusätzlichen Gebühren berechnen. Alle Gebühren und Steuern müssen im
          Endpreis des auf der Reacture Homepage eingetragenen Services eingerechnet sein. Außerdem verpflichtet sich
          der Partner niemals einen Preis zu verlangen, der höher ist als der vor Ort angeschlagene.
        </span>
        <span data-ng-show="lang == 'it'">
          2.2.2. Il partner non può caricare nessuna imposta extra al cliente. Tutte le tasse e gli eventuali costi
          aggiuntivi dovranno essere inclusi nel prezzo finale dichiarato sulla home page di reActure. Inoltre,
          l’affiliato dichiara di non applicare mai un prezzo maggiore rispetto a quello esposto sul sito.
        </span>

      </p>

      <p>
        <span data-ng-show="lang == 'en'">
          2.2.3. The affiliate is responsible for having all necessary authorizations, for complying with any required
          safety regulations and regulatory requirements regarding the service offered on ReActure OG.
        </span>
        <span data-ng-show="lang == 'de'">
          2.2.3. Der Partner ist dafür verantwortlich, im Besitz aller erforderlichen Genehmigungen zu sein, die für die
          Durchführung des angebotenen Services notwendig sind. Außerdem ist der Partner dafür verantwortlich, alle
          notwendigen Sicherheitsvorkehrungen getroffen zu haben, um einen sicheren Ablauf der angebotenen Aktivität
          sicherstellen zu können.
        </span>
        <span data-ng-show="lang == 'it'">
          2.2.3. Il partner è responsabile di essere in possesso di tutte le autorizzazioni necessarie e di possedere
          tutti i requisiti di sicurezza richiesti riguardanti il servizio offerto su reActure.
        </span>

      </p>

      <p>
        <span data-ng-show="lang == 'en'">
          2.2.4. The affiliate is responsible for always keeping following information updated:
        </span>
        <span data-ng-show="lang == 'de'">
          2.2.4. Der Partner ist dafür verantwortlich, folgende Daten zu jeder Zeit durch Eingabe auf dem Reacture Back
          End aktuell zu halten:
        </span>
        <span data-ng-show="lang == 'it'">
          2.2.4. Il partner affiliato è responsabile di mantenere le seguenti informazioni sempre aggiornate.
        </span>
      </p>

      <p>
        <span data-ng-show="lang == 'en'">
          2.2.4.1. The prices of the services offered by the affiliate.
        </span>
        <span data-ng-show="lang == 'de'">
          2.2.4.1. Die Preise für die Dienstleistungen, die vom Partner angeboten werden.
        </span>
        <span data-ng-show="lang == 'it'">
          2.2.4.1. I prezzi dei servizi offerti.
        </span>
      </p>

      <p>
        <span data-ng-show="lang == 'en'">
          2.2.4.2. The number of available, on Reacture.com promoted items.
        </span>
        <span data-ng-show="lang == 'de'">
          2.2.4.2. Die Verfügbarkeiten der Dienstleistungen.
        </span>
        <span data-ng-show="lang == 'it'">
          2.2.4.2. Il numero dei servizi disponibili proposti sul portale ReActure.com.
        </span>
      </p>

      <p>
        <span data-ng-show="lang == 'en'">
          2.2.4.3. The description of the service(s), the company address and contact information.
        </span>
        <span data-ng-show="lang == 'de'">
          2.2.4.3. Die Beschreibung der Dienstleistung (en), die Firmenadresse und Kontaktinformationen.
        </span>
        <span data-ng-show="lang == 'it'">
          2.2.4.3. La descrizione del servizio, l’indirizzo della compagnia e le informazioni di contatto.
        </span>
      </p>

      <p>
        <span data-ng-show="lang == 'en'">
          To do so the affiliate is required to update the specified information on the reacture.com Website using his
          designated Username and Password whenever necessary.
        </span>
        <span data-ng-show="lang == 'de'">
          Hierzu verpflichtet sich der Partner, die Angaben auf der Webseite reacture.com mit seinem designierten
          Benutzernamen und Kennwort bei Bedarf zu aktualisieren.
        </span>
        <span data-ng-show="lang == 'it'">
          Al fine di poter aggiornare costantemente le sopracitate informazioni sul portale ReActure.com, all’affiliato
          è richiesto il login tramite la propria username e password quando necessario.
        </span>
      </p>

      <p>
        <span data-ng-show="lang == 'en'">
          2.2.5. The affiliates representative shall send to us a copy of his / her Passport or any other ID card to
          verify his / her identity via post or email.
        </span>
        <span data-ng-show="lang == 'de'">
          2.2.5. Der Partner übermittelt der Reacture OG eine Kopie seines gültigen, amtlichen Ausweises, um seine
          Identität zu verifizieren.
        </span>
        <span data-ng-show="lang == 'it'">
          2.2.5. I rappresentanti dei partner affiliati, devono inviare una copia del proprio passaporto o documento
          d’identità, al fine di poterla verificare.
        </span>
      </p>

      <h4>
        <span data-ng-show="lang == 'en'">
          3. The service offered by the affiliate
        </span>
        <span data-ng-show="lang == 'de'">
          3. Der vom Partner angebotene Service
        </span>
        <span data-ng-show="lang == 'it'">
          3. Servizio offerto dall’affiliato:
        </span>
      </h4>

      <p>
        <span data-ng-show="lang == 'en'">
          The affiliate offers the service to his customers as described in the member section of his profile and
          guarantees to provide the service as described in the description part of the affiliates event scheme.
        </span>
        <span data-ng-show="lang == 'de'">
          Der Partner bietet den Service für seine Kunden wie im Back End seines Profils beschrieben an und garantiert
          die Durchführung des Services wie dort beschrieben.
        </span>
        <span data-ng-show="lang == 'it'">
          Il Partner offre il servizio al cliente come descritto nella sezione membri del suo Profilo e garantisce il
          servizio, come esplicato nella sezione del partner dedicata alle attività offerte.
        </span>
      </p>

      <p>
        <span data-ng-show="lang == 'en'">
          Should the affiliate not be able to provide the service a customer booked he has to inform ReActure as soon as
          possible. All costs for refunding the payment as well as a Coupon, that will be sent to the customer in case
          of a now show of the affiliate, will be billed to the affiliate.
        </span>
        <span data-ng-show="lang == 'de'">
        </span>
        <span data-ng-show="lang == 'it'">
        </span>
      </p>

      <h4>
        <span data-ng-show="lang == 'en'">
          4. The price of the service
        </span>
        <span data-ng-show="lang == 'de'">
          4. Der Preis für den Service
        </span>
        <span data-ng-show="lang == 'it'">
          4. Prezzo del servizio
        </span>
      </h4>

      <p>
        <span data-ng-show="lang == 'en'">
          4.1. The price of the service has to be chosen by the affiliate and has to include all taxes, fees and
          expenses related to the service. The price can be changed anytime in the affiliates back-end section of the
          ReActure homepage.
        </span>
        <span data-ng-show="lang == 'de'">
          4.1. Der Preis für den Service kann vom Partner frei gewählt werden und muss alle Steuern, Gebühren und
          Aufwendungen, die mit dem Service in Zusammenhang stehen, beinhalten. Der Preis darf niemals den vor Ort
          angebotenen Preis übersteigen.
        </span>
        <span data-ng-show="lang == 'it'">
          4.1. Il prezzo del servizio può essere scelto dal Partner e deve includere tutte le tasse, le imposte e le
          eventuali spese relative a quest’ ultimo.
        </span>
      </p>

      <p>
        <span data-ng-show="lang == 'en'">
          4.2. The affiliate guarantees, that the prices stated on the reacture.com website will never exceed the price
          offered on any other internet platform promoting the affiliates service.
        </span>
        <span data-ng-show="lang == 'de'">
          4.2. Der Partner sichert der Reacture OG zu, dass die auf der Reacture Seite eingegebenen Preise die Preise
          auf anderen Werbeplattformen nicht überschreiten.
        </span>
        <span data-ng-show="lang == 'it'">
          4.2. Il partner affiliato garantisce che, i prezzi visibili su ReActure.com, non saranno mai superiori a
          quelli visibili su qualsiasi altro portale online che promuova lo stesso servizio.
        </span>
      </p>

      <h4>
        <span data-ng-show="lang == 'en'">
          5. Provison and monthly statement
        </span>
        <span data-ng-show="lang == 'de'">
          5. Provisions- und Monatsrechnung
        </span>
        <span data-ng-show="lang == 'it'">
          5. Provvigioni e statistiche mensili
        </span>
      </h4>

      <p>
        <span data-ng-show="lang == 'en'">
          5.1. ReActure OG provides its services as set up in 1. and will charge a commission of 15% on any turnover
          generated for the affiliate.
        </span>
        <span data-ng-show="lang == 'de'">
          5.1. ReActure OG bietet seine Services wie in Punkt 1 definiert an und erhält dafür eine Provision von 15% auf
          den generierten Umsatz.
        </span>
        <span data-ng-show="lang == 'it'">
          5.1. ReActure OG provvede ai suoi servizi come stabilito al punto 1. e applica una commissione del 15% sulle
          prenotazioni di qualsiasi servizio.
        </span>
      </p>

      <p>
        <span data-ng-show="lang == 'en'">
          5.2. ReActure OG is obliged to create a monthly statement for the affiliate, which has to include an exact
          list of all services provided in the bygone month. The statement has to be transmitted to the affiliate not
          later than the 15th of the following month.
        </span>
        <span data-ng-show="lang == 'de'">
          5.2. ReActure OG ist verpflichtet, dem Partner monatlich eine Abrechnung zu erstellen, welche alle
          Buchungsfälle des vorangegangenen Monats enthält. Die Abrechnung muss spätestens am 8. des Folgemonats an den
          Partner in digitaler Form an die hinterlegte Email Adresse übermittelt werden.
        </span>
        <span data-ng-show="lang == 'it'">
          5.2. ReActure OG è obbligato a creare una statistica mensile per l'affiliato, la quale deve includere una
          lista esatta dei servizi offerti nel precedente mese. Questo deve essere trasmesso al partner affiliato non
          oltre l' 8° giorno del mese seguente.
        </span>
      </p>

      <p>
        <span data-ng-show="lang == 'en'">
          5.3. ReActure OG is obliged to transfer the earnings as calculated on the statement, after deduction of the
          15% Provision, to the affiliate not later than the 15th of each month for the bygone month. The earnings will
          be paid to the affiliates bank account, that has to be communicated in the affiliates profile section of the
          Reacture homepage.
        </span>
        <span data-ng-show="lang == 'de'">
          5.3. ReActure OG ist verpflichtet, den generierten Umsatz pro Monat, abzüglich der Provision, bis spätestens
          15. Des Folgemonats auf das Konto des Partner zu überweisen.
        </span>
        <span data-ng-show="lang == 'it'">
          5.3. ReActure OG è obbligato a trasferire i guadagni dell'affiliato come da contratto, dopo aver dedotto la
          commissione del 15% non oltre il 15° giorno del mese seguente.
        </span>
      </p>

      <h4>
        <span data-ng-show="lang == 'en'">
          6. Termination of the agreement
        </span>
        <span data-ng-show="lang == 'de'">
          6. Kündingung
        </span>
        <span data-ng-show="lang == 'it'">
          6. Termini di contratto
        </span>
      </h4>

      <p>
        <span data-ng-show="lang == 'en'">
          6.1. The Agreement is valid from the moment the registration has been completed. The registration cannot be
          completed without agreeing to this terms. It can be terminated by both contracting partners anytime with a
          notice period of 30 days.
        </span>
        <span data-ng-show="lang == 'de'">
          6.1. Die Vereinbarung ist ab dem Zeitpunkt der Registrierung gültig. Die Anmeldung kann nicht ohne Zustimmung
          zu den AGB abgeschlossen werden. Er kann von beiden Vertragspartnern jederzeit mit einer Frist von 30 Tagen
          gekündigt werden.
        </span>
        <span data-ng-show="lang == 'it'">
          6.1. Il contratto sarà valido dal momento dell'approvazione del suddetto documento. Potrà essere rettificato
          da entrambe le parti con un preavviso di almeno 30 giorni.
        </span>
      </p>

      <p>
        <span data-ng-show="lang == 'en'">
          6.2. In the event of a breach of the covenants, undertakings, restrictions, obligations and/or warranties
          ReActure OG shall be entitled to exercise the following actions and rights, notwithstanding the remedies and
          actions for specific performance, damage compensation or injunctive or equitable relief available by law or
          contract:
        </span>
        <span data-ng-show="lang == 'de'">
          6.2. Im Falle einer Verletzung der Vereinbarungen, Beschränkungen, Pflichten und / oder Gewährleistungen ist
          die ReActure OG berechtigt, die folgenden Handlungen und Rechte auszuüben.
        </span>
        <span data-ng-show="lang == 'it'">
          6.2. Nell'eventualità della violazione di accordi, restrizioni e sottoscrizioni, ReActure OG ha il diritto,
          senza ostacolare le soluzioni e le azioni di un specifico servizio, di esercitare la richiesta di un
          risarcimento danni, ingiunzione o di un equo sostitutivo possibile da contratto:
        </span>
      </p>

      <p>
        <span data-ng-show="lang == 'en'">
          a) suspension of its (payment) obligations under or termination of this Agreement with immediate effect;
        </span>
        <span data-ng-show="lang == 'de'">
          a) Aussetzung der (Zahlungs-) Verpflichtungen oder Kündigung dieser Vereinbarung mit sofortiger Wirkung.
        </span>
        <span data-ng-show="lang == 'it'">
          a) Sospensione del pagamento o rottura immediata del suddetto contratto.
        </span>
      </p>

      <p>
        <span data-ng-show="lang == 'en'">
          b) ReActure OG shall be entitled to retain the payments for all bookings made and/or each Materialised
          Transaction during the term that the Affiliate breaches the relevant obligations set up in 3.
        </span>
        <span data-ng-show="lang == 'de'">
          b) ReActure OG ist berechtigt, die Zahlungen für alle Buchungen einzubehalten, für welche die in 3 definierten
          Bedingungen nicht erfüllt wurden. Sollte also ein Service zwar gebucht, doch am Ende nicht durchgeführt worden
          sein, so behält die Reacture OG diesen Betrag ein und erstattet Ihn an den Kunden zurück. Die Kosten für die
          Rückerstattung sowie den administrativen Aufwand hat der Partner zu tragen.
        </span>
        <span data-ng-show="lang == 'it'">
          b) ReActure OG è autorizzato a trattenere i pagamenti di tutte le prenotazioni effettuate e/o delle
          transazioni effettuate prima che l'affiliato violasse le obbligazioni esposte al punto 3.
        </span>
      </p>

      <p>
        <span data-ng-show="lang == 'en'">
          c) suspension of the promotion service, until a settlement either in the legal process or in accordance
          between ReActure OG and the affiliate is attained.
        </span>
        <span data-ng-show="lang == 'de'">
          c) die Aussetzung des Services, bis zu einer Klärung entweder im gerichtlichen Verfahren oder einer
          ausergerichtlichen Einigung zwischen der ReActure OG und dem Partner.
        </span>
        <span data-ng-show="lang == 'it'">
          c) Sospensione del servizio di promozione, finché non verrà preso un qualsiasi accordo tra le parti, ReActure
          e il partner affiliato.
        </span>
      </p>

      <h4>
        <span data-ng-show="lang == 'en'">
          7. Governing law and jurisdiction
        </span>
        <span data-ng-show="lang == 'de'">
          7. Recht und Gerichtsstand
        </span>
        <span data-ng-show="lang == 'it'">
          7. Legislatura
        </span>
      </h4>

      <p>
        <span data-ng-show="lang == 'en'">
          7.1. The place of jurisdiction is Vienna.
        </span>
        <span data-ng-show="lang == 'de'">
          7.1. Der Gerichtsstand ist Wien.
        </span>
        <span data-ng-show="lang == 'it'">
          7.1 La Sede giuridica è Vienna.
        </span>
      </p>

      <p>
        <span data-ng-show="lang == 'en'">
          7.2. All parts of this contract are subject to Austrian law.
        </span>
        <span data-ng-show="lang == 'de'">
          7.2. Alle Teile dieses Vertrags unterliegt österreichischem Recht.
        </span>
        <span data-ng-show="lang == 'it'">
          7.2 Tutte le parti soggette a questo contratto dovranno sottostare alla legge austriaca.
        </span>
      </p>

    </div>
  </div>
</div>