<div class="communication-element-innerwrap">
  <h4>Planfred Beta</h4>
  <p class="small">Planfred ist in der Beta-Testphase.
    <strong>Wir freuen uns auf Ihre Rückmeldungen und Anregungen, welche Sie uns über den in der App integrierten Hilfe-Service unkompliziert mitteilen können.<br>Bei dringenden Problemen können Sie uns auch gerne jederzeit telefonisch kontaktieren.</strong>
    Unsere frühen Tester können als kleines Dankeschön mit Planfred noch bis mindestens <strong>Februar 2014 garantiert kostenlos</strong> arbeiten!</p>
</div>
