<div ng-controller="HeaderCtrl">
  <div class="navbar-inner">

    <div class="logo">
      <a href="/#/projects" ng-show="currentUser.isAuthenticated()"></a>
      <a href="/#/login" ng-hide="currentUser.isAuthenticated()"></a>
    </div>
    <div class="loadingicon">
      <div spinner></div>
    </div>

    <div login-toolbar ng-show="currentUser.isAuthenticated()"></div>

    <ul class="nav pull-right" ng-show="currentUser.isAuthenticated()">

      <li>
        <a class="supportbar-toggle" ng-click="toggleSupportBar()">Hilfe</a>
      </li>

      <li class="divider-vertical"></li>
      <li class="dropdown"
          ng-class="{open:isProjectsOpen, inactive: projects.getResolvedProjectsList().length < 1}"
          ng-mouseleave="closeProjectsList()"
          ng-mouseenter="openProjectsList()">

        <a class="dropdown-toggle" href="/#/projects/">
          Projekte
          <b ng-class="{caret: !isTouch()}"></b>
        </a>

        <ul class="dropdown-menu" role="menu" aria-labelledby="projectmenu">

          <li class="dropdown-header" ng-show="myfilteredprojects.length > 0">
            Meine Projekte
          </li>
          <li ng-repeat="project in myfilteredprojects = (projects.getResolvedProjectsList() | isprojectowner) | orderBy:'title' ">
            <a href="/#/projects/{{project.$id()}}/plans/" ng-class="{active: project.isCurrentProject()}">
              <span class="projecttitle_list">{{project.title}}</span>
            </a>
          </li>
          <li class="divider" ng-show="myfilteredprojects.length > 0"></li>

          <li class="dropdown-header" ng-show="filteredprojects.length > 0">
            Projektbeteiligungen
          </li>

          <li ng-repeat="project in filteredprojects = (projects.getResolvedProjectsList() | isnotprojectowner) | orderBy:'title' ">
            <a href="/#/projects/{{project.$id()}}/plans/" ng-class="{active: project.isCurrentProject()}">
              <span class="projecttitle_list">{{project.title}}</span>
            </a>
          </li>

          <li class="divider" ng-show="filteredprojects.length > 0"></li>
          <li class="dropdown-button">
            <a class="linkbutton" href="/#/projects/new/">Neues Projekt</a>
          </li>

        </ul>
      </li>
      <li class="divider-vertical"></li>

    </ul>
  </div>


  <div class="supportbar" ng-show="isSupportBarOpen()">
    <div class="table">
      <div class="table_cell left">
        <form class="supportform">
          <h4>Hilfe-Formular:</h4>

          <div class="form_selection">
            <span class="selection" ng-class="{selected:support.select === 'Fehler melden'}"
                  ng-click="support.select = 'Fehler melden'">
              <span class="checkbox_selection"></span>Fehler melden</span>
            <span class="selection" ng-class="{selected:support.select === 'Wunschfunktion'}"
                  ng-click="support.select = 'Wunschfunktion'">
              <span class="checkbox_selection"></span>Wunschfunktion</span>
            <span class="selection" ng-class="{selected:support.select === 'Frage'}"
                  ng-click="support.select = 'Frage'">
              <span class="checkbox_selection"></span>Frage</span>
          </div>

          <span ng-switch on="support.select">
            <label for="messagetext" ng-switch-default>Beschreiben Sie den aufgetretenen Fehler:</label>
            <label for="messagetext" ng-switch-when="Wunschfunktion">Beschreiben Sie Ihre Wunschfunktion:</label>
            <label for="messagetext" ng-switch-when="Frage">Ihre Frage zu Planfred:</label>
          </span>
          <textarea class="form_message" rows="5" id="messagetext" ng-model="support.text"></textarea>
          <span ng-model="sendsupport.msg">
            <div data-ng-switch="sendsupport.msg">
              <div ng-switch-when="success" class="alert alert-success">
                Ihre Supportanfrage wurde erfolgreich versendet.
              </div>
              <div ng-switch-when="error" class="alert alert-error">
                Es gab einen Fehler beim Versenden Ihrer Supportanfrage.
              </div>
            </div>
          </span>

          <button class="form_button" ng-click="sendsupport.requestInProgress || sendSupportForm()">absenden</button>
        </form>
      </div>
      <div class="table_cell right">
        <h4>Schnelle Hilfe:</h4>

        <p>Telefon: <a href="tel:+43 676 9181996">+43 676 9181996</a></p>
        <p>E-Mail: <a href="mailto:support@planfred.com">support@planfred.com</a></p>
      </div>
    </div>
    <div class="buttonbar">
      <a class="text_icon_close" ng-click="closeSupportBar()">schließen
        <span></span>
      </a>
    </div>
  </div>

</div>