<a data-ng-click="changelist()">changelist</a>

<div ng-repeat="activity in activities | filter: onlySports">
  <li>{{activity.name}}</li>
</div>

<div class="section section-map">
  <div class="controlpanel">
    <h1 id="logo"><span>reActure – Find your activity</span></h1>

    <h2>What's around me?</h2>

    <div class="filter">
      <span class="input_label">Please choose:</span>

      <div class="filter-category open">
        <div class="filter-category-header">
          <h4>Sports & Activities</h4>

          <p>Main Features</p>
        </div>
        <div class="filter-category-body">

          <div
              ng-repeat="activity in filteredactivities = (activities | filter: onlySports)"
              >
            <div class="filter-category-sub">
              <span class="checkbox inline"></span> Sports 001
            </div>
          </div>

        </div>
      </div>

      <div class="filter-category">
        <div class="filter-category-header">
          <h4>Culture</h4>

          <p>Our Guides and Tours</p>
        </div>

        <div class="filter-category-body">

          <div
              ng-repeat="activity in filteredactivities = (activities | filter: onlyCulture)"
              >
            <div class="filter-category-sub">
              <span class="checkbox inline"></span> Sports 001
            </div>
          </div>

        </div>

      </div>

    </div>

  </div>
  <div class="map-wrap" windowheight>
    <google-map center='map.center' zoom='map.zoom' draggable='true'>

      <div ng-repeat="activity in activities">
        <marker
            coords='activity'
            click='markerClickHandler(activity)'
            options='markerOptions'
            icon='map.markericon'
            >
        </marker>

        <!--<window-->
        <!--show='true'-->
        <!--coords='activity'-->
        <!--click='windowClickHandler(activity)'-->
        <!--options='windowOptions'-->
        <!-->-->
        <!--</window>-->

      </div>

      <window show="map.templatedInfoWindow.show" coords="map.templatedInfoWindow.coords"
              options="map.templatedInfoWindow.options"
              templateUrl="map.templatedInfoWindow.templateUrl"
              templateParameter="map.templatedInfoWindow.templateParameter">
      </window>

    </google-map>
  </div>
</div>

<div class="section section-grey">
  <div class="container">
    <div class="row">
      <div class="col-sm-3">
        <h2 class="no-margin-top">Services</h2>

        <p>Left Column</p>
      </div>
      <div class="col-sm-9">
        Right Column
      </div>
    </div>
  </div>
</div>