<div class="section section-map">
<div class="controlpanel">
  <h1 id="logo">
    <span>reActure – Find your activity</span>
  </h1>

  <h2>What's around me?</h2>

  <div class="filter">
    <span class="input_label">Please choose:</span>

    <div class="filter-category filter-category-sports"
         data-ng-class="{active: areItemsInThisCategorySelected('sports'), open: states.sports.open }"
        >
      <div class="filter-category-header"
           data-ng-click="toggleFilter('sports')"
          >
        <h4>Sports & Activities</h4>

        <p>0 of 2</p>

        <div class="filter-category-arrow">
          <span></span>
        </div>
      </div>
      <div class="filter-category-body"
           data-ng-show="states.sports.open"
          >

        <div class="filter-toggle">
          <div class="filter-toggle-show"
               data-ng-class="{active: allSelected()}"
               data-ng-click="selectAllCategories()"
              >
            Select all
          </div>
          <div class="filter-toggle-hide"
               data-ng-class="{active: noneSelected()}"
               data-ng-click="deSelectAllCategories()"
              >
            Deselect all
          </div>
        </div>

        <div class="innerwrap div-table">
          <div
              class="div-tablerow"
              ng-repeat="activity in filteredactivities = (activities | filter: onlySports)"
              >
            <div class="filter-category-sub div-tablecell"
                 ng-class="{selected: !activity.hidden}"
                 ng-click="toggleItemSelection(activity)"
                >
              <span class="checkbox inline"></span>
              {{activity.name}}
            </div>
            <div class="filter-category-sub div-tablecell"
                 ng-class="{selected: !activity.hidden}"
                 ng-click="toggleItemSelection(activity)"
                >
              <span class="checkbox inline"></span>
              {{activity.name}}
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="filter-category filter-category-culture"
         data-ng-class="{active: areItemsInThisCategorySelected('culture'), open: states.culture.open}"
        >
      <div class="filter-category-header"
           data-ng-click="toggleFilter('culture')"
          >
        <h4>Culture</h4>

        <p>1 of 1</p>

        <div class="filter-category-arrow"
             ng-click="toggleItemSelection(activity)">
          <span></span>
        </div>
      </div>
      <div class="filter-category-body"
           data-ng-show="states.culture.open"
          >

        <div class="filter-toggle">
          <div class="filter-toggle-show"
               data-ng-class="{active: allSelected()}"
               data-ng-click="selectAllCategories()"
              >
            Select all
          </div>
          <div class="filter-toggle-hide"
               data-ng-class="{active: noneSelected()}"
               data-ng-click="deSelectAllCategories()"
              >
            Deselect all
          </div>
        </div>

        <div class="innerwrap">
          <div
              ng-repeat="activity in filteredactivities = (activities | filter: onlyCulture)"
              >
            <div class="filter-category-sub"
                 ng-class="{selected: !activity.hidden}"
                 ng-click="toggleItemSelection(activity)"
                >
              <span class="checkbox inline"></span>
              {{activity.name}}
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="filter-category filter-category-wellness"
         data-ng-class="{active: areItemsInThisCategorySelected('wellness'), open: states.wellness.open}"
        >
      <div class="filter-category-header"
           data-ng-click="toggleFilter('wellness')"
          >
        <h4>Wellness & Relax</h4>

        <p>2 of 2</p>

        <div class="filter-category-arrow">
          <span></span>
        </div>
      </div>
      <div class="filter-category-body"
           data-ng-show="states.wellness.open"
          >

        <div class="filter-toggle">
          <div class="filter-toggle-show"
               data-ng-class="{active: allSelected()}"
               data-ng-click="selectAllCategories()"
              >
            Select all
          </div>
          <div class="filter-toggle-hide"
               data-ng-class="{active: noneSelected()}"
               data-ng-click="deSelectAllCategories()"
              >
            Deselect all
          </div>
        </div>

        <div class="innerwrap">
          <div
              ng-repeat="activity in filteredactivities = (activities | filter: onlyWellness)"
              >
            <div class="filter-category-sub"
                 ng-class="{selected: !activity.hidden}"
                 ng-click="toggleItemSelection(activity)"
                >
              <span class="checkbox inline"></span>
              {{activity.name}}
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="filter-toggle">
      <div class="filter-toggle-show"
           data-ng-class="{active: allSelected()}"
           data-ng-click="selectAllCategories()"
          >Show all activities
      </div>
      <div class="filter-toggle-hide"
           data-ng-class="{active: noneSelected()}"
           data-ng-click="deSelectAllCategories()"
          >Hide all activities
      </div>
    </div>

  </div>

  <div style="position: absolute; z-index: 10000; top: 50px; right: 50px; background-color: rgba(0, 0, 0, 0.5); color:#CCC; padding: 15px;">
    <strong>Map-Debug:</strong> <br/>
    <u>Map ZOOM:</u> {{ map.zoom }}<br/>
    <u>You clicked here:</u><br/>
    "longitude": {{ map.clickedMarker.longitude }}<br/>
    "latitude": {{ map.clickedMarker.latitude }}
  </div>

</div>

<div class="map-wrap"
     windowheight
    >
  <google-map
      center='map.center'
      zoom='map.zoom'
      draggable='true'
      events='map.events'
      >

    <div
        ng-repeat="activity in activities | filter:onlySelected"
        >
      <marker
          coords='activity'
          click='markerClickHandler(activity)'
          options='markerOptions'
          icon='getMarkerIcon(activity)'
          >
      </marker>
    </div>

    <!--<window show="map.templatedInfoWindow.show" coords="map.templatedInfoWindow.coords"-->
    <!--options="map.templatedInfoWindow.options"-->
    <!--templateUrl="map.templatedInfoWindow.templateUrl"-->
    <!--templateParameter="map.templatedInfoWindow.templateParameter">-->
    <!--</window>-->

  </google-map>
</div>
</div>

<div class="footer footer-startpage">
  <div class="nav-footer"><a href="#">Contact & Impressum</a></div>
  <div class="teaser-section teaser-section-2">
    <div class="teaser-block"><h4><a href="#">Why reActure?</a></h4></div>
    <div class="teaser-block"><h4><a href="#">About reActure?</a></h4></div>
  </div>
</div>