<div class="map-selection-block">

  <div class="section section-map">

    <div class="col-left-fixed controlpanel">
      <mobilenav></mobilenav>

      <languageselect></languageselect>

      <div data-ng-include="'views/_logo.html'"></div>

      <div class="mapsearchbar"
           data-ng-include="'views/map/mapsearchbar.html'">
      </div>

      <div class="filter"
          >
        <span class="input-label">{{ 'Please choose' | translate }}:</span>

        <div class="filter-category filter-category-{{category.key}}"
             data-ng-class="{active: areItemsInThisCategorySelected(category), open: category.open }"
             ng-repeat="category in categories track by category._id"
            >
          <div class="filter-category-header"
               data-ng-click="toggleFilter(category)"
              >
            <h4>{{category.key | translate}}</h4>

            <p>{{numberOfSelectedFromCategory(category)}} {{ 'activities found' | translate }} </p>

            <div class="filter-category-arrow">
              <span></span>
            </div>
          </div>
          <div class="filter-category-body"
               data-ng-show="category.open"
              >

            <div class="filter-toggle">
              <div class="filter-toggle-show"
                   data-ng-class="{active: allSelectedFromCategory(category)}"
                   data-ng-click="selectAllFromCategory(category)"
                  >
                {{ 'Select all' | translate }}
              </div>
              <div class="filter-toggle-hide"
                   data-ng-class="{active: noneSelectedFromCategory(category)}"
                   data-ng-click="deSelectAllFromCategory(category)"
                  >
                {{ 'Deselect all' | translate }}
              </div>
            </div>

            <div
                class="innerwrap"
                >
              <div
                  class="div-row"
                  ng-repeat="subcategory in category.sub"
                  >

                <!--show only in pairs - even-->
                <div data-ng-if="$index % 2 === 0">
                  <div
                      class="filter-category-sub div-cell"
                      ng-class="{selected: category.sub[$index+0].selected}"
                      ng-click="toggleCategorySelection(category.sub[$index+0])"
                      >
                    <span class="checkbox inline"></span>
                    {{ category.sub[$index+0].key | translate }}
                  </div>

                  <div
                      class="filter-category-sub div-cell"
                      data-ng-if="category.sub[$index+1]"
                      ng-class="{selected: category.sub[$index+1].selected}"
                      ng-click="toggleCategorySelection(category.sub[$index+1])"
                      >
                    <span class="checkbox inline"></span>
                    {{ category.sub[$index+1].key | translate }}
                  </div>
                </div>

              </div>

            </div>
          </div>
        </div>
      </div>

      <div class="filter-toggle"
           ng-show="showfilterblock"
          >
        <div class="filter-toggle-show"
             data-ng-class="{active: allSelected()}"
             data-ng-click="selectAllCategories()"
            >{{ 'Show all' | translate }}
        </div>
        <div class="filter-toggle-hide"
             data-ng-class="{active: noneSelected()}"
             data-ng-click="deSelectAllCategories()"
            >{{ 'Hide all' | translate }}
        </div>
      </div>

    </div>


    <div class="map-wrap">
      <div class="map-innerwrap">

        <ui-gmap-google-map
            center='frontendmap.map.center'
            zoom='frontendmap.map.zoom'
            draggable='true'
            events='frontendmap.map.events'
            options='frontendmap.map.options'
            >
          <ui-gmap-marker
              ng-repeat="m in states.filteredactivities = (frontendmap.map.markers | filter:selectedCategoryFilter | adddistancetosearchlocation | orderBy:'distancetosearchlocation' | markercoordsfilter) track by m._id"
              coords='m'
              click='onMarkerClicked(m)'
              icon='getMarkerIcon(m)'
              idKey='m._id'
              options="{labelContent: m.name[getAvailableTranslationLanguageKey(m.name)], labelAnchor:'22 0', labelClass: 'marker-labels marker-label-category-' + m.category.main }"
              >
          </ui-gmap-marker>

          <!--marker for clicked position can not put google.frontendmap.map.animations.BOUNCE , since it is not initialized yet-->
          <ui-gmap-marker
              coords="frontendmap.map.centerMarker"
              options="{labelContent: frontendmap.map.centerMarkerTitle(), labelAnchor:'22 0', labelClass:'marker-labels marker-labels-your-location', draggable: true}"
              idKey='1'
              >
          </ui-gmap-marker>

        </ui-gmap-google-map>

      </div>
      <!-- map-innerwrap-->

      <activitybardetail
          ajs-centermaxwith
          ng-class="{activitydetailactive: states.activitydetailactive}"
          ng-show="states.filteredactivities.length > 0"
          ng-if="states.activitydetailactive"
          class="category-{{getSelectedActivity().category.main}}"
          >
      </activitybardetail>

      <activitybar
          ng-if="states.filteredactivities.length === 0"
          >
        <div class="activitybar-noresult">
          <span class="icon"></span>
          <h4>{{'No Activities found.' | translate}}</h4>

          <p>{{'Zoom out the map or reset your filter settings.' | translate}}</p>
        </div>
      </activitybar>

      <!--use ng-if to avoid data binding error messages when getSelectedActivity() returns undefined in case of empty states.filteredactivities -->
      <activitybar
          ng-if="getSelectedActivity()"
          >

        <activitybarstripe>

          <currentactivity
              ajs-centermaxwith
              ng-class="{activitydetailactive: states.activitydetailactive}"
              >

            <div class="activity-detail-toggle"
                 ng-click="toggleCurrentActivity()"
                 ng-class="{active: states.activitydetailactive}"
                >
              <span
                  ng-hide="states.activitydetailactive"
                  >
                {{'Info & Booking' | translate}}
              </span>
              <span
                  ng-show="states.activitydetailactive"
                  >
                {{'close' | translate}}
              </span>
              <span class="visual-button">
                <span></span>
              </span>
            </div>

            <div ng-show="states.filteredactivities.length > 0">
              <div class="currentactivity-body category-{{getSelectedActivity().category.main}}"
                   ng-click="toggleCurrentActivity()"
                  >

                <div class="currentactivity-img">
                  <cloudinaryimage
                      data-publicid="{{getSelectedActivity().images[0].public_id}}"
                      data-format="{{getSelectedActivity().images[0].format}}"
                      data-width="400"
                      data-height="200"
                      >
                  </cloudinaryimage>

                  <div class="activity-distance-element">
                    <div class="current-location"></div>
                    <div class="activity-distance-txt">
                      {{getSelectedActivity().distancetosearchlocation | mtokm }} km |
                      {{getIndexFilteredActivities(getSelectedActivity()) }} {{'of' | translate }}
                      {{states.filteredactivities.length}}
                    </div>
                    <div class="activity-location"></div>
                  </div>

                  <div class="activity-price-min">
                    <div class="innerwrap">
                      <span class="smalltext">{{'starting from' | translate }}</span>
                      <span class="price">{{ lowestPriceOfSelectedActivity() | currency }}</span>
                    </div>
                  </div>

                </div>

                <div class="currentactivity-txt">
                  <h5 class="category">
                    <div class="innerwrap">
                      {{getSelectedActivity().category.main | translate}}
                      <span class="category-sub"
                            ng-repeat="subcat in getSelectedActivity().category.subs">
                        / {{subcat.key | translate}}
                      </span>
                    </div>
                  </h5>

                  <h5 class="title">
                    {{getSelectedActivity().name | languageselect}}
                  </h5>

                  <div class="description multiline">
                    <div class="innerwrap">
                      {{getSelectedActivity().shortdescription[getAvailableTranslationLanguageKey(getSelectedActivity().shortdescription)]}}
                    </div>
                  </div>

                </div>

              </div>

              <a ng-click="selectprev()"
                 class="activitybar-item-prev"
                  >
                <div class="activity-nav activity-nav-prev">
                  <span class="hideme">previous activity</span>
                  <span></span>
                </div>
              </a>

              <a ng-click="selectnext()"
                 class="activitybar-item-next"
                  >
                <div class="activity-nav activity-nav-next">
                  <span class="hideme">next activity</span>
                  <span></span>
                </div>
              </a>

            </div>

            <div ng-show="states.filteredactivities.length === 0">
              keine Aktivität gefunden
            </div>

          </currentactivity>

        </activitybarstripe>

      </activitybar>

    </div>

    <div class="map-debug">
      <strong>Map-Debug:</strong>
      <br/>
      <u>Map ZOOM:</u>
      {{ frontendmap.map.zoom }}
      <br/>
      <u>You clicked here:</u>
      <br/>
      "longitude": {{ frontendmap.map.clickedMarker.longitude }}
      <br/>
      "latitude": {{ frontendmap.map.clickedMarker.latitude }}
    </div>

  </div>

  <shoppingcartbar>
  </shoppingcartbar>

</div>

<div data-ng-include="'views/_footer.html'"
     class="footer footer-startpage"></div>


