<div class="container">
  <div class="row">
    <div class="col-sm-12">

      <h2>Affiliate agreement</h2>

      <p class="preface">
        By registering and signing up to the reacture service as affiliate partner, the affiliate hereby agrees, acknowledges, accepts and agrees to the terms and conditions of this affiliate agreement.
      </p>
      <h4>Whereas:</h4>
      <p>(i)ReActure OG operates an online activity service reservation system through which participating Tourist services
      where tourists can book any activities that ReActure OG seems to be adequate for it´s customers.
      (ii)ReActure OG maintains and exploits its own and also provides the Service and links to the Service on the
      websites of third parties;</p>

      <h4>1. Scope of this agreement</h4>
      <p>1.1. Service</p>
      <p>1.1.1. “The Service” means to acquire customers for our affiliates by means of online marketing, using the
      reacture.com website, Print media and cooperation with any institution found beneficial for the purpose of selling
      our affiliates services. Services can be sport activities, cultural activities or educational activities.</p>
      <p>1.1.2. For the term of this Agreement, Parties have agreed that the Service shall be made available by ReActure OG
      to the Affiliate.</p>

      <p>1.1.3. When a booking is made by a visitor on or through the Affiliate Websites through the System, ReActure OG
      shall be solely responsible for the transmit of the relevant reservation details from the visitor who completed a
      booking to a service offered and the sending of the subsequent (email) confirmation to the customer.</p>

      <h4>2. Obligations</h4>
      <p>2.1. Obligations for ReActure OG</p>
      <p>2.1.1. ReActure OG is obligated to promote the affiliates service as long as this agreement is valid.</p>
      <p>2.1.2. ReActure OG is responsible for the processing of the guest data, the sending of a mail confirmation to the
      guest and to the affiliate, after a completed booking process over one of the booking channels.</p>
      <p>2.1.3. ReActure OG is obliged to draw up a monthly statement for the affiliate as set up in 5. and to transfer the
      earnings to the affiliate each month.
      The earnings will be transferred to the bank account of the affiliate, that has to be determined in the User
      section of reacture.com.</p>
      <p>2.2. Obligations for the affiliate</p>
      <p>2.2.1. The affiliate is responsible to provide it´s service as described in the affiliate section of the ReActure
      homepage after a compulsory booking of the service over ReActure OG and the reception of the confirmation mail.</p>
      <p>2.2.2. The affiliate must not charge any extra fees to the customers. All fees have to be included in the final
      price set up on the reActure homepage. Also the affiliate agrees to refrain from charging a price higher than the
      price displayed on site.</p>
      <p>2.2.3. The affiliate is responsible for having all necessary authorizations, for complying with any required
      safety regulations and regulatory requirements regarding the service offered on ReActure OG.</p>
      <p>2.2.4. The affiliate is responsible for always keeping following information updated:</p>
      <p>2.2.4.1. The prices of the services offered by the affiliate</p>
      <p>2.2.4.2. The number of available, on Reacture.com promoted items.</p>
      <p>2.2.4.3. The description of the service(s), the company address and contact information.</p>

      <p>To do so the affiliate is required to update the specified information on the reacture.com Website using his
      designated Username and Password whenever necessary.</p>

      <p>2.2.5. The affiliates representative shall send to us a copy of his / her Passport or any other ID card to verify
      his / her identity via post or email.</p>

      <h4>3. The service offered by the affiliate</h4>
      <p>The affiliate offers the service to his customers as described in the member
      section of his profile and guarantees to provide the service as described in the description part of the
      affiliates event scheme.</p>
      <p>Should the affiliate not be able to provide the service a customer booked he has to inform ReActure as soon as
      possible. All costs for refunding the payment as well as a Coupon, that will be sent to the customer in case of a
      now show of the affiliate, will be billed to the affiliate.</p>

      <h4>4. The price of the service</h4>
      <p>4.1. The price of the service has to be chosen by the affiliate and has to include all taxes, fees and expenses
      related to the service. The price can be changed anytime in the affiliates back-end section of the ReActure
      homepage.</p>
      <p>4.2. The affiliate guarantees, that the prices stated on the reacture.com website will never exceed the price
      offered on any other internet platform promoting the affiliates service.</p>

      <h4>5. Provison and monthly statement</h4>
      <p>5.1. ReActure OG provides its services as set up in 1. and will charge a commission of 15% on any turnover
      generated for the affiliate.</p>
      <p>5.2. ReActure OG is obliged to create a monthly statement for the affiliate, which has to include an exact list of
      all services provided in the bygone month. The statement has to be transmitted to the affiliate not later than the
      15th of the following month.</p>
      <p>5.3. ReActure OG is obliged to transfer the earnings as calculated on the statement, after deduction of the 15%
      Provision, to the affiliate not later than the 15th of each month for the bygone month. The earnings will be paid
      to the affiliates bank account, that has to be communicated in the affiliates profile section of the Reacture
      homepage.</p>

      <h4>6. Termination of the agreement</h4>
      <p>6.1. The Agreement is valid from the moment the registration has been completed. The registration cannot be
      completed without agreeing to this terms. It can be terminated by both contracting partners anytime with a notice
      period of 30 days.</p>
      <p>6.2. In the event of a breach of the covenants, undertakings, restrictions, obligations and/or warranties ReActure
      OG shall be entitled to exercise the following actions and rights, notwithstanding the remedies and actions for
      specific performance, damage compensation or injunctive or equitable relief available by law or contract:</p>
      <p>(a) suspension of its (payment) obligations under or termination of this Agreement with immediate effect;</p>
      <p>(b) ReActure OG shall be entitled to retain the payments for all bookings made and/or each Materialised
      Transaction during the term that the Affiliate breaches the relevant obligations set up in 3.</p>
      <p>(c) suspension of the promotion service, until a settlement either in the legal process or in accordance between
      ReActure OG and the affiliate is attained.</p>

      <h4>7. Governing law and jurisdiction</h4>
      <p>7.1. The place of jurisdiction is Vienna</p>
      <p>7.2. All parts of this contract are subject to Austrian law</p>

    </div>
  </div>
</div>