<div data-ng-controller="PaymentCtrl as payment">

  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h2>{{ 'Payment' | translate }}</h2>
      </div>
    </div>
  </div>
  <section class="payment-shoppingcart first">
    <div class="container main-content">
      <div class="row">
        <div class="col-sm-12">

          <h3 class="no-margin-top">Shopping cart</h3>

          <shoppingcart></shoppingcart>

          <div class="form-group form-group-btn align-right">
            <button
                class="btn"
                >
              Next step – User Details
            </button>
          </div>

        </div>
      </div>
    </div>
  </section>
  <section class="payment-userdetails section-green">
    <div class="container main-content">
      <div class="row">
        <div class="col-sm-12">

          <h3 class="no-margin-top">User details</h3>

          <form class="standardform"
                name="valForm"
                novalidate
              >

            <div class="form-group-inline form-group-inline-5050">
              <div class="form-group">
                <label for="firstname">{{'First name' | translate}}</label>
                <input name="firstname"
                       id="firstname"
                       ng-model="registrant.profile.firstName"
                       class="input-block-level"
                       required
                       placeholder="{{ 'Your first name' | translate }}"
                    >

                <span ng-show="showError('firstname', 'required')"
                      class="alert alert-error">{{'Please enter your first name' | translate}}
                </span>

              </div>

              <div class="form-group">
                <label for="lastname">{{'Last name' | translate}}</label>
                <input name="lastname"
                       id="lastname"
                       ng-model="registrant.profile.lastName"
                       class="input-block-level"
                       required
                       placeholder="{{ 'Your last name' | translate }}"
                    >

                <span ng-show="showError('lastname', 'required')"
                      class="alert alert-error">{{'Please enter your last name' | translate}}
                </span>

              </div>
            </div>

            <div class="form-group">
              <label for="email">{{'E-mail' | translate}}</label>
              <input name="email"
                     id="email"
                     ng-model="registrant.email"
                     class="input-block-level"
                     required
                     autofocus
                     ng-pattern="/^[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,4}$/"
                     placeholder="{{'Your e-mail address' | translate}}"
                  >

              <span ng-show="showError('email', 'required')"
                    class="alert alert-error">{{ 'Please enter your e-mail address.' | translate }}
              </span>
              <span ng-show="showError('email', 'pattern')"
                    class="alert alert-error">{{ 'Please enter a valid e-mail address.' | translate }}
              </span>

            </div>

            <div class="form-group">
              <label for="tel">{{'Telephone' | translate}}</label>
              <input name="tel"
                     id="tel"
                     ng-model="registrant.profile.tel"
                     class="input-block-level"
                     placeholder="{{ 'Your telephone number' | translate }}"
                  >

            </div>
            <div class="form-group form-group-btn align-right">
              <button
                  class="btn"
                  >
                Next step – Payment options
              </button>
            </div>

          </form>

        </div>
      </div>
    </div>
  </section>

  <section class="payment-paymentoptions">
    <div class="container main-content">
      <div class="row">
        <div class="col-sm-12">

          <h3 class="no-margin-top">Payment options</h3>

          <form class="standardform"
                id="payment-form"
                >

            <!--<input class="card-amount-int" type="hidden" value="15" />-->
            <!--<input class="card-currency" type="hidden" value="EUR" />-->

            <div class="input-label">Available Creditcards:</div>
              <img src="/img/paymill/32x20_visa.png" />
              <img src="/img/paymill/32x20_mastercard.png" />
              <img src="/img/paymill/32x20_dinersclub.png" />
              <img src="/img/paymill/32x20_amex.png" />

            <div class="form-group-inline form-group-inline-7525">
              <div class="form-group">

                <label for="cardnumber">Card number</label>
                <input class="card-number"
                       id="cardnumber"
                       ng-model="payment.card.number"
                       type="text"
                       size="20"
                    />
              </div>

              <div class="form-group">
                <label for="cardcvc">CVC</label>
                <input class="card-cvc"
                       id="cardcvc"
                       type="text"
                       ng-model="payment.card.cvc"
                       size="4"/>
              </div>
            </div>

            <div class="form-row">
              <label for="cardname">Holdername (Name auf der Kreditkarte)</label>
              <input class="card-holdername"
                     id="cardname"
                     type="text"
                     ng-model="payment.card.name"
                     size="4"/>
            </div>

            <div class="form-group-inline form-group-inline-2525">
              <div class="form-group">
                <label for="expirymonth">Expiry date (MM)</label>
                <input class="card-expiry-month"
                       id="expirymonth"
                       type="text"
                       ng-model="payment.card.expiry_month"
                       size="2"/>
              </div>
              <div class="form-group">
                <label for="expiryyear">Expiry date (YYYY)</label>
                <input class="card-expiry-year"
                       id="expiryyear"
                       type="text"
                       ng-model="payment.card.expiry_year"
                       size="4"/>
              </div>
            </div>

            <div class="form-group form-group-btn align-right">
              <button
                  class="btn btn-large"
                  ng-class="{disabled : !payment.submitEnabled}"
                  ng-click="payment.submitPayment()"
                  >
                Send Booking
              </button>
            </div>

          </form>

          <div class="payment-errors"></div>

        </div>
      </div>
    </div>
  </section>



  <paymentconfirmation>

    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <h2>{{ 'Payment Confirmation' | translate }}</h2>
        </div>
      </div>
    </div>
    <div class="container main-content">
      <div class="row">
        <div class="col-sm-12">

          <h5 class="no-margin-top">Shopping cart</h5>

          <div class="shoppingcart-content"
               ng-repeat="item in shoppingcart.getCart()">

            <!--SHOPPINGCART ITEM #1-->
            <div class="shoppingcart-item"
                 data-ng-class="{
      'category-sports' : item.category === 'sports',
      'category-culture' : item.category === 'culture',
      'category-wellness' : item.category === 'wellness',
    }">

              <cloudinaryimage data-publicid="{{item.image.public_id}}"
                               data-format="{{item.image.format}}"
                               data-width="100"
                               data-height="60"
                  >
              </cloudinaryimage>

              <h4>
                <span class="icon"></span>
                <strong>
                  {{item.description[getAvailableTranslationLanguageKey(item.description)] }}
                </strong>
                / {{ {start:item.start, end:item.end} | duration }}
              </h4>

              <div class="shoppingcart-item-details">
                <div class="shoppingcart-item-date">
                  {{ item.start | momentjs:{format: "ddd, MMM Do YYYY"} }}
                </div>
                <div class="shoppingcart-item-qty">
                  <input type="number"
                         class="form-control input-mini"
                         id="shoppingcartItemAmount1"
                         name="shoppingcartItemAmount1"
                         value="1"
                         min="1"
                         max="99"
                         maxlength="2"
                         ng-model="item.quantity"
                         required
                      >
                </div>
                <div class="shoppingcart-item-price">
                  € {{item.price}}
                </div>
              </div>

              <div class="txt-icon-delete"
                   ng-click="item.remove()">
                <span class="hidden">Delete item</span>
                <span></span>
              </div>
            </div>
          </div>

          <!--SHOPPINGCART ITEMS END-->

          <div class="shoppingcart-subtotal">
            <span class="description">Subtotal</span>
            <span class="value">€ {{shoppingcart.getTotal().price}}</span>
          </div>

          <div class="form-group form-group-btn align-right">
            <button
                class="btn"
                >
              Next step – User Details
            </button>
          </div>

        </div>
      </div>

      <div class="row">
        <div class="col-sm-12">

          <h5 class="no-margin-top">User details</h5>

          <div class="formdata-display">
            <div class="input-label">
              {{'Name' | translate}}
            </div>
            <div class="input-content">
              {{user.profile.firstName}}
              {{user.profile.lastName}}
            </div>
          </div>

          <div class="formdata-display">
            <div class="input-label">
              {{'E-mail' | translate}}
            </div>
            <div class="input-content">
              {{user.email}}
            </div>
          </div>

          <div class="formdata-display">

            <div class="input-label">
              {{'Telephone' | translate}}
            </div>
            <div class="input-content">
              {{user.profile.tel}}
            </div>
          </div>


        </div>
      </div>

      <div class="row">
        <div class="col-sm-12">

          <h5 class="no-margin-top">Payment options</h5>

          <div class="formdata-display">
            <div class="input-label">
              {{'Credit card' | translate}}
            </div>
            <div class="input-content">
              <img src="/img/paymill/32x20_visa.png"/> **********5522
            </div>
          </div>

        </div>
      </div>

    </div>

  </paymentconfirmation>



</div>