<div data-ng-controller="PaymentCtrl">

  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h2>{{ 'Payment Confirmation' | translate }}</h2>
      </div>
    </div>
  </div>
  <div class="container main-content">
    <div class="row">
      <div class="col-sm-12">

        <h5 class="no-margin-top">Shopping cart</h5>

        <div class="shoppingcart-content"
             ng-repeat="item in shoppingcart.getCart()">

          <!--SHOPPINGCART ITEM #1-->
          <div class="shoppingcart-item"
               data-ng-class="{
      'category-sports' : item.category === 'sports',
      'category-culture' : item.category === 'culture',
      'category-wellness' : item.category === 'wellness',
    }">

            <cloudinaryimage data-publicid="{{item.image.public_id}}"
                             data-format="{{item.image.format}}"
                             data-width="100"
                             data-height="60"
                >
            </cloudinaryimage>

            <h4>
              <span class="icon"></span>
              <strong>
                {{item.description[getAvailableTranslationLanguageKey(item.description)] }}
              </strong>
              / {{ {start:item.start, end:item.end} | duration }}
            </h4>

            <div class="shoppingcart-item-details">
              <div class="shoppingcart-item-date">
                {{ item.start | momentjs:{format: "ddd, MMM Do YYYY"} }}
              </div>
              <div class="shoppingcart-item-qty">
                <input type="number"
                       class="form-control input-mini"
                       id="shoppingcartItemAmount1"
                       name="shoppingcartItemAmount1"
                       value="1"
                       min="1"
                       max="99"
                       maxlength="2"
                       ng-model="item.quantity"
                       required
                    >
              </div>
              <div class="shoppingcart-item-price">
                € {{item.price}}
              </div>
            </div>

            <div class="txt-icon-delete"
                 ng-click="item.remove()">
              <span class="hidden">Delete item</span>
              <span></span>
            </div>
          </div>
        </div>

        <!--SHOPPINGCART ITEMS END-->

        <div class="shoppingcart-subtotal">
          <span class="description">Subtotal</span>
          <span class="value">€ {{shoppingcart.getTotal().price}}</span>
        </div>

        <div class="form-group form-group-btn align-right">
          <button
              class="btn"
              >
            Next step – User Details
          </button>
        </div>

      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">

        <h5 class="no-margin-top">User details</h5>

        <div class="formdata-display">
          <div class="input-label">
            {{'Name' | translate}}
          </div>
          <div class="input-content">
            {{user.profile.firstName}}
            {{user.profile.lastName}}
          </div>
        </div>

        <div class="formdata-display">
          <div class="input-label">
            {{'E-mail' | translate}}
          </div>
          <div class="input-content">
            {{user.email}}
          </div>
        </div>

        <div class="formdata-display">

          <div class="input-label">
            {{'Telephone' | translate}}
          </div>
          <div class="input-content">
            {{user.profile.tel}}
          </div>
        </div>


      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">

        <h5 class="no-margin-top">Payment options</h5>

        <div class="formdata-display">
          <div class="input-label">
            {{'Credit card' | translate}}
          </div>
          <div class="input-content">
            <img src="/img/paymill/32x20_visa.png"/> **********5522
          </div>
        </div>

      </div>
    </div>

  </div>
</div>