<div data-ng-controller="PaymentCtrl as payment">
  <form
      name="paymentForm"
      novalidate
      >
    <div ng-show="payment.state === 'form'">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <h2>{{ 'Payment' | translate }}</h2>
          </div>
        </div>

      </div>

      <section class="payment-shoppingcart first">
        <div class="container main-content">
          <div class="row">
            <div class="col-sm-12">

              <h3 class="no-margin-top">
                {{ 'Shopping cart' | translate }}
              </h3>

              <shoppingcart></shoppingcart>

            </div>
          </div>
        </div>
      </section>
      <section class="payment-userdetails section-green">
        <div class="container main-content">
          <div class="row">
            <div class="col-sm-12">

              <h3 class="no-margin-top">
                {{ 'Personal data' | translate }}
              </h3>

              <ng-form class="standardform"
                       name="customerForm"
                       novalidate
                  >
                <div class="form-group-inline form-group-inline-5050">
                  <div class="form-group">
                    <label for="firstname">{{'First name' | translate}}</label>
                    <input name="firstname"
                           id="firstname"
                           ng-model="payment.profile.firstName"
                           class="input-block-level"
                           placeholder="{{ 'Your first name' | translate }}"
                           required
                        >

                    <ng-messages
                        for="customerForm.firstname.$error"
                        ng-show="payment.states.submitted || customerForm.firstname.$dirty"
                        >
                      <ng-message
                          when="required"
                          class="alert alert-error"
                          >
                        {{'Please enter your first name' | translate}}
                      </ng-message>
                    </ng-messages>

                  </div>

                  <div class="form-group">
                    <label for="lastname">{{'Last name' | translate}}</label>
                    <input name="lastname"
                           id="lastname"
                           ng-model="payment.profile.lastName"
                           class="input-block-level"
                           placeholder="{{ 'Your last name' | translate }}"
                           required
                        >

                    <ng-messages
                        for="customerForm.lastname.$error"
                        ng-show="payment.states.submitted || customerForm.lastname.$dirty"
                        >
                      <ng-message
                          when="required"
                          class="alert alert-error"
                          >
                        {{'Please enter your last name' | translate}}
                      </ng-message>
                    </ng-messages>

                  </div>
                </div>

                <div class="form-group">
                  <label for="email">
                    {{'E-mail' | translate}}
                  </label>
                  <input name="email"
                         id="email"
                         ng-model="payment.profile.email"
                         ng-model-options="{ updateOn: 'default blur', debounce: {'default': 750, 'blur': 0} }"
                         class="input-block-level"
                         required
                         autofocus
                         ng-pattern="/^[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,4}$/"
                         placeholder="{{'Your e-mail address' | translate}}"
                      >

                  <ng-messages
                      for="customerForm.email.$error"
                      ng-show="payment.states.submitted || customerForm.email.$dirty"
                      >
                    <ng-message
                        when="pattern"
                        class="alert alert-error"
                        >
                      {{ 'Please enter a valid e-mail address.' | translate }}
                    </ng-message>
                    <ng-message
                        when="required"
                        class="alert alert-error"
                        >
                      {{ 'Please enter your e-mail address.' | translate }}
                    </ng-message>
                  </ng-messages>

                </div>

                <div class="form-group">
                  <label for="tel">{{'Telephone' | translate}}</label>
                  <input name="tel"
                         id="tel"
                         ng-model="payment.profile.tel"
                         class="input-block-level"
                         placeholder="{{ 'Your telephone number' | translate }}"
                         required
                      >

                  <ng-messages
                      for="customerForm.tel.$error"
                      ng-show="payment.states.submitted || customerForm.tel.$dirty"
                      >
                    <ng-message
                        when="required"
                        class="alert alert-error"
                        >
                      {{'Please enter your telephone number' | translate}}
                    </ng-message>
                  </ng-messages>

                </div>
                <!--<div class="form-group form-group-btn align-right">
                  <button
                      class="btn"
                      >
                    Next step – Payment options
                  </button>
                </div>-->

              </ng-form>

            </div>
          </div>
        </div>
      </section>

      <section class="payment-paymentoptions">
        <div class="container main-content">
          <div class="row">
            <div class="col-sm-12">

              <h3 class="no-margin-top">
                {{ 'Payment options' | translate }}
              </h3>

              <ng-form
                  name="cardForm"
                  class="standardform"
                  id="payment-form"
                  >

                <!--<input class="card-amount-int" type="hidden" value="15" />-->
                <!--<input class="card-currency" type="hidden" value="EUR" />-->

                <div class="input-label">
                  {{ 'Available Creditcards' | translate }}:
                </div>
                <img src="/img/paymill/32x20_visa.png"/>
                <img src="/img/paymill/32x20_mastercard.png"/>

                <div class="form-group-inline form-group-inline-7525">
                  <div class="form-group">

                    <label for="CreditCardNumber">
                      {{ 'Card number' | translate }}
                    </label>
                    <input
                        class="card-number"
                        id="CreditCardNumber"
                        ng-model="payment.card.number"
                        ng-model-options="{ updateOn: 'default blur', debounce: {'default': 750, 'blur': 0} }"
                        type="text"
                        pattern="^[0-9]{16}$"
                        name="CreditCardNumber"
                        required
                        maxlength="16"
                        />

                    <ng-messages
                        for="cardForm.CreditCardNumber.$error"
                        ng-show="payment.states.submitted || cardForm.CreditCardNumber.$dirty"
                        >
                      <ng-message
                          when="pattern"
                          class="alert alert-error"
                          >
                        {{ 'Please enter a valid card number' | translate}}
                      </ng-message>
                      <ng-message
                          when="required"
                          class="alert alert-error"
                          >
                        {{ 'Please enter your card number' | translate }}
                      </ng-message>
                    </ng-messages>

                  </div>

                  <div class="form-group">
                    <label for="cardcvc">
                      {{ 'CVC' | translate }}
                    </label>
                    <input
                        class="card-cvc"
                        id="cardcvc"
                        type="text"
                        pattern="^[0-9]{3}$"
                        required
                        ng-model="payment.card.cvc"
                        ng-model-options="{ updateOn: 'default blur', debounce: {'default': 750, 'blur': 0} }"
                        name="cardcvc"
                        maxlength="3"
                        />

                    <ng-messages
                        for="cardForm.cardcvc.$error"
                        ng-show="payment.states.submitted || cardForm.cardcvc.$dirty"
                        >
                      <ng-message
                          when="pattern"
                          class="alert alert-error"
                          >
                        {{ 'Please enter a valid CVC' | translate }}
                      </ng-message>
                      <ng-message
                          when="required"
                          class="alert alert-error"
                          >
                        {{ 'Please enter your CVC' | translate }}
                      </ng-message>
                    </ng-messages>

                  </div>
                </div>

                <div class="form-row">
                  <label for="cardname">
                    {{ 'Holdername' | translate }}
                  </label>
                  <input
                      class="card-holdername"
                      id="cardname"
                      name="cardname"
                      type="text"
                      ng-model="payment.card.name"
                      required
                      />

                  <ng-messages
                      for="cardForm.cardname.$error"
                      ng-show="payment.states.submitted || cardForm.cardname.$dirty"
                      >
                    <ng-message
                        when="pattern"
                        class="alert alert-error"
                        >
                      {{ 'Please enter a valid holdername' | translate }}
                    </ng-message>
                    <ng-message
                        when="required"
                        class="alert alert-error"
                        >
                      {{ 'Please enter your holdername' | translate }}
                    </ng-message>
                  </ng-messages>

                </div>

                <div class="form-group-inline form-group-inline-2525">
                  <div class="form-group">
                    <label for="expirymonth">
                      {{ 'Expiry date month' | translate}}
                    </label>
                    <input
                        class="card-expiry-month"
                        id="expirymonth"
                        name="expirymonth"
                        type="text"
                        pattern="^[0-9]{2}$"
                        required
                        ng-model="payment.card.expiry_month"
                        ng-model-options="{ updateOn: 'default blur', debounce: {'default': 750, 'blur': 0} }"
                        maxlength="2"
                        />

                    <ng-messages
                        for="cardForm.expirymonth.$error"
                        ng-show="payment.states.submitted || cardForm.expirymonth.$dirty"
                        >
                      <ng-message
                          when="pattern"
                          class="alert alert-error"
                          >
                        {{ 'Please enter a valid number month' | translate }}
                      </ng-message>
                      <ng-message
                          when="required"
                          class="alert alert-error"
                          >
                        {{ 'Please enter the month of the expiry date' | translate }}
                      </ng-message>
                    </ng-messages>

                  </div>
                  <div class="form-group">
                    <label for="expiryyear">
                      {{ 'Expiry date year' | translate}}
                    </label>
                    <input
                        class="card-expiry-year"
                        id="expiryyear"
                        name="expiryyear"
                        type="text"
                        pattern="^[0-9]{4}$"
                        required
                        ng-model="payment.card.expiry_year"
                        ng-model-options="{ updateOn: 'default blur', debounce: {'default': 750, 'blur': 0} }"
                        maxlength="4"
                        />

                    <ng-messages
                        for="cardForm.expiryyear.$error"
                        ng-show="payment.states.submitted || cardForm.expiryyear.$dirty"
                        >
                      <ng-message
                          when="pattern"
                          class="alert alert-error"
                          >
                        {{ 'Please enter a valid number year' | translate }}
                      </ng-message>
                      <ng-message
                          when="required"
                          class="alert alert-error"
                          >
                        {{ 'Please enter the year of the expiry date' | translate }}
                      </ng-message>
                    </ng-messages>

                  </div>
                </div>

                <div class="form-group form-group-btn align-right">


                  <button
                      class="btn btn-large"
                      ng-class="{disabled : !payment.isPaymentFormValid()}"
                      ng-click="payment.submitPayment()"
                      >
                    <img src="/img/loading/loading-bubbles.svg"
                         ng-hide="payment.submitEnabled">
                    {{ 'Send booking' | translate }}
                  </button>

                </div>

              </ng-form>

              <div
                  ng-show="payment.errorMsg"
                  class="alert alert-error"
                  >
                {{payment.errorMsg}}
              </div>
              <div
                  class="alert alert-error"
                  ng-show="paymentForm.$invalid && payment.states.submitted"
                  >
                <b>{{'Please fill out the form correctly' | translate}}</b>
              </div>

            </div>
          </div>
        </div>
      </section>

    </div>

    <paymentconfirmation ng-if="payment.state === 'confirmation'">

      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <h2 class="no-margin-bottom">{{ 'Payment Confirmation' | translate }}</h2>

            <h4 class="no-margin-top">{{ 'Order ID' | translate }}: {{payment.readableBookingId}}</h4>
          </div>
        </div>
      </div>
      <div class="container main-content">
        <div class="row">
          <div class="col-sm-12">

            <h5 class="no-margin-top">
              {{ 'Shopping cart' | translate }}
            </h5>

            <shoppingcart confirmationview="true"
                          cart="payment.cartCopy"
                >
            </shoppingcart>

          </div>
        </div>

        <div class="row">
          <div class="col-sm-12">

            <h5>
              {{ 'Personal data' | translate }}
            </h5>

            <div class="formdata-display">
              <div class="input-label">
                {{'Name' | translate}}
              </div>
              <div class="input-content">
                {{payment.profile.firstName}} {{payment.profile.lastName}}
              </div>
            </div>

            <div class="formdata-display">
              <div class="input-label">
                {{'E-mail' | translate}}
              </div>
              <div class="input-content">
                {{payment.profile.email}}
              </div>
            </div>

            <div class="formdata-display">

              <div class="input-label">
                {{'Telephone' | translate}}
              </div>
              <div class="input-content">
                {{payment.profile.tel}}
              </div>
            </div>

          </div>
        </div>

        <div class="row">
          <div class="col-sm-12">

            <h5>
              {{ 'Payment options' | translate }}
            </h5>

            <div class="formdata-display">
              <div class="input-label">
                {{'Credit card' | translate}}
              </div>
              <div class="input-content">
                <img src="/img/paymill/32x20_visa.png"/>
                **********{{payment.card.number.substr(-4)}}
              </div>
            </div>

          </div>
        </div>

      </div>

    </paymentconfirmation>

  </form>

</div>
