<form class="registerform"
      name="registerform"
      novalidate
      autocomplete="on"
      action=""
      method="post"
      target="_self"
      style="padding-bottom: 100px;"
>
<!--TODO: Register-->
  <h2>Account</h2>

  <h3>Register</h3>


  <p>
    <label for="email">E-mail</label>
    <input name="email"
           ng-model="form.email"
           class="input-block-level"
           id="email"
           required
           autofocus>
  </p>
  <p>
    <label for="password">Password</label>
    <input name="password"
           id="password"
           type="password"
           ng-model="form.password"
           required
           class="input-block-level">
  </p>

  <p>
    <label for="password">Retype Password</label>
    <input name="repeatPassword"
           id="repeatPassword"
           type="password"
           ng-model="form.password2"
           required
           class="input-block-level"
           validate-equals="form.password">
  </p>

  <div ng-show="state.error">
    <div class="alert alert-error" ng-show="state.message !== 'invalidPwd'">{{state.message}}</div>
    <div class="alert alert-error" ng-show="state.message === 'invalidPwd'">The password has to contain at least one capital letter, one number and has to have a minimum length of 8.</div>
  </div>

  <button class="btn"
          type="submit"
          ng-click="register()">Register
  </button>

</form>
