<div data-ng-controller="WhyCtrl">

  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h2>{{ 'Why reacture' | translate }}</h2>
      </div>
    </div>
  </div>

  <div class="teaserbox teaserbox-fullimg-txt">
    <img src="/img/responsiveimages/teaserimage_artist.jpg"/>
    <div class="outerwrap">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-md-offset-6 textblock">
            <p class="preface">
              You are in Italy and it´s raining? On a surf trip, and there are no waves? Went skiing to Austria and
              there is no snow? Want to know what else you can do RIGHT NOW?
            </p>

            <a ng-href="#/"
               class="btn btn-large btn-negative"
               >
              {{ 'Find your activity' | translate }}
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="teaserbox teaserbox-mapdesign">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <span class="listicon"></span>
          <div class="textblock">
            <h6>Sports, Culture and Wellness Activities</h6>
          </div>
        </div>
        <div class="col-md-4">
          <span class="listicon"></span>
          <div class="textblock">
            <h6>Ticket Services for Festivals, Museums, Concerts and much more</h6>
          </div>
        </div>
        <div class="col-md-4">
          <span class="listicon"></span>
          <div class="textblock">
            <h6>No registration needed</h6>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <span class="listicon"></span>
          <div class="textblock">
            <h6>Compare and find activities in your area and around the world</h6>
          </div>
        </div>
        <div class="col-md-4">
          <span class="listicon"></span>
          <div class="textblock">
            <h6>Simple and instant booking process</h6>
          </div>
        </div>
        <div class="col-md-4">
          <span class="listicon"></span>
          <div class="textblock">
            <h6>Best Price guaranteed!</h6>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <span class="listicon"></span>
          <div class="textblock">
            <h6>24h Support</h6>
          </div>
        </div>
        <div class="col-md-8">
          <h3 class="align-right">… get active!</h3>
        </div>
      </div>
    </div>
  </div>



  <div class="container">
    <div class="row row-large">
      <div class="col-sm-12 align-center">
        <h4>
          We help you <u>find, compare and book YOUR activity</u> nearby in only a few seconds.
        </h4>
        <a ng-href="#/"
           class="btn btn-large"
            >
          {{ 'Find your activity' | translate }}
        </a>
      </div>
    </div>
  </div>

</div>
