<div data-ng-controller="WhyCtrl">

  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h2>{{ 'Why reacture' | translate }}</h2>
      </div>
    </div>
  </div>

  <div class="teaserbox teaserbox-fullimg-txt">
    <img src="/img/responsiveimages/teaserimage_artist.jpg"/>
    <div class="outerwrap">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-md-offset-6 textblock">
            <p class="preface">
             <span
                  data-ng-show="lang == 'en'"
                  >
               You are in Italy and it´s raining? On a surf trip, and there are no waves? Went skiing to Austria and
               there is no snow? Want to know what else you can do RIGHT NOW?
             </span>
              <span
                  data-ng-show="lang == 'de'"
                  >
                You are in Italy and it´s raining? On a surf trip, and there are no waves? Went skiing to Austria and
                there is no snow? Want to know what else you can do RIGHT NOW?
              </span>
              <span
                  data-ng-show="lang == 'it'"
                  >
                Se in italia e sta piovendo ? Stai facendo surf e non ci sono onde? A sciare in Austria e non c’è neve? Vuoi sapere quale attività potresti fare nell’immediato?
              </span>
              <span
                  data-ng-show="lang == 'fr'"
                  >
                You are in Italy and it´s raining? On a surf trip, and there are no waves? Went skiing to Austria and
                there is no snow? Want to know what else you can do RIGHT NOW?
              </span>
            </p>

            <a ng-href="#/"
               class="btn btn-large btn-negative"
               >
              {{ 'Find your activity' | translate }}
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="teaserbox teaserbox-mapdesign">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <span class="listicon"></span>
          <div class="textblock">
            <h6>
              <span
                  data-ng-show="lang == 'en'"
                  >
                Sports, Culture and Wellness Activities
              </span>
              <span
                  data-ng-show="lang == 'de'"
                  >
                Sports, Culture and Wellness Activities
              </span>
              <span
                  data-ng-show="lang == 'it'"
                  >
                Sport, cultura, Wellness
              </span>
              <span
                  data-ng-show="lang == 'fr'"
                  >
                Sports, Culture and Wellness Activities
              </span>
            </h6>
          </div>
        </div>
        <div class="col-md-4">
          <span class="listicon"></span>
          <div class="textblock">
            <h6>
              <span
                  data-ng-show="lang == 'en'"
                  >
                Ticket Services for Festivals, Museums, Concerts and much more
              </span>
              <span
                  data-ng-show="lang == 'de'"
                  >
                Ticket Services for Festivals, Museums, Concerts and much more
              </span>
              <span
                  data-ng-show="lang == 'it'"
                  >
                Servizi biglietteria per festival, musei, concerti e molto altro
              </span>
              <span
                  data-ng-show="lang == 'fr'"
                  >
                Ticket Services for Festivals, Museums, Concerts and much more
              </span>
            </h6>
          </div>
        </div>
        <div class="col-md-4">
          <span class="listicon"></span>
          <div class="textblock">
            <h6>
              <span
                  data-ng-show="lang == 'en'"
                  >
                No registration needed
              </span>
              <span
                  data-ng-show="lang == 'de'"
                  >
                No registration needed
              </span>
              <span
                  data-ng-show="lang == 'it'"
                  >
                Senza bisogno di registrarsi
              </span>
              <span
                  data-ng-show="lang == 'fr'"
                  >
                No registration needed
              </span>
            </h6>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <span class="listicon"></span>
          <div class="textblock">
            <h6>
              <span
                  data-ng-show="lang == 'en'"
                  >
                Compare and find activities in your area and around the world
              </span>
              <span
                  data-ng-show="lang == 'de'"
                  >
                Compare and find activities in your area and around the world
              </span>
              <span
                  data-ng-show="lang == 'it'"
                  >
                Trova e confronta attività nel tuo paese e nel mondo
              </span>
              <span
                  data-ng-show="lang == 'fr'"
                  >
                Compare and find activities in your area and around the world
              </span>
            </h6>
          </div>
        </div>
        <div class="col-md-4">
          <span class="listicon"></span>
          <div class="textblock">
            <h6>
              <span
                  data-ng-show="lang == 'en'"
                  >
                Simple and instant booking process
              </span>
              <span
                  data-ng-show="lang == 'de'"
                  >
                Simple and instant booking process
              </span>
              <span
                  data-ng-show="lang == 'it'"
                  >
                Prenotazione semplice e istantanea
              </span>
              <span
                  data-ng-show="lang == 'fr'"
                  >
                Simple and instant booking process
              </span>
            </h6>
          </div>
        </div>
        <div class="col-md-4">
          <span class="listicon"></span>
          <div class="textblock">
            <h6>
              <span
                  data-ng-show="lang == 'en'"
                  >
                Best Price guaranteed!
              </span>
              <span
                  data-ng-show="lang == 'de'"
                  >
                Best Price guaranteed!
              </span>
              <span
                  data-ng-show="lang == 'it'"
                  >
                Miglior prezzo garantito
              </span>
              <span
                  data-ng-show="lang == 'fr'"
                  >
                Best Price guaranteed!
              </span>
            </h6>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <span class="listicon"></span>
          <div class="textblock">
            <h6>
              <span
                  data-ng-show="lang == 'en'"
                  >
                24h Support
              </span>
              <span
                  data-ng-show="lang == 'de'"
                  >
                24h Support
              </span>
              <span
                  data-ng-show="lang == 'it'"
                  >
                Supporto 24ore su 24
              </span>
              <span
                  data-ng-show="lang == 'fr'"
                  >
                24h Support
              </span>
            </h6>
          </div>
        </div>
        <div class="col-md-8">
          <h3 class="align-right">
            {{ 'get active' | translate }}
          </h3>
        </div>
      </div>
    </div>
  </div>



  <div class="container">
    <div class="row row-large">
      <div class="col-sm-12 align-center">
        <h4>
          <span
              data-ng-show="lang == 'en'"
              >
            We help you <u>find, compare and book YOUR activity</u> nearby in only a few seconds.
          </span>
          <span
              data-ng-show="lang == 'de'"
              >
            We help you <u>find, compare and book YOUR activity</u> nearby in only a few seconds.
          </span>
          <span
              data-ng-show="lang == 'it'"
              >
            Ti aiutiamo a <u>trovare, paragonare e prenotare la tua attività</u> nelle vicinanze in pochi secondi.
          </span>
          <span
              data-ng-show="lang == 'fr'"
              >
            We help you <u>find, compare and book YOUR activity</u> nearby in only a few seconds.
          </span>

        </h4>
        <a ng-href="#/"
           class="btn btn-large"
            >
          {{ 'Find your activity' | translate }}
        </a>
      </div>
    </div>
  </div>

</div>
