<div data-ng-controller="WhyCtrl">

  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h2>{{ 'Why reacture' | translate }}</h2>
      </div>
    </div>
  </div>

  <div class="teaserbox teaserbox-fullimg-txt">
    <img src="/img/responsiveimages/teaserimage_artist.jpg"/>
    <div class="outerwrap">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-md-offset-6 textblock">
            <p class="preface">
              <span
                  data-ng-show="lang == 'en'"
                  >
                You are in Italy and it´s raining? On a surf trip, and there are no waves? Went skiing to Austria and
                there is no snow? Want to know what else you can do RIGHT NOW?
              </span>
              <span
                  data-ng-show="lang == 'de'"
                  >
                Du bist gerade am Meer und es regnet? Skifahren in den Alpen und es gibt keinen Schnee? Surftrip ohne
                Wind? Oder willst Du einfach mal von der Couch wegkommen? Du willst wissen welche Aktivitäten in Deiner
                Nähe gerade angeboten werden?
              </span>
              <span
                  data-ng-show="lang == 'it'"
                  >
                Sei in Italia e sta piovendo ? Stai facendo surf e non ci sono onde? A sciare in Austria e non c’è neve?
                Vuoi sapere quale attività potresti fare nell’immediato?
              </span>
              <span
                  data-ng-show="lang == 'fr'"
                  >
                Vous êtes en Italie et il est en train de pleuvoir? Vous surfez et il n’y a pas de vagues? Vous êtes
                allés skier en Autriche et il n’y a pas de neige? Vous savez comment trouver une autre activité à faire
                dans l’immédiat?
              </span>
            </p>

            <a ng-href="/#/"
               class="btn btn-large btn-negative"
                >
              {{ 'Find your activity' | translate }}
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="teaserbox teaserbox-mapdesign">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <span class="listicon"></span>
          <div class="textblock">
            <h6>
              <span
                  data-ng-show="lang == 'en'"
                  >
                Sports, Culture and Wellness Activities
              </span>
              <span
                  data-ng-show="lang == 'de'"
                  >
                Sport, Kultur und Wellnessangebote
              </span>
              <span
                  data-ng-show="lang == 'it'"
                  >
                Sport, Cultura, Wellness
              </span>
              <span
                  data-ng-show="lang == 'fr'"
                  >
                Sport, Culture, Wellness
              </span>
            </h6>
          </div>
        </div>
        <div class="col-md-4">
          <span class="listicon"></span>
          <div class="textblock">
            <h6>
              <span
                  data-ng-show="lang == 'en'"
                  >
                Ticket Services for Festivals, Museums, Concerts and much more
              </span>
              <span
                  data-ng-show="lang == 'de'"
                  >
                Ticket Service für Museen, Konzerte, Festivals und vieles mehr
              </span>
              <span
                  data-ng-show="lang == 'it'"
                  >
                Servizi biglietteria per festival, musei, concerti e molto altro
              </span>
              <span
                  data-ng-show="lang == 'fr'"
                  >
                Service de tickets pour musées, festivals, foires et concerts
              </span>
            </h6>
          </div>
        </div>
        <div class="col-md-4">
          <span class="listicon"></span>
          <div class="textblock">
            <h6>
              <span
                  data-ng-show="lang == 'en'"
                  >
                No registration needed
              </span>
              <span
                  data-ng-show="lang == 'de'"
                  >
                Keine Registrierung erforderlich
              </span>
              <span
                  data-ng-show="lang == 'it'"
                  >
                Senza bisogno di registrarsi
              </span>
              <span
                  data-ng-show="lang == 'fr'"
                  >
                No registration needed
              </span>
            </h6>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <span class="listicon"></span>
          <div class="textblock">
            <h6>
              <span
                  data-ng-show="lang == 'en'"
                  >
                Compare and find activities in your area and around the world
              </span>
              <span
                  data-ng-show="lang == 'de'"
                  >
                Vergleich und finde Aktivitäten in Deiner Umgebung und auf der ganzen Welt
              </span>
              <span
                  data-ng-show="lang == 'it'"
                  >
                Trova e confronta attività nel tuo paese e nel mondo
              </span>
              <span
                  data-ng-show="lang == 'fr'"
                  >
                Trouvez et comparez les activités dans ton pays et dans le monde
              </span>
            </h6>
          </div>
        </div>
        <div class="col-md-4">
          <span class="listicon"></span>
          <div class="textblock">
            <h6>
              <span
                  data-ng-show="lang == 'en'"
                  >
                Simple and instant booking process
              </span>
              <span
                  data-ng-show="lang == 'de'"
                  >
                Einfache und schnelle Buchung
              </span>
              <span
                  data-ng-show="lang == 'it'"
                  >
                Prenotazione semplice e istantanea
              </span>
              <span
                  data-ng-show="lang == 'fr'"
                  >
                Réservation simple et instantanée
              </span>
            </h6>
          </div>
        </div>
        <div class="col-md-4">
          <span class="listicon"></span>
          <div class="textblock">
            <h6>
              <span
                  data-ng-show="lang == 'en'"
                  >
                Best Price guaranteed!
              </span>
              <span
                  data-ng-show="lang == 'de'"
                  >
                Günstigster Preis garantiert!
              </span>
              <span
                  data-ng-show="lang == 'it'"
                  >
                Miglior prezzo garantito
              </span>
              <span
                  data-ng-show="lang == 'fr'"
                  >
                Meilleur tarif garanti
              </span>
            </h6>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <span class="listicon"></span>
          <div class="textblock">
            <h6>
              <span
                  data-ng-show="lang == 'en'"
                  >
                24h Support
              </span>
              <span
                  data-ng-show="lang == 'de'"
                  >
                24h Support
              </span>
              <span
                  data-ng-show="lang == 'it'"
                  >
                Supporto 24ore su 24
              </span>
              <span
                  data-ng-show="lang == 'fr'"
                  >
                Aide 24h dur 24
              </span>
            </h6>
          </div>
        </div>
        <div class="col-md-8">
          <h3 class="align-right">
            {{ 'get active' | translate }}
          </h3>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row row-large">
      <div class="col-sm-12 align-center">
        <h4>
          <span
              data-ng-show="lang == 'en'"
              >
            We help you
            <u>find, compare and book YOUR activity</u>
            nearby in only a few seconds.
          </span>
          <span
              data-ng-show="lang == 'de'"
              >
            Wir helfen Dir
            <u>Deine Aktivität</u>
            in Sekunden
            <u>zu finden, zu vergleichen und zu buchen!</u>
            Von der Couch aufs Surfbrett in wenigen Klicks!
          </span>
          <span
              data-ng-show="lang == 'it'"
              >
            Ti aiutiamo a
            <u>trovare, paragonare e prenotare la tua attività</u>
            nelle vicinanze in pochi secondi.
          </span>
          <span
              data-ng-show="lang == 'fr'"
              >
            Nous Vous aidons à
            <u>trouver, comparer et réserver l’activité</u>
            en quelques secondes.
          </span>

        </h4>
        <a ng-href="/#/"
           class="btn btn-large"
            >
          {{ 'Find your activity' | translate }}
        </a>
      </div>
    </div>
  </div>

</div>
