<div data-ng-controller="WorkwithusCtrl">

  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h2>reActure – {{ 'Work with us' | translate }}!</h2>
      </div>
    </div>
  </div>

  <div class="teaserbox teaserbox-fullimg-txt">
    <img src="/img/responsiveimages/teaserimage_quad.jpg"/>
    <div class="outerwrap">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-md-offset-6 textblock">
            <p class="preface">
              <span
                  data-ng-show="lang == 'en'"
                  >
                You are a tour guide in Paris? You rent out Quads in Asti? You´re having a small dance festival
                organized in Nevada? Yoga, Pilates, Kapuera? Want to show the world your cooking skills? Or is
                downhill racing
                the main interest in your life?
              </span>
              <span
                  data-ng-show="lang == 'de'"
                  >
                Du hast eine Skischule in St. Moritz? Du organisierst Hundeschlittenrennen in Deutschland? Du bietest Kurse an – Yoga, Pilates, Kapuera? Du kennst die besten Downhill-Strecken? Für alle Profi s und Anbieter!

              </span>
              <span
                  data-ng-show="lang == 'it'"
                  >
                Sei una guida a parigi? Noleggi quad ad Asti? Stai organizzando un festival in Nevada? Yoga, Pilates,
                Kapuera? Vuoi mostrare al mondo le tue abilità culinarie? O è la mountain bike il tuo interesse
                principale?
              </span>
              <span
                  data-ng-show="lang == 'fr'"
                  >
                Vous êtes une guide à Paris? Vous louer des quad à Asti? Vous êtes en train d’organiser un festival au
                Nevada? Yoga, Pilates, Kapuera? Vous désirez faire connaitre au monde vos habilités culinaires?
              </span>
            </p>

            <a ng-href="#/registration/registrationforproviders"
               class="btn btn-large btn-negative"
                >
              <span
                  data-ng-show="lang == 'en'"
                  >
                Be part of our startup!
              </span>
              <span
                  data-ng-show="lang == 'de'"
                  >
                Registriere Dich jetzt!
              </span>
              <span
                  data-ng-show="lang == 'it'"
                  >
                Prendi parte alla nostra nuova impresa!
              </span>
              <span
                  data-ng-show="lang == 'fr'"
                  >
                Prenez parti à notre entreprise!
              </span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="teaserbox teaserbox-mapdesign">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <span class="listicon"></span>
          <div class="textblock">
            <h6>
              <span
                  data-ng-show="lang == 'en'"
                  >
                Simple, quick and free registration
              </span>
              <span
                  data-ng-show="lang == 'de'"
                  >
                Einfache, schnelle und kostenlose Registrierung
              </span>
              <span
                  data-ng-show="lang == 'it'"
                  >
                Registrazione semplice, veloce e gratuita
              </span>
              <span
                  data-ng-show="lang == 'fr'"
                  >
                Enregistrement simple, vite et gratuit.
              </span>
            </h6>

            <p>
              <span
                  data-ng-show="lang == 'en'"
                  >
                Registration is easy and takes only a few minutes. Get in touch with millions of potential customers.
                <a ng-href="#/registration/registrationforproviders">
                  Register now!
                </a>
              </span>
              <span
                  data-ng-show="lang == 'de'"
                  >
                Die Registrierung dauert nur wenige Minuten und ist absolut kostenlos.
                <a ng-href="#/registration/registrationforproviders">
                  Registriere Dich jetzt!
                </a>
              </span>
              <span
                  data-ng-show="lang == 'it'"
                  >
                La Registrazione è semplice e richiede solo qualche minuto. Prendi contatto con milioni di potenziali
                clienti.
                <a ng-href="#/registration/registrationforproviders">
                  Registrati ora!
                </a>
              </span>
              <span
                  data-ng-show="lang == 'fr'"
                  >
                L’enregistrement dure seulement quelques minutes. Prenez contact avec beaucoup de clients potentiels.
                <a ng-href="#/registration/registrationforproviders">
                  Enregistrez-Vous maintenant!
                </a>
              </span>

            </p>
          </div>
        </div>
        <div class="col-md-4">
          <span class="listicon"></span>
          <div class="textblock">
            <h6>
              <span
                  data-ng-show="lang == 'en'"
                  >
                Increase visibility online
              </span>
              <span
                  data-ng-show="lang == 'de'"
                  >
                Erhöhe Deine Sichtbarkeit online
              </span>
              <span
                  data-ng-show="lang == 'it'"
                  >
                Aumenta la visibilità online
              </span>
              <span
                  data-ng-show="lang == 'fr'"
                  >
                Augmentez Votre visibilité sur internet!
              </span>
            </h6>

            <p>
              <span
                  data-ng-show="lang == 'en'"
                  >
                Make people in your area aware of your activity. Be visible!
              </span>
              <span
                  data-ng-show="lang == 'de'"
                  >
                Deine angebotene Aktivität wird von Menschen in Deiner Umgebung leicht gefunden. Sei sichtbar!
              </span>
              <span
                  data-ng-show="lang == 'it'"
                  >
                Fatti conoscere anche dalle persone che abitano vicino a te. Sii visibile!
              </span>
              <span
                  data-ng-show="lang == 'fr'"
                  >
                Soyez visible même aux personnes qui habitent à coté de Vous.
              </span>
            </p>
          </div>
        </div>
        <div class="col-md-4">
          <span class="listicon"></span>
          <div class="textblock">
            <h6>
              <span
                  data-ng-show="lang == 'en'"
                  >
                Get instant bookings in your area
              </span>
              <span
                  data-ng-show="lang == 'de'"
                  >
                Erhalte sofort Buchungen von Touristen und Menschen aus Deiner Umgebung.
              </span>
              <span
                  data-ng-show="lang == 'it'"
                  >
                Ricevi prenotazioni istantanee nella tua area
              </span>
              <span
                  data-ng-show="lang == 'fr'"
                  >
                Recevez des réservation instantanées
              </span>
            </h6>

            <p>
              <span
                  data-ng-show="lang == 'en'"
                  >
                Customers can book your offer instantly. Increase your bookings!
              </span>
              <span
                  data-ng-show="lang == 'de'"
                  >
                Deine Kunden können Dich sofort finden und gleich buchen - Instant. Wachse mit uns!
              </span>
              <span
                  data-ng-show="lang == 'it'"
                  >
                I clienti possono prenotare la tua offerta istantaneamente. Aumenta le tue prenotazioni!
              </span>
              <span
                  data-ng-show="lang == 'fr'"
                  >
                Les clients peuvent réserver Votre offre instantanément. Augmentez Vos réservations!
              </span>
            </p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <span class="listicon"></span>
          <div class="textblock">
            <h6>
              <span
                  data-ng-show="lang == 'en'"
                  >
                Easy to manage system
              </span>
              <span
                  data-ng-show="lang == 'de'"
                  >
                Einfache Verwaltung Ihres Eintrages
              </span>
              <span
                  data-ng-show="lang == 'it'"
                  >
                Sistema facile da gestire
              </span>
              <span
                  data-ng-show="lang == 'fr'"
                  >
                Système facile à gérer
              </span>
            </h6>

            <p>
              <span
                  data-ng-show="lang == 'en'"
                  >
                You don´t have to be an IT crack to use our service. Try it out!
              </span>
              <span
                  data-ng-show="lang == 'de'"
                  >
                Du must kein IT-Profi sein, um unser Service zu nutzen! Probier‘s aus!
              </span>
              <span
                  data-ng-show="lang == 'it'"
                  >
                Non è necessario essere un esperto informatico per utilizzare i nostri servizi.
              </span>
              <span
                  data-ng-show="lang == 'fr'"
                  >
                Ce n’est pas nécessaire d’être un pro avec Internet pour utiliser tous nos services.
              </span>
            </p>
          </div>
        </div>
        <div class="col-md-4">
          <span class="listicon"></span>
          <div class="textblock">
            <h6>
              <span
                  data-ng-show="lang == 'en'"
                  >
                Comission based model
              </span>
              <span
                  data-ng-show="lang == 'de'"
                  >
                Wir verdienen nur wenn Du verdienst!
              </span>
              <span
                  data-ng-show="lang == 'it'"
                  >
                La pubblicità sul sito è gratuita!
              </span>
              <span
                  data-ng-show="lang == 'fr'"
                  >
                La publicité sur le site est gratuite!
              </span>
            </h6>

            <p>
              <span
                  data-ng-show="lang == 'en'"
                  >
                We don´t charge anything for advertising your activity! We only gain when you gain. In other words:
                Let´s work together!
              </span>
              <span
                  data-ng-show="lang == 'de'"
                  >
                Die Registrierung und auch die Werbung für Dein Unternehmen sind absolut kostenlos. Wir verdienen nur, wenn Du verdienst! In kurzen Worten: Lass uns zusammenarbeiten.
              </span>
              <span
                  data-ng-show="lang == 'it'"
                  >
                Guadagniamo solo se guadagni anche tu. In poche parole: lavoriamo insieme!
              </span>
              <span
                  data-ng-show="lang == 'fr'"
                  >
                Nous gagnons seulement si Vous gagnez. Nous travaillons ensemble!
              </span>
            </p>
          </div>
        </div>
        <div class="col-md-4">
          <h3 class="align-right">
            {{ 'get active' | translate }}
          </h3>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row row-large">
      <div class="col-sm-12 align-center">
        <h4>
          <span
              data-ng-show="lang == 'en'"
              >
            Get in touch with
            <u>millions of tourists and locals</u>
            in your area!
          </span>
          <span
              data-ng-show="lang == 'de'"
              >
            Erreiche
            <u>millionen von Touristen und Einheimischen</u>
            in Deiner Umgebung!

          </span>
          <span
              data-ng-show="lang == 'it'"
              >
            Mettiti in contatto
            <u>con milioni di turisti e gente</u>
            nella tua zona!

          </span>
          <span
              data-ng-show="lang == 'fr'"
              >
            Get in touch with
            <u>millions of tourists and locals</u>
            in your area!

          </span>
        </h4>
        <a ng-href="#/registration/registrationforproviders"
           class="btn btn-large"
            >
          <span
              data-ng-show="lang == 'en'"
              >
            Register as activity provider now!
          </span>
          <span
              data-ng-show="lang == 'de'"
              >
            Registrier Dich jetzt als Aktivitätenanbieter!
          </span>
          <span
              data-ng-show="lang == 'it'"
              >
            Registrati come fornitore di attività ora!
          </span>
          <span
              data-ng-show="lang == 'fr'"
              >
            Register as activity provider now!
          </span>
        </a>
      </div>
    </div>
  </div>
</div>
