<div class="plan_detail" ng-class="{uploadcompleted: plan.uploadcompleted}">

<!--Planname-->
<div class="detail_header " ng-class="{edit_detail_header: editplannameflag}" ng-controller="EditPlanNameCtrl">
  <div ng-hide="editplannameflag">
    <span class="name">{{plan.name}}, </span>
    <span class="plancontent">{{plan.content}}</span>
    <a class="edit" ng-click="editPlanName()">ändern</a>
  </div>

  <form ng-show="editplannameflag" name="editPlanNameValForm"
        novalidate
        ui-keypress="{27: 'editPlanNameCancel()'}"
        ui-keypress="{13:'updatePlanName()'}">

    <div class="input_wrap">
      <label for="plannummer">Plannummer:</label>
      <input type="text" ng-model="plan.name" name="name" placeholder="Plannummer" id="plannummer" required/>
      <span ng-if="planform.nameerror && !plan.name" class="alert">
        Bitte tragen Sie eine Plannummer ein
      </span>
    </div>

    <div class="input_wrap last">
      <label for="planinhalt">Planinhalt:</label>
      <input type="text" ng-model="plan.content" name="content" placeholder="Planinhalt" id="planinhalt" required/>
      <span ng-if="planform.contenterror && !plan.content" class="alert">
        Bitte tragen Sie einen Plantitel ein
      </span>
    </div>

    <div class="buttonbar">
      <button class="confirm" ng-click="updatePlanName()"
              ng-disabled="editPlanNameValForm.$invalid">speichern
      </button>
      <a class="cancel" ng-click="editPlanNameCancel()">abbrechen</a>
    </div>

  </form>

</div>
<!--Planname-->

<!--phases-->
<div class="phases_wrap">

  <!-- PlanPhaseEdit -->
  <div ng-show="phase.edit">
    <div class="phases">
      <span class="phase" ng-repeat="phasetag in currentproject.phasetags.at"
            ng-class="{selected: phase.tag === {{$index}}}" ng-click="setPhaseTagIndex($index)">
        <span class="checkbox_phase"></span> {{phasetag.label}}</span>
    </div>
    <div class="buttonbar">
      <button ng-click="updateplanphase.requestInProgress || updatePlanPhase()">speichern</button>
      <a class="cancel" ng-click="cancelUpdatePlanPhase()">abbrechen</a>
    </div>
  </div>
  <!-- /PlanPhaseEdit -->

  <!-- PlanPhaseSelected -->
  <div class="phase_selected" ng-hide="phase.edit">
    <h4>{{getPhaseTagLabel(plan.phasetag)}}</h4>

    <a class="edit" ng-click="phase.edit = true">ändern</a>
  </div>
  <!-- / PlanPhaseSelected -->

</div>
<!--phases-->

<!--upload new revision-->
<div class="uploadnewrevision_wrap" ng-controller="NewRevisionCtrl">

  <button ng-click="openUploadRevisionDialog();" ng-hide="showuploadrevisiondialog">Neue Revision
    erstellen
  </button>

  <div ng-switch="showuploadrevisiondialog">

    <!--ng-switch is a hack to force reset of all child elements and scopes-->
    <div ng-switch-when="true">

      <div class="uploadnewrevision">
        <form name="valFormNewRevision"
              class="newrevisionform"
              novalidate
              ui-keyup="{27: 'cancel()'}">

          <div data-ng-include="'projects/plans/plan_uploadpartial.tpl.html'"></div>
          <div class="buttonbar">

            <a class="submit button button-spinner"
               ui-keypress="{13:'addrevision.requestInProgress || addRevision(valFormNewRevision.$valid)'}"
               ng-click="addrevision.requestInProgress || addRevision(valFormNewRevision.$valid)"
               ng-class="{disabled: !valFormNewRevision.$valid || !fileuploadcheck.uploaded || addrevision.requestInProgress}"
                >

              <div ng-hide="addrevision.requestInProgress">Revision speichern</div>
              <div class="spinner-wrap" ng-show="addrevision.requestInProgress">
                <div spinner spinnertext="Revision wird gespeichert …" spinnercolor="#ffffff"></div>
              </div>
            </a>

            <a class="text_link"
               data-ng-click="closeUploadRevisionDialog()"
               ng-hide="addrevision.requestInProgress"
                >
              abbrechen
            </a>

          </div>
        </form>
      </div>

    </div>
    <!--ng-switch-when-->
  </div>
  <!--ng-switch-->

</div>
<!--upload new revision-->

<!-- object .planrevision -->
<div class="planrevision detail_body">
  <div class="detail_body_innerwrap">

    <div
        ng-repeat="revision in plan.revisions | orderBy:'created':!reverse "
        ng-show="$first">
      <div class="table detail_body_content" data-ng-include="'projects/plans/_plans_detail_detail_revisioncontent.tpl.html'"></div>
    </div>
    <!--object .planmailer-->
    <div class="planmailer" ng-class="{open: bksendplan.toggle === true}">

      <div class="planmailer_button_wrap">
        <a ng-click="bksendplan.toggle = !bksendplan.toggle;"> Plan versenden</a>
      </div>

      <div class="planmailer_content"
           ng-show="bksendplan.toggle && (!emailWasSent.message || emailWasSent.message.length == 0)">
        <form name="mailForm" id="mailForm"
              ui-keypress="{13:'sendrevision.requestInProgress || sendRevision(plan.getGetLatestRevision())'}">
          <div class="table">

            <div class="table_cell left planmailer_participants">
              <h5>An Projekt-Beteiligte:</h5>

              <label class="checkbox" ng-repeat="participant in currentproject.participants | filter: isNotSilentUser" ng-class="{disabled : participant.enabled === false}">
                <input type="checkbox" ng-click="toggleReceiver(participant.user.email)" ng-disabled="participant.enabled === false"/>
                <span class="icon_state" ng-show="participant.enabled === false"></span>
                <span class="planmailer_participant">
                  <div fullname user="participant.user" donotlink="true" alwaysshowemail="true"></div>

                  <div class="role_tag" ng-repeat="role in participant.roles">{{role.role}}</div>

                </span>
              </label>

            </div>
            <div class="table_cell right planmailer_emails_add">
              <h5>An externe E-Mail Adressen:</h5>

              <label class="checkbox" ng-repeat="participant in currentproject.participants | filter: isSilentUser"
                     ng-hide="hide[participant.user.email]">
                <input type="checkbox" ng-click="toggleReceiver(participant.user.email)"/>
                <span class="planmailer_participant">
                  {{participant.user.email}}
                </span>
                <!--<a class="delete" ng-click="removeFromView(participant.user.email)"><span>entfernen</span></a>-->
              </label>

              <label class="checkbox" ng-repeat="emailAddress in emailAddresses.list">
                <input type="checkbox" ng-click="toggleReceiver(emailAddress)"
                       ng-checked="checkCheckboxOf.list.indexOf(emailAddress) !== -1"/>
                <span class="planmailer_participant">
                  {{emailAddress}}
                </span>
                <a class="delete" ng-click="toggleReceiver(emailAddress);removeFromView(emailAddress);">
                  <span>entfernen</span>
                </a>
              </label>

              <div class="form-inline planmailer_email_add">
                <input type="email" ng-model="email.address" name="email" required
                       ui-keypress="{13:'mailForm.email.$invalid || addEmailAddress(email.address); $event.stopPropagation();'}"/>

                <a class="add" ng-click="mailForm.email.$invalid || addEmailAddress(email.address)"
                   ng-class="{invalid : mailForm.email.$invalid}">
                  <span>hinzufügen</span>
                </a>

                <span ng-model="email.error" class="alert alert-error"
                      ng-show="!mailForm.email.$pristine && mailForm.email.$valid === false && mailForm.email.$error.required === false">
                  <div data-ng-switch="email.error">
                    <div ng-switch-when="invalidAddress">
                      Bitte geben Sie eine gültige E-Mail Adresse ein.
                    </div>
                    <div ng-switch-when="addressExists">
                      Diese E-Mail Adresse wurde bereits hinzugefügt.
                    </div>
                  </div>
                </span>
                <span class="alert" ng-show="!mailForm.email.$pristine && mailForm.email.$error.required === true">Bitte füllen Sie dieses Feld aus.</span>

              </div>

            </div>
          </div>

          <div class="alert alert-block alert-norecipienterror" ng-show="sendrevision.norecipienterror && sendTo.list.length == 0">
            Sie haben noch noch keinen Plan-Empfänger ausgewählt oder hinzugefügt.
          </div>

          <div class="buttonbar">

            <a class="button button-spinner"
               ng-class="{disabled: sendrevision.requestInProgress || emailAddresses.list.length === 0 && sendTo.list.length == 0}"
               ng-click="sendRevision(plan.getGetLatestRevision())"
                >
              <div ng-hide="sendrevision.requestInProgress">Senden</div>
              <div class="spinner-wrap" ng-show="sendrevision.requestInProgress">
                <div spinner spinnertext="Plan wird versendet …" spinnercolor="#ffffff"></div>
              </div>
            </a>

            <a class="cancel"
               ng-click="closeMailForm()"
               ng-hide="sendrevision.requestInProgress"
                >abbrechen</a>
          </div>
        </form>
      </div>

      <div class="afterSendingMessageBox" ng-show="emailWasSent.message">

        <div ng-hide="emailWasSent.error" class="alert alert-success alert-large">
          <div ng-switch="emailWasSent.message">
            <div ng-switch-when="sentSuccess">Die Revision wurde erfolgreich an

              <strong>
              <span ng-repeat="recipient in showReceivers.list">
                <span ng-show="showReceivers.list.length > 1 && $index === (showReceivers.list.length - 1) "><span style="font-weight:normal;">und</span></span>
                <div fullname user="recipient" donotlink="true"></div>
                <span ng-show="$index < showReceivers.list.length - 2"><span style="font-weight:normal;">,</span></span>
              </span>
              </strong>

              versendet.
            </div>
          </div>
        </div>

        <div ng-show="emailWasSent.error" class="alert alert-error alert-large">

          <div ng-switch="emailWasSent.message">
            <div ng-switch-when="error">Es gab einen Fehler beim Versenden der Revision.</div>
          </div>

          <div ng-if="emailWasSent.sendErrors && emailWasSent.sendErrors.length > 0">

            <div ng-repeat="error in emailWasSent.sendErrors">
              <span ng-if="error.code === 406">
                An die E-Mail Adresse {{error.email}} kann kein E-Mail versendet werden, da sie keine Mails akzeptiert.
              </span>
              <span ng-if="error.code !== 406">
                Es gab ein Problem beim Senden an {{error.email}}.
              </span>
            </div>

          </div>

          <div ng-switch="emailWasSent.message">
            <div ng-switch-when="error">Es gab einen Fehler beim Versenden der Revision.</div>
          </div>

        </div>

        <div class="buttonbar">
          <a class="text_icon_close" ng-click="emailWasSent.message = ''; bksendplan.toggle = false;">schließen
            <span></span>
          </a>
        </div>
      </div>

    </div>
    <!--planmailer-->

  </div>
</div>
<!-- .planrevision -->

<!-- old planrevisions-->
<div class="planrevisions">

  <div class="no-revisions" ng-show="plan.revisions.length < 2">
    <h4>Es sind keine alten Planrevisionen vorhanden.</h4>
  </div>

  <div class="revisions" ng-show="plan.revisions.length > 1">
    <h4>Alte Planrevisionen:</h4>
  </div>

  <div class="oldplanrevisions_wrap" ng-show="plan.revisions.length > 1">
    <div class="revision_toggle inactive" ng-hide="showallrevisionsflag">
      <a ng-click="showAllRevisions()">Revisionen anzeigen<b class="caret"></b></a>
    </div>
    <div class="revision_toggle active" ng-show="showallrevisionsflag">
      <a ng-click="hideAllRevisions()">Revisionen verstecken<b class="caret"></b></a>
    </div>

    <!-- .oldplanrevisions_list -->
    <div class="oldplanrevisions_list">

      <div class="oldplanrevisions_wrap" ng-show="showallrevisionsflag">

        <!-- .oldplanrevisions_list -->
        <div class="oldplanrevisions_list">

          <!-- object .planrevision -->
          <div class="planrevision detail_body old"
               ng-repeat="revision in plan.revisions | orderBy:'created':!reverse "
               ng-hide="$first">
            <div class="detail_body_innerwrap">
              <div class="table detail_body_content" data-ng-include="'projects/plans/_plans_detail_detail_revisioncontent.tpl.html'"></div>
            </div>
          </div>
          <!-- .planrevision -->

        </div>
        <!-- .planrevision -->

      </div>
      <!-- .oldplanrevisions_list -->
    </div>
  </div>
</div>

<!--old planrevisions-->


<div class="buttonbar align-left">
  <a ng-click="navigateToPlanList()">
    zurück zur Listenansicht
  </a>
</div>

</div>