@import "lib/_3_mixins_class";

// PAGE ELEMENTS
// ###########################################################################################################################
// ###########################################################################################################################
// ###########################################################################################################################


body{
  position: relative;
}

header{
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1000;
  //@include box-shadow_2px;
  padding: 0 10px;
  min-width: $min-width-xxs;

  height: 50px;
}

footer{
  position: relative;
  min-width: $min-width-xxs;
  p{
    padding-bottom: 0;
  }
}

// MAP ELEMENTS
// ###########################################################################################################################

.angular-google-map-container {
  position: absolute;
  width: 100%;
  height: 100%;
//  top:0;
//  bottom:0;
//  left:0;
//  right:0;
  @include box-sizing(border-box);
}

.controlpanel{
  @include box-sizing(border-box);
  padding: $bu*2.0;
  width: 350px;
  float: left;
  background-color: $color_white;
  h2{
    margin: $bu 0;
  }
}

.map-wrap{
  position: relative;
  overflow: hidden;
  display: block;

  height:100%;

  // setting the height is necessary to avoid a bug of angularmap on route change
  // when switching back from another route, height is initialized with 0
//  height:1500px;
//
//  @include respond-to(high-screen){
//    height:2000px;
//  }
//  @include respond-to(medium-height-screen){
//    height:1250px;
//  }
//  @include respond-to(low-screen){
//    height:600px;
//  }
}

.marker-labels {
  padding: 2px 4px;
  @include border-radius($border-radius_small);
  @include border_all($color_grey_25);
  color: $color_text;
  background-color: white;
  @include font-size_small;
  white-space: nowrap;
}

.marker-label-category-sports{
  color: $color_sports;
}

.marker-label-category-culture{
  color: $color_culture;
}

.marker-label-category-wellness{
  color: $color_wellness;
}


@mixin window-category{
  padding: 15px 0;
  a.btn{
    .gm-style-iw &{
      font-size: 16px;
    }
  }
  p{
    font-family: $sysfont_01;
    font-size: $fs;
    line-height: $fs*$line-height_factor;
    margin: 0;
    font-weight: normal;
  }
  h4{
    color: $color_grey;
    margin-top: 0;
    padding-bottom: 5px;
    @include seperator(bottom, $color_main_seperator);
    .icon{
      display: inline-block;
      width: 20px;
      height: 20px;
      @include border-radius(10px);
      @include border_all($color_grey);
      border-width: 3px;
      margin-right: 5px;
    }
  }
}

.window-category-sports{
  @include window-category;
  h4{
//    color: $color_sports;
    .icon{
      border-color: $color_sports;
    }
  }
}

.window-category-culture{
  @include window-category;
  h4{
//    color: $color_culture;
    .icon{
      border-color: $color_culture;
    }
  }
}

.window-category-wellness{
  @include window-category;
  h4{
//    color: $color_wellness;
    .icon{
      border-color: $color_wellness;
    }
  }
}





// CONTENT ELEMENTS
// ###########################################################################################################################
// ###########################################################################################################################
// ###########################################################################################################################



#logo{
  display:block;
  margin: $fs*1.5 0;
  span{
    display: none;
  }
  width: 243px;
  height: 96px;
  background: url(#{$img_path}reacture_logo.svg) no-repeat 0 0;
}


.image-expand{
  margin: 15px -15px;
}


.no-margin-bottom{
  margin-bottom: 0;
}
.no-padding-bottom{
  padding-bottom: 0;
}
.no-margin-top{
  margin-top: 0;
}
.no-padding-top{
  padding-top: 0;
}


.social-bar{
  position: absolute;
  top: 15px;
  right: 15px;
}

.social-icon{
  display: inline-block;
  width: 35px;
  height: 35px;
  @include sprite_icons(-200px, -51px, no-repeat);
  span{
    display: none;
  }
}

.social-twitter{
  background-position: -200px -50px;
  &:hover{
    background-position: -200px -100px;
  }
}
.social-facebook{
  background-position: -234px -50px;
  &:hover{
    background-position: -234px -100px;
  }
}


// META NAVIGATION
// ###########################################################################################################################
// ###########################################################################################################################
.nav-meta{
  @include tmenu_class;
  ul{
    li{
      display: inline-block;
      padding: 5px;
      a{
        color: $color_footer_link;
        span{
        }
        &:hover{
          color: $color_footer_link_hover;
          span{
          }
        }
      }

      &.active{// li.active
        a{
          color: $color_footer_link_active;
          span{
          }
          &:hover{
            color: $color_footer_link_active_hover;
            span{
            }
          }
        }
      }
    }// li 1
  }
}//.nav-meta



// IN-PAGE NAVIGATION
// ###########################################################################################################################
// ###########################################################################################################################
.nav-inpage{
  @include tmenu_class;
  margin: $fs*4.0 0;
  text-align: center;
  font-size: 18px;
  line-height: 18px*$line-height_factor;
  ul{
    li{
      display: inline-block;
      padding: 5px 15px;
      a{
        @include sprite_icons(-275px, -151px, no-repeat);
        span{
          padding-left: 28px;
        }
        &:hover{
          span{
          }
        }
      }

      &.active{// li.active
        display: none;
      }
    }// li 1
  }
}//.nav-meta



// MAIN NAVIGATION
// ###########################################################################################################################
// ###########################################################################################################################

.nav-header{
  float: left;
  .btn{
    display: none;
  }
  @include respond-to(screen-nocols){
    width: 100%;
    .btn{
      display: block;
      position: absolute;
      right: 60px;
      top: 13px;
    }
  }
}

.nav-logo{
  float: left;
  a{
    //@include logo-monochrome;
    display: block;
    padding: 15px 15px 13px;
    background-color: $color_nav1_background;
    i{
      width: 24px;
      background-position: -275px 0;
    }
    &:hover{
      background-color: $color_nav1_background_hover;
    }
  }
  @include respond-to(screen-nocols){
    margin-left: -10px;
    a{
      i{
        width: 100px;
        background-position: -200px 0;
      }
    }
  }
}

.nav-toggle-btn{
  display: none;
  padding: 13px 5px;
  a{
    display: block;
    width: 30px;
    height: 24px;
    float: right;
    background-color: $color_grey_50;
    @include border-radius($border-radius_small);
    @include sprite_icons(-244px,-19px, no-repeat);
    &:hover{
      background-color: $color_grey_50_l5;
    }
    span{
      display: none;
    }
  }
  @include respond-to(screen-nocols){
    display: block;
  }
}

.nav-main {
  @include tmenu_class;
  background-color: $color_nav1_background;

  ul{
    li{
      float:left;
      a{
        color: $color_nav1_link;
        text-decoration: none;
        span{
          margin: 15px;
          line-height: 20px;
        }
      &:hover{
        color: $color_nav1_link_hover;
        span{
        }
      }
      &.btn{
        margin: 13px 15px 10px;
        span{
          margin: 0;
          line-height: 100%;
        }
      }
      }

    &.active{// li.active
      a{
        color: $color_nav1_link_active;
        span{
        }
      &:hover{
        color: $color_nav1_link_active_hover;
        span{
        }
      }
      }
    }

    &.current{// li.current
      a{
        color: $color_nav1_link_active;
        span{
        }
      &:hover{
        color: $color_nav1_link_active;
        span{
        }
      }
      }
    }
    }// li 1
  }// ul 1

  @include respond-to(screen-nocols){
    display: none;
    &.open{
      display: block;
    }
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    min-width: $min-width-xxs;
    @include box-shadow_2px;
    ul{
      li{
        float: none;
        @include border(top, $color_grey_15);
        a.btn{
          padding: ($fs*0.25) ($fs*1.0);
          font-size: 16px;
          text-align: center;
        }
      }
    }
  }
}//.nav-main

.nav-right{
  float: right;
  @include respond-to(screen-nocols){
    .nav-main &{
      display: none;
    }
    float: none;
  }
}



// SUBMENU
// ###########################################################################################################################
// ###########################################################################################################################
.nav-sub{
  @include tmenu_class;
  @include seperator(bottom, $color_nav2_level01_border);
  margin-bottom: $fs*2.0;

  .current, .currentandsub{
    a:link, a:visited, a:hover{
      background-color: transparent;
      span{
        color: $color_nav2_level01_link_current;
      }
    }

    li{// levels after
      a:link, a:visited{
        background-color: $color_nav2_level01_background;
        span{
          color: $color_nav2_level02_link;
        }
        &:hover{
          background-color: $color_nav2_level01_background_hover;
          span{
            color: $color_nav2_level02_link_hover;
          }
        }
      }
    }
  }

// level 01
// ---------------------------------------------------------------------------------------------------------------------------
  ul{
    li{
      @include border(top, $color_nav2_level01_border);
      a{
        display: block;

        &:link, &:visited{
          span{
            color: $color_nav2_level01_link;
          }
        }

        &:hover{
          background-color: $color_nav2_level01_background_hover;
          span{
            color: $color_nav2_level01_link_hover;
          }
        }
        span{
          margin: ($fs*0.5) ($fs*0.5);
          color: $color_nav2_link;
        }
      }

    &.current{// li.current
      a{
        span{
          color: $color_header_link_active;
        }
      }
    }// li.current

    &.hassub{
      a{
        span{
        }
      }

      li{
        a{
          span{
          }
        }
      }
    }//.hassub

    &.currentandsub{
      a{
        span{
        }
      }

      li{
        a{
          span{
          }
        }
      }
    }//.currentandsub

    &.activeandsub{
      a{
        span{
        }
      }

      li{
        a{
          span{
          }
        }
      }
    }//.activeandsub

// level 02
// ---------------------------------------------------------------------------------------------------------------------------
      ul{
        li{
          @include border(top, $color_nav2_level02_border);
          a{
            padding-left: $fs*0.5;

            &:link, &:visited{
              span{
                color: $color_nav2_level02_link;
              }
            }

            &:hover{
              span{
                color: $color_nav2_level01_link_hover;
              }
            }

            span{
              margin: ($fs*0.25) ($fs*0.5);
            }
          }

        &.current{// li.current
          a{
            span{
              color: $color_header_link_active;
            }
          }
        }// li.current

        &.hassub{
          a{
            span{
            }
          }

          li{
            a{
              span{
              }
            }
          }
        }//.hassub

        &.currentandsub{
          a{
            span{
            }
          }

          li{
            a{
              span{
              }
            }
          }
        }//.currentandsub

        &.activeandsub{
          a{
            span{
            }
          }

          li{
            a{
              span{
              }
            }
          }
        }//.activeandsub

// level 03
// ---------------------------------------------------------------------------------------------------------------------------
          ul{
            li{
              @include border(top, $color_nav2_level03_border);
              a{
                padding-left: $fs*1.0;
                span{
                }
              }
            }// li 3
          }// ul 3
        }// li 2
      }// ul 2
    }// li 1
  }// ul 1
}//nav-sub



// SITEMAP (CSC-SITEMAP)
// ###########################################################################################################################
// ###########################################################################################################################

.sitemap{

  // level 01
  // ---------------------------------------------------------------------------------------------------------------------------
  ul{
    @include ul-reset;
    li{
      @include li-reset;
      @include border_all($color_sitemap_level01_border);
      @include border-radius($border-radius_large);
      background-color: $color_sitemap_level01_background;
      margin-bottom: $fs*1.0;

      &:hover{
        background-color: $color_sitemap_level01_background_hover;
        border-color: $color_sitemap_level01_border_hover;
        a, a:link, a:visited{
          color: $color_sitemap_level01_text_hover;
        }
        li{// level 02
          a, a:link, a:visited{
            color: $color_sitemap_level02_text;
          }
        }
      }// li:hover

      a{
        display: block;
        padding: ($fs*0.50) ($fs*0.75);
        font-weight: bold;
        text-decoration: none;
      }
      a, a:link, a:visited{
        color: $color_sitemap_level01_text;
        &:hover{
          color: $color_sitemap_level01_text_hover;
        }
      }

      // level 02
      // ---------------------------------------------------------------------------------------------------------------------------
      ul{
        @include border-bottom-radius($border-radius_small);
        @include border-top-radius(0);
        @include ul-reset;
        li{
          clear: left;
          @include li-reset;
          border: none;
          @include border-radius(0);
          @include seperator(top, $color_sitemap_level02_border);
          background-color: $color_sitemap_level02_background;

          &:hover{
            background-color: $color_sitemap_level02_background_hover;
            border-color: $color_sitemap_level02_border;
            li{// level 03
              background-color: $color_sitemap_level03_background_hover;
              li{// level 04
                background-color: transparent;
              }
            }
          }

          &:first-child{
            border: none;
          }

          &:last-child{
            @include border-bottom-radius($border-radius-large - $border-width);
            @include border-top-radius(0);
          }

          a{
            padding: ($fs*0.5) ($fs*0.75);
            font-size: $fs;
            line-height: $fs*$line-height_factor;
            font-weight: normal;
          }
          a, a:link, a:visited{
            color: $color_sitemap_level02_text;
            &:hover{
              color: $color_sitemap_level02_text_hover;
            }
          }

          // level 03
          // ---------------------------------------------------------------------------------------------------------------------------
          ul{
            @include ul-reset;
            @include seperator(top, $color_sitemap_level03_border);
            margin: 0 ($fs*0.75);
            padding: ($fs*0.5) 0;

            li{
              @include li-reset;
              @include border-radius(#{$border-radius_small});
              display: inline-block;
              margin: 0 ($fs*0.5) ($fs*0.5) 0;
              background-color: $color_sitemap_level03_background;
              vertical-align: top;
              border: none;

              &:hover{
                background-color: $color_sitemap_level03_background_hover2;
                a, a:link, a:visited{
                  color: $color_sitemap_level03_text_hover;

                  &:hover{
                    color: $color_sitemap_level03_text_hover2;
                  }
                }
              }// li:hover

              &:last-child{
                @include border-radius(#{$border-radius_small});
              }

              a{
                width: auto;
                padding: ($fs*0.5) ($fs*0.75);
                @include font-size_small;
                font-weight: bold;
              }

              // level 04
              // ---------------------------------------------------------------------------------------------------------------------------
              ul{
                @include ul-reset;
                border: none;

                li{
                  @include li-reset;
                  @include border-radius(0);

                  &:hover{
                    background: transparent;
                  }// li:hover

                  &:first-child{
                    @include seperator(top, $color_sitemap_level04_border);
                  }

                  &:last-child{
                    @include border-radius(0);
                  }
                  a{
                    padding: ($fs*0.25) ($fs*0.75);
                    font-weight: normal;
                    font-style: italic;
                  }// li:first-child
                }// li 4
              }// ul 4
            }// li 3
          }// ul 3
        }// li 2
      }// ul 2
    }// li 1
  }// ul 1
}//.sitemap


$filter-category-arrow-width: 65px;


.filter-category{
  position: relative;
  z-index: 100;
  margin-right: -($filter-category-arrow-width + $bu*2.0);
  background-color: $color_white;
  margin-bottom: 10px;
  @include border-radius($border-radius);
  @include user-select(none);
  &.active{
    .filter-category-header{
      background-color: $color_grey;
      &:hover{
        background-color: $color_grey_l5;
      }
      p{
        color: $color_grey_15;
      }
    }
    .filter-category-body{
      border-color: $color_grey;
    }

// CATEGORY SPORTS

    &.filter-category-sports{
      .filter-category-arrow{
        background-color: $color_sports;
      }
      .filter-category-header:hover{
        .filter-category-arrow{
          background-color: $color_sports_l5;
        }
      }
      .filter-category-sub.selected{
        .checkbox{
          background-color: $color_sports;
        }
      }
    }

// CATEGORY SPORTS end

// CATEGORY CULTURE

    &.filter-category-culture{
      .filter-category-arrow{
        background-color: $color_culture;
      }
      .filter-category-header:hover{
        .filter-category-arrow{
          background-color: $color_culture_l5;
        }
      }
      .filter-category-sub.selected{
        .checkbox{
          background-color: $color_culture;
        }
      }
    }

// CATEGORY CULTURE end

// CATEGORY WELLNESS

    &.filter-category-wellness{
      .filter-category-arrow{
        background-color: $color_wellness;
      }
      .filter-category-header:hover{
        .filter-category-arrow{
          background-color: $color_wellness_l5;
        }
      }
      .filter-category-sub.selected{
        .checkbox{
          background-color: $color_wellness;
        }
      }
    }

// CATEGORY WELLNESS end


  }
  &.open{
    .filter-category-header{
      @include border-bottom-radius(0);
    }
    .filter-category-arrow{
      @include border-bottom-right-radius(0);
      span{
        @include transform(rotate(90deg));
      }
    }
    &.active{
      .filter-category-arrow{
        @include border-bottom-right-radius(0);
      }
    }
  }
  .filter-category-header{
    position: relative;
    @include box-sizing(border-box);
    background-color: $color_grey_50;
    padding: $bu/1.5 $bu;
    padding-right: $filter-category-arrow-width + $bu;
    min-height: $filter-category-arrow-width;
    @include border-radius($border-radius);
    h4{
      margin: 0;
      color: $color_white;
    }
    p{
      margin: 0;
      color: $color_grey;
      padding: 0;
    }
    .filter-category-arrow{
      position: absolute;
      top: 0;
      right: 0;
      width: $filter-category-arrow-width;
      height: 100%;
      @include border-right-radius($border-radius);
      span{
        display: block;
        margin-top: 20px;
        margin-left: 19px;
        width: 25px;
        height: 25px;
        @include sprite_icons(7px, -50px, no-repeat);
      }
    }
    &:hover{
      background-color: $color_grey_50_l5;
      @include cursor;
    }
  }
  .filter-category-body{
    .innerwrap{
      padding: $bu/1.5 $bu;
      @include border_all($color_grey_50);
      border-width: 2px;
      border-top: none;
      @include border-bottom-radius($border-radius);
    }
  }

  .filter-category-sub{
    color: $color_grey_50;
    padding-left: 23px;
    .checkbox{
      @include box-sizing(border-box);
      min-height: 0;
      width: 16px;
      height: 16px;
      padding: 0;
      background-color: $color_white;
      @include border_all($color_grey_25);
      @include border-radius($border-radius_small);
      border-width: 2px;
      vertical-align: -2px;
      margin-left: -23px;
      margin-right: 3px;
    }
    &:hover{
      color: $color_grey;
      @include cursor;
    }
    &.selected{
      color: $color_grey;
      .checkbox{
        border: none;
        @include sprite_icons(-47px, 3px, no-repeat);
      }
      &:hover{
        color: $color_grey_75;
      }
    }
  &.div-cell{
    width: 50%;
    padding-right: 15px;
    &:last-child{
      padding-right: 0;
    }
    padding-top: 2px;
    padding-bottom: 3px;
  }
  }

}

.filter-toggle{
  @include border_all($color_grey_50);
  border-width: 2px;
  overflow: hidden;
  @include border-radius($border-radius);
  .filter-toggle-show, .filter-toggle-hide{
    float: left;
    @include box-sizing(border-box);
    padding: 5px 10px;
    width: 50%;
    text-align: center;
    @include cursor;
    @include user-select(none);
    @include border(left, $color_grey_50);

    &:first-child{
      border-left: none;
    }

    &.active{
      color: $color_white;
      background-color: $color_green;
      cursor: default;
      &:hover{
        color: $color_white;
      }
    }
    &:hover{
      color: $color_grey_50;
    }
  }

  .filter-category-body &{
    border: none;
    @include border-radius(0);
    @include border(left, $color_grey_50);
    @include border(right, $color_grey_50);
    border-width: 2px;
    @include border(bottom, $color_grey_25);
    .filter-toggle-show, .filter-toggle-hide{
      border-color: $color_grey_25;
      &.active{
        background-color: $color_grey_25;
        color: $color_grey;
      }
    }
  }
}


.div-row{
  overflow: hidden;
}

.div-cell{
  display: inline;
  float: left;
}

.div-table{
  display: table;
  width: 100%;
}

.div-tablerow{
  display: table-row;
}

.div-tablecell{
  display: table-cell;
  width: 50%;
}



.nav-footer{
  background-color: $color_white;
  @include box-sizing(border-box);
  @include seperator(top, $color_footer_border);
  width: 350px;
  float: left;
  clear: both;
  padding: $bu;
}

.teaser-section{
  overflow: hidden;
}

.teaser-block{
  @include box-sizing(border-box);
  display: inline-block;
  float: left;
  @include seperator(left, $color_grey_50);
  background-color: $color_grey_75;
  padding: $bu;
  h4{
    margin: 0;
  }
  a, a:link{
    color: $color_grey_25;
    text-decoration: none;
    &:hover{
      color: $color_white;
    }
  }

  .footer-startpage &{
    height: $footer-startpage-height;
  }

  .teaser-section-2 &{
    width: 50%;
  }
}