@import "_4_mixins_customized";


html {
  // Prevent Firefox Scrollbar Jump - http://davidwalsh.name/css-enhancements-user-experience
  overflow-y: scroll;
  background: $color_background;

}//html


body{
  @include sysfont_01;
  background: $color_background;
  font-size: $fs;
  line-height: $fs*$line-height_factor;
  color: $color_text;
  min-width: 760px;

  //fix ios automatic font sizing
  //checkout http://stackoverflow.com/questions/6210788/how-to-avoid-ios-automatic-font-size-adjustment
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;


  @include respond-to(screen-md){
    font-size: $fs*$fs-md;
    line-height: $fs*$fs-md*$line-height_factor;
  }

  @include respond-to(screen-sm){
    font-size: $fs*$fs-sm;
    line-height: $fs*$fs-sm*$line-height_factor;
  }

  @include respond-to(screen-nocols){
    font-size: $fs*$fs-nocol;
    line-height: $fs*$fs-nocol*$line-height_factor;
  }

}//body



//for printing
@page{
  margin: 1.0cm 1.0cm 1.0cm 2.0cm;
}

/*
 * IE8 patches
 */
.lt-ie9 {
  input[type = file]{
    border: 2px solid $color_input_border;
    padding: $fs*0.25 $fs*0.50;
  }

  .container {
    width: 970px - 350px !important;
  }
  .col-sm-12, .col-sm-11, .col-sm-10, .col-sm-9, .col-sm-8, .col-sm-7, .col-sm-6, .col-sm-5, .col-sm-4, .col-sm-3, .col-sm-2, .col-sm-1{
    float: left;
  }
  .col-sm-7{
    width: 58.33333%;
  }
  .col-sm-5{
    width: 41.66667%;
  }
  .col-sm-6{
    width: 50%;
  }
  .col-sm-4{
    width: 33.33333%;
  }


}//.ie-lt9

/*
 * IE7 patches
 */
.ie-lt8 {

}//.ie-lt8



