@import "_4_mixins_customized";

html {
  // Prevent Firefox Scrollbar Jump - http://davidwalsh.name/css-enhancements-user-experience
  overflow-y: scroll;
  background: $color_background;

}

//html

body {
  @include sysfont_01;
  background: $color_background;
  font-size: $fs;
  line-height: $fs*$line-height_factor;
  color: $color_text;
  min-width: 760px;

  //fix ios automatic font sizing
  //checkout http://stackoverflow.com/questions/6210788/how-to-avoid-ios-automatic-font-size-adjustment
  -webkit-text-size-adjust: 100%;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  @include respond-to(screen-md) {
    font-size: $fs*$fs-md;
    line-height: $fs*$fs-md*$line-height_factor;
  }

  @include respond-to(screen-sm) {
    font-size: $fs*$fs-sm;
    line-height: $fs*$fs-sm*$line-height_factor;
  }

  @include respond-to(screen-nocols) {
    font-size: $fs*$fs-nocol;
    line-height: $fs*$fs-nocol*$line-height_factor;
  }

  @include respond-to(low-screen) {
    font-size: $fs*$fs-sm;
    line-height: $fs*$fs-sm*$line-height_factor;
  }

}

//body

//for printing
@page {
  margin: 1.0cm 1.0cm 1.0cm 2.0cm;
}

.maintenancescreen {
  margin: 50px;
}
