* {
  font-family: 'HelveticaNeue', 'Helvetica Neue', 'HelveticaNeueRoman', 'HelveticaNeue-Roman', 'Helvetica Neue Roman', 'TeXGyreHerosRegular', 'Helvetica', 'Tahoma', 'Geneva', 'Arial', sans-serif;
  font-weight: 400;
  font-stretch: normal;
  font-size: 14px;
  line-height: 17px;
  color: #666;
}

#templateBody {
  max-width: 800px;
  border-radius: 12px;
  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  background-color: #f0f0f0;
  margin: 0;
}

.margin-0 {
  margin: 0;
}

.margin-top-0 {
  margin-top: 0;
}

.margin-bottom-0 {
  margin-bottom: 0;
}

.margin-bottom-xs {
  margin-bottom: 5px;
}

.shadow-4px {
  border-bottom: 4px solid #CCCCCC;
}

.tr-shadow td, .shadow-2px {
  border-bottom: 2px solid #CCCCCC;
}

.small, .td-planlist-span.small {
  font-family: 'HelveticaNeue', 'Helvetica Neue', 'HelveticaNeueRoman', 'HelveticaNeue-Roman', 'Helvetica Neue Roman', 'TeXGyreHerosRegular', 'Helvetica', 'Tahoma', 'Geneva', 'Arial', sans-serif;
  font-weight: 400;
  font-stretch: normal;
  font-size: 11px;
  line-height: 14px;
}

.small a {
  font-size: 11px;
  line-height: 14px;
}

a {
  font-family: 'HelveticaNeue', 'Helvetica Neue', 'HelveticaNeueRoman', 'HelveticaNeue-Roman', 'Helvetica Neue Roman', 'TeXGyreHerosRegular', 'Helvetica', 'Tahoma', 'Geneva', 'Arial', sans-serif;
  font-weight: 400;
  font-stretch: normal;
  font-size: 14px;
  line-height: 17px;
  color: #85C900;
}

h2 {
  font-family: 'HelveticaNeueLight', 'HelveticaNeue-Light', 'Helvetica Neue Light', 'HelveticaNeue', 'Helvetica Neue', 'TeXGyreHerosRegular', 'Helvetica', 'Tahoma', 'Geneva', 'Arial', sans-serif;
  font-weight: 300;
  font-stretch: normal;
  font-size: 35px;
  line-height: 42px;
  color: #b3b3b3;
}

h3 {
  font-family: 'HelveticaNeueBold', 'HelveticaNeue-Bold', 'Helvetica Neue Bold', 'HelveticaNeue', 'Helvetica Neue', 'TeXGyreHerosBold', 'Helvetica', 'Tahoma', 'Geneva', 'Arial', sans-serif;
  font-weight: 600;
  font-stretch: normal;
  font-size: 18px;
  line-height: 21px;
  color: #85C900;
}

h4 {
  font-family: 'HelveticaNeueLight', 'HelveticaNeue-Light', 'Helvetica Neue Light', 'HelveticaNeue', 'Helvetica Neue', 'TeXGyreHerosRegular', 'Helvetica', 'Tahoma', 'Geneva', 'Arial', sans-serif;
  font-weight: 300;
  font-stretch: normal;
  font-size: 18px;
  line-height: 21px;
  color: #b3b3b3;
}

p, td, .font-normal, .td-planlist-span {
  font-family: 'HelveticaNeue', 'Helvetica Neue', 'HelveticaNeueRoman', 'HelveticaNeue-Roman', 'Helvetica Neue Roman', 'TeXGyreHerosRegular', 'Helvetica', 'Tahoma', 'Geneva', 'Arial', sans-serif;
  font-weight: 400;
  font-stretch: normal;
  font-size: 14px;
  line-height: 17px;
  color: #666;
}

th, .font-bold, .th-planlist, strong {
  font-family: 'HelveticaNeueBold', 'HelveticaNeue-Bold', 'Helvetica Neue Bold', 'HelveticaNeue', 'Helvetica Neue', 'TeXGyreHerosBold', 'Helvetica', 'Tahoma', 'Geneva', 'Arial', sans-serif;
  font-weight: 600;
  font-stretch: normal;
  font-size: 14px;
  line-height: 17px;
}

strong.small {
  font-family: 'HelveticaNeueBold', 'HelveticaNeue-Bold', 'Helvetica Neue Bold', 'HelveticaNeue', 'Helvetica Neue', 'TeXGyreHerosBold', 'Helvetica', 'Tahoma', 'Geneva', 'Arial', sans-serif;
  font-weight: 600;
  font-stretch: normal;
  font-size: 11px;
  line-height: 14px;
}

.font-light {
  font-family: 'HelveticaNeueLight', 'HelveticaNeue-Light', 'Helvetica Neue Light', 'HelveticaNeue', 'Helvetica Neue', 'TeXGyreHerosRegular', 'Helvetica', 'Tahoma', 'Geneva', 'Arial', sans-serif;
  font-weight: 300;
  font-stretch: normal;
  font-size: 14px;
  line-height: 17px;
  color: #666;
}

.text-align-center {
  text-align: center;
}

.table-layout {
  margin-top: 30px;
  margin-bottom: 30px;
}

.table-planlist {
  width: 100%;
}

.tr-seperator td {
  background-color: #EEE;
  height: 7px;
}

.label {
  padding: 1px 2px;
  margin-bottom: 2px;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  background-color: #5f6a6d;
  display: inline-block;
  color: #FFFFFF;
  font-family: 'HelveticaNeueBold', 'HelveticaNeue-Bold', 'Helvetica Neue Bold', 'HelveticaNeue', 'Helvetica Neue', 'TeXGyreHerosBold', 'Helvetica', 'Tahoma', 'Geneva', 'Arial', sans-serif;
  font-weight: 600;
  font-stretch: normal;
  font-size: 11px;
  line-height: 14px;
}

.table-download {
}

.table-download.onbottom {
  margin-top: 25px;
}

.table-download.ontop {
  margin-top: 25px;
  margin-bottom: 25px;
}

.table-shoppingcart td{
}

.tr-seperator-top td{
  border-top: 1px dotted #85C900;
}

.tr-subtotal td{
  border-top: 1px solid #85C900;
  border-bottom: 3px solid #85C900;
}

.emailButton {
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  background-color: #259DB5;
}

.emailButton a {
  display: block !important;
  text-decoration: none;
  font-family: 'HelveticaNeueBold', 'HelveticaNeue-Bold', 'Helvetica Neue Bold', 'HelveticaNeue', 'Helvetica Neue', 'TeXGyreHerosBold', 'Helvetica', 'Tahoma', 'Geneva', 'Arial', sans-serif;
  font-weight: 600;
  font-stretch: normal;
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
}

.emailButtonContent {
  padding: 20px 30px;

}
